{% extends 'base1.html' %}
{% block content %}

<section id="sec2">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Halo/Men._SS300_QL85_FMpng_.png" class="d-block w-100" alt="...">
                <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/EventUnrec/AugArt/AF/Halo/Women._SS300_QL85_FMpng_.png" class="d-block w-100" alt="...">
                <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Halo/Kids._SS300_QL85_FMpng_.png" class="d-block w-100" alt="...">
                <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Halo/Footwear._SS300_QL85_FMpng_.png" class="d-block w-100" alt="...">
                <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Halo/Luggage._SS300_QL85_FMpng_.png" class="d-block w-100" alt="...">
                <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Halo/Jewellery._SS300_QL85_FMpng_.png" class="d-block w-100" alt="...">
                <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Halo/Watches._SS300_QL85_FMpng_.png" class="d-block w-100" alt="...">
                <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Halo/V1/Beauty_unselected._SS300_QL85_FMpng_.png" class="d-block w-100" alt="...">
                <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Halo/Handbags._SS300_QL85_FMpng_.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
                <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Halo/Men._SS300_QL85_FMpng_.png" class="d-block w-100" alt="...">
                <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/EventUnrec/AugArt/AF/Halo/Women._SS300_QL85_FMpng_.png" class="d-block w-100" alt="...">
                <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Halo/Kids._SS300_QL85_FMpng_.png" class="d-block w-100" alt="...">
                <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Halo/Footwear._SS300_QL85_FMpng_.png" class="d-block w-100" alt="...">
                <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Halo/Luggage._SS300_QL85_FMpng_.png" class="d-block w-100" alt="...">
                <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Halo/Jewellery._SS300_QL85_FMpng_.png" class="d-block w-100" alt="...">
                <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Halo/Watches._SS300_QL85_FMpng_.png" class="d-block w-100" alt="...">
                <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Halo/V1/Beauty_unselected._SS300_QL85_FMpng_.png" class="d-block w-100" alt="...">
                <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Halo/Handbags._SS300_QL85_FMpng_.png" class="d-block w-100" alt="...">
          </div>
    
        </div>
    </div>
    </section>
    <section id="sec3">
       <div>
        <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Extra_10__cashback_on_all_prepaid_transactions_pc._CB804787382_.png" alt="">
       </div>
    </section>
    <section id="sec4">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Unrec/Tophero/Watches_1500x460._SX1500_QL85_FMpng_.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Unrec/Tophero/Trendy_Handbags_1500x460._SX1500_QL85_FMpng_.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Unrec/Tophero/SPB_1500x460._SX1500_QL85_FMpng_.png" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
    </section>
    <br><br>
    <section id="sec5">
         <div>
            <img src="https://m.media-amazon.com/images/G/31/IN/Prime/AugART/PEA2/category1_PC_1500x300.jpg" alt="">
         </div>
    </section>
    <aside id="aside">
          <div>
            <h1>
                Extra 10% cashback on all prepaid transcations
            </h1>
          </div>
    </aside>
    
    <section id="sec6">
        <div>
           <img src="https://m.media-amazon.com/images/G/31/IMG25/Fashion/Event/AugArt/AF/Revised/incremental_Multiclick_4_slots-1_v1._SX1500_QL85_FMpng_.png" alt="">
        </div>
    </section>
    <h4>
        Shop clothing
    </h4>
    <section id="sec7">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    
     <div class="carousel-item">
      <img src="https://m.media-amazon.com/images/G/31/img23/Fashion/AugustArt25/Unrec/Clothing/SBC/7._CB804977916_.png" class="d-block w-100" alt="...">
      <img src="https://m.media-amazon.com/images/G/31/img23/Fashion/AugustArt25/Unrec/Clothing/SBC/7._CB804977916_.png" class="d-block w-100" alt="...">
      <img src="https://m.media-amazon.com/images/G/31/img23/Fashion/AugustArt25/Unrec/Clothing/SBC/8._CB804977916_.png" class="d-block w-100" alt="...">
      <img src="https://m.media-amazon.com/images/G/31/img23/Fashion/AugustArt25/Unrec/Clothing/SBC/9._CB804977916_.png" class="d-block w-100" alt="...">
      <img src="https://m.media-amazon.com/images/G/31/img23/Fashion/AugustArt25/Unrec/Clothing/SBC/430._CB804977916_.png" class="d-block w-100" alt="...">
      <img src="https://m.media-amazon.com/images/G/31/img23/Fashion/AugustArt25/Unrec/Clothing/SBC/431._CB804977916_.png" class="d-block w-100" alt="...">
 
    </div>
    
  </div>
</div>
    </section>
    <br>
    <h4>
        footwear
    </h4>

    <section id="sec8">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://m.media-amazon.com/images/G/31/img23/Fashion/AugustArt25/Unrec/Footwear/SBC/432._CB804975362_.png" class="d-block w-100" alt="...">
      <img src="https://m.media-amazon.com/images/G/31/img23/Fashion/AugustArt25/Unrec/Footwear/SBC/433._CB804975362_.png" class="d-block w-100" alt="...">
      <img src="https://m.media-amazon.com/images/G/31/img23/Fashion/AugustArt25/Unrec/Footwear/SBC/435._CB804975362_.png" class="d-block w-100" alt="...">
      <img src="https://m.media-amazon.com/images/G/31/img23/Fashion/AugustArt25/Unrec/Footwear/SBC/449._CB804975362_.png"class="d-block w-100" alt="...">
      <img src="https://m.media-amazon.com/images/G/31/img23/Fashion/AugustArt25/Unrec/Footwear/SBC/436._CB804975362_.png" class="d-block w-100" alt="...">
      <img src="https://m.media-amazon.com/images/G/31/img23/Fashion/AugustArt25/Unrec/Footwear/SBC/437._CB804975362_.png" class="d-block w-100" alt="...">
    </div>
    <!-- <div class="carousel-item">
      <img src="" class="d-block w-100" alt="...">
      <img src="" class="d-block w-100" alt="...">
      <img src="" class="d-block w-100" alt="...">
      <img src="" class="d-block w-100" alt="...">
      <img src="" class="d-block w-100" alt="...">
      <img src="" class="d-block w-100" alt="...">
 
    </div> -->
    
  </div>
</div>
    </section>
    <br><br><br>
    <h4>
        Budget hands-on
    </h4>
    <section id="sec9">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- <img src="https://m.media-amazon.com/images/G/31/img23/Fashion/AugustArt25/Unrec/Footwear/SBC/432._CB804975362_.png" class="d-block w-100" alt="...">
      <img src="https://m.media-amazon.com/images/G/31/img23/Fashion/AugustArt25/Unrec/Footwear/SBC/433._CB804975362_.png" class="d-block w-100" alt="...">
      <img src="https://m.media-amazon.com/images/G/31/img23/Fashion/AugustArt25/Unrec/Footwear/SBC/435._CB804975362_.png" class="d-block w-100" alt="...">
      <img src="https://m.media-amazon.com/images/G/31/img23/Fashion/AugustArt25/Unrec/Footwear/SBC/449._CB804975362_.png"class="d-block w-100" alt="...">
      <img src="https://m.media-amazon.com/images/G/31/img23/Fashion/AugustArt25/Unrec/Footwear/SBC/436._CB804975362_.png" class="d-block w-100" alt="...">
      <img src="https://m.media-amazon.com/images/G/31/img23/Fashion/AugustArt25/Unrec/Footwear/SBC/437._CB804975362_.png" class="d-block w-100" alt="...">
    </div> -->
    <div class="carousel-item">
      <img src="https://m.media-amazon.com/images/G/31/img24/Fashion/AF/Post/Jupiter/BAU/Unrec/BudgetAddOns/Women_Watches._CB543855118_.png" class="d-block w-100" alt="...">
      <img src="https://m.media-amazon.com/images/G/31/img24/Fashion/AF/Post/Jupiter/BAU/Unrec/BudgetAddOns/Men_Watches._CB543855118_.png" class="d-block w-100" alt="...">
      <img src="https://m.media-amazon.com/images/G/31/img24/Fashion/AF/Post/Jupiter/BAU/Unrec/BudgetAddOns/Women_Jewelry._CB543855118_.png" class="d-block w-100" alt="...">
      <img src="https://m.media-amazon.com/images/G/31/img24/Fashion/AF/Post/Jupiter/BAU/Unrec/BudgetAddOns/Handbags._CB543855118_.png" class="d-block w-100" alt="...">
      <img src="https://m.media-amazon.com/images/G/31/img24/Fashion/AF/Post/Jupiter/BAU/Unrec/BudgetAddOns/Eyewear._CB543855118_.png" class="d-block w-100" alt="...">
      <img src="https://m.media-amazon.com/images/G/31/img24/Fashion/AF/Post/Jupiter/BAU/Unrec/BudgetAddOns/Men_Jewelry._CB543855118_.png" class="d-block w-100" alt="...">
 
    </div>
  </div>
</div>
    </section>
    <section id="sec7">
            <p><a href=""></a>Back to top</p>
        </section>
        <section id="sec8">
            <div id="left">
             <div>
                <ol>
                    <li class="highlight">Get to Know <br>Us</li>
                    <li>About Amazon</li> 
                   <li>Careers</li>
                   <li>Press Releases </li> 
                   <li>Amazon Science</li> 
                </ol>   
             </div>
             <div>

                <ol>
                    <li class="highlight">Connect with <br> Us</li>
                    <li>Facebook</li>
                    <li>Twitter </li>
                    <li>Instagram</li>
                </ol>
             </div>
             <div>
                <ol>
                    <li class="highlight">Make Money with Us</li>
                    <li>Sell on Amazon</li>
                    <li>Sell under Amazon Accelerator</li>
                    <li>Protect and Build Your Brand</li>
                    <li>Amazon Global Selling </li>
                    <li>Supply to Amazon</li>
                    <li>Become an Affiliate</li>
                    <li>Fulfilment by Amazon</li>
                    <li>Advertise Your Products</li>
                    <li>Amazon Pay on Merchants </li>
                    
                </ol>
             </div>
             <div>

                <ol>
                    <li class="highlight">Let Us Help You</li>
                    <li>Your Account</li>
                    <li>Returns Centre</li>
                    <li>Recalls and Product Safety Alerts</li>
                    <li>100% Purchase Protection</li>
                    <li> Amazon App Download</li>
                    <li>Help</li>
                </ol>
             </div>
             </div>
        </section>
        <section id="sec10">
            <div id="btns">
                <button><i class='bx bx-globe'></i>English</button>
                <button>India</button>
            </div>
        </section>
        <footer>
            <section id="foot">
                <div>
                    <h5>AbeBooks</h5>
                    <p>Books, art <br> & collectibles</p>
                </div>
                <div>
                    <h5>Amazon Web Services</h5>
                    <p>Scalable Cloud <br>Computing Services</p>
                </div>
                <div>
                    <h5>Audible</h5>
                    <p>Download <br> Audio Books</p>
                </div>
                <div>
                    <h5>IMDb</h5>
                    <p>Movies, TV <br> & Celebrities</p>
                </div>
                <div>
                    <h5>Shopbop</h5>
                    <p>Designer <br>Fashion Brands</p>
                </div>
                <div>
                    <h5>Amazon Business</h5>
                    <p>Everything For <br>Your Business</p>
                </div>
                <div>
                    <h5>Prime Now</h5>
                    <p>2-Hour Delivery <br>on Everyday Items</p>
                </div>
                <div>
                    <h5>Amazon Prime Music</h5>
                    <p>100 million songs, ad- <br>free <br>Over 15 million podcast <br> episodes</p>
                </div>
            </section>
        </footer>
        
        <section id="last">
            <p>Conditions of Use & Sale
            Privacy Notice
            Interest-Based Ads <br>
            © 1996-2025, Amazon.com, Inc. or its affiliates</p>
            
        </section>
  {% endblock content %}