<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        background-color: black;
    }
    section{
        margin-left: 25%;
        margin-top: 15%;
        color: white;
    }
    
    button{
        margin-left: 25%;
        font-size: 30px;
        color: black;
        border-color: black;
        background-color: white;


    }
</style>
<body>
    <section>
        <h1>SUCCESSFULLY DETAILS ARE ENTERED</h1>
      <a href="{% url 'employee_form' %}"><button>GO BACK</button></a>
    
    </section>
      
    
</body>
</html>