{% extends 'base.html' %}
{% block content %}

    <main>
        <div>
        <font style="font-size: 13px;">Home / Personal Care / <b>Beauty Gift Sets</b></font><br><br>
        <h4 style="font-size: 14px;letter-spacing: 0.5px;">Beauty Gift Sets - <font style="font-weight: 400;color: rgb(171, 164, 164);">17994 items</font></h4>
        <br><br>
        <article>
            <h4 style="font-size: 14px;letter-spacing: 0.5px;">FILTERS</h4>
            <ol>
                <li>Bundles <span><i class='bx bx-chevron-down' ></i></span></li>
                <li>Colour Family <span><i class='bx bx-chevron-down' ></i></span></li>
                <li>Colour Shade Name <span><i class='bx bx-chevron-down' ></i></li>
                <li>Country Of Origin <span><i class='bx bx-chevron-down' ></i></li>
                <li>Coverage <span><i class='bx bx-chevron-down' ></i></li>
                <li>Features <span><i class='bx bx-chevron-down' ></i></li>
                <li>Finish <span><i class='bx bx-chevron-down' ></i></li>
                <li><b>7+ more</b></li>
            </ol>
            <select name="" id="" style="width: 260px;height: 40px;margin-top: -20px;">
                <option value=""><p>Sort by:  <strong>Recommended</strong></p><i class='bx bx-chevron-down' ></i></option>
            </select>
        </article>
        </div>
    </main>

    <section>
        <article>
            <div id="div1">
                <input type="radio"> <font style="font-weight: 600;">Men</font><br>
                <input type="radio"> <font style="font-weight: 600;">Women</font><br>
                <input type="radio"> <font style="font-weight: 600;">Boys</font><br>
                <input type="radio"> <font style="font-weight: 600;">Girls</font><br>
            </div>
            <div id="div2">
                <h6 style="font-size: 14px;">&nbsp;BRAND</h6>
                <input type="checkbox"> <font style="font-weight: 200;">PERPAA(1304)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">VOLO(771)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">ME-ON(734)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">MI FASHION(612)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">CurlyTales(609)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">ForSure(527)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">FORFOR(498)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">JUICE(452)</font><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<font>+275 more</font>
            </div>
            <div id="div3">
                <h6 style="font-size: 14px;">&nbsp;PRICE</h6>
                <input type="range" style="color: rgba(243, 6, 105, 0.867);">
                <h6 style="font-size: 11px;">₹0 - ₹600+</h6>
            </div>
            <div id="div4">
                <h6 style="font-size: 14px;">&nbsp;COLOR</h6><br>
                  <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color: black; height: 15px; width: 15px; "></button>  
                    <label for="">Black<span>  (32421)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:white; height: 15px; width: 15px; "></button>  
                    <label for="">white<span>  (24482)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:blue; height: 15px; width: 15px; "></button>  
                    <label for="">blue<span>  (18707)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:pink; height: 15px; width: 15px; "></button>  
                    <label for="">pink<span>  (14435)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:green; height: 15px; width: 15px; "></button>  
                    <label for="">green<span>  (14451)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:red; height: 15px; width: 15px; "></button>  
                    <label for="">red<span>  (8497)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:yellow; height: 15px; width: 15px; "></button>  
                    <label for="">yellow<span>  (7394)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:navy; height: 15px; width: 15px; "></button>  
                    <label for="">navy blue<span>  (6637)  </span></label> <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<font>+10 more</font>
            </div>
            <div id="div5">
                    <h6 style="font-size: 14px;">&nbsp;DISCOUNT RANGE</h6><br>
                    <input type="radio" name="" id="">   
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">10% and above</label> <br>
                    <input type="radio" name="" id="">
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">20% and above</label><br>
                    <input type="radio" name="" id="">    
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">30% and above</label> <br>
                    <input type="radio" name="" id="">
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">40% and above</label><br>
                    <input type="radio" name="" id="">    
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">50% and above</label> <br>
                    <input type="radio" name="" id="">
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">60% and above</label><br>
                    <input type="radio" name="" id="">    
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">70% and above</label><br>
                    <input type="radio" name="" id="">
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">80% and above</label><br>
                    <input type="radio" name="" id="">
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">90% and above</label> <br>

            </div>
        </article>
    <div>
        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31275491/2024/10/14/0eca206e-b385-4b1e-a769-f773d40a574a1728909053023-Mercedes-Benz-Set-Of-2-Long-Lasting-Eau-De-Parfum---90-ml-Wi-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/27098272/2024/1/20/81b5771c-e48b-4601-8b85-e31184910f821705751523946Perfume1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/28798182/2024/8/20/c1bb4d7c-9e41-45c0-a75e-7d0a2793fc711724146042248-Carlton-London-Set-Of-4-Blush-Body-Lotion--Gel-EDP--Candle-G-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/productimage/2020/8/1/40c038f2-ae82-4f13-a0d0-645e699c6c141596234950083-1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/27098270/2024/1/20/a6f92d97-39c4-4024-b503-fd7e7dbf3ce41705754097818CristianoRonaldoCR7PlayItCoolGiftSetEaudeToilette30mlShowerG1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/19408462/2022/8/6/651686d6-2a9d-4791-9e06-79f1fb3fde611659766161550BeautyGiftSet1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31966964/2024/12/13/b5f39f68-11d2-4eaf-8a6a-3dbb6ef158901734114291623LipGloss1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/5671680/2019/1/11/cda228b7-b87e-468c-b564-4b023475f2581547196604772-Colorbar-Beauty-Gift-Set-6931547196604007-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/productimage/2020/8/1/961f4d28-6dce-4575-b1d3-e122558ff28e1596235296246-1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13905688/2023/9/8/a8c746a0-3cae-485c-9397-bcff829c46fb1694168897755-Maybelline-New-York-Set-of-Colossal-Bold-Liner--Colossal-Kaj-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/27217566/2025/6/24/fe48f814-4ba9-4ee1-8e8a-aa83240d77e61750749049566-Vedicline-Papaya--Lime-Facial-Kit-for-Tan-Blemishes--Pigment-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/29311470/2024/5/3/e2cb6571-e69e-4c80-81ba-d1c867ba19b01714734281227TotalDe-TanRegime-Packof61.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/APRIL/15/dAgMpvrj_231970a33cb2438f8e3faed8f87fff65.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/16380382/2024/10/5/38a76487-82c7-478c-83d4-6be19acd43da1728126945157-RAS-LUXURY-OILS-Set-of-4-Tinted-Lip-Balm-Miniature-284172812-1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/29311464/2024/5/3/f288b912-9eb1-42d0-bd64-7587dbbc3db61714730217828EverythingBlancKit-Packof51.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/12195276/2022/4/3/b782cb28-feda-4a86-a98b-ed5988b5b5131648967571201NutriGlowSetofPowerof4FacialKit5-in-1PortableFaceMassager1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/MARCH/29/1fCMA4mI_48f33f43903448cba27c64096d566243.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/28006168/2024/3/4/ee391c4e-b7a4-464d-98f4-38d0e13d00d61709544575199FragranceGiftSet1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31966966/2024/12/13/5eda5e38-0a8e-488a-b010-5e22725c3ddb1734114292417LipGloss1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/15747676/2021/12/22/07eb5b4f-d336-430c-83cd-d48e5ee0f7d51640161658243-TNW-the-natural-wash-Unisex-Combo-of-Aloe-Vera-Gold-Gel--Sun-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/10287813/2023/12/27/4c698ea5-5622-452b-87bd-6ed06112d48d1703647658185-Khadi-Natural-Unisex-Beauty-Gift-Set-7471703647657867-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/12480188/2022/4/3/f9f37df5-cb44-4dda-b74c-3d291dc3a1ea1648967643491NutriGlowAdvancedOrganicsSetof2DermaRepairFaceWash200ml1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/10375573/2023/9/20/f0478463-df4e-49e8-ac57-e28fd8a0404a1695194437689VEGAEYELASHBROWSETSETOF3TOOLS_EBS-011.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/15910770/2021/10/24/81834e1d-60e7-4820-9b8e-32b181d957331635057987712BeautyGiftSet1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/27667686/2024/2/19/7c3807a3-55bb-4caf-8721-5ba0b38d51dd1708317249225SkinCareGiftSet1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/24947468/2025/1/10/c2d1add1-9acb-46aa-a2d4-5b40a8b275641736485832165-Just-Herbs-Set-Of-4-Travel-Touch-Up-Makeup-Kit-7421736485831-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/19100072/2022/7/14/3688c215-28ec-4b73-822e-830ed718ea431657796298349AYAVitaminCFaceSerum50mlandWaterproofEyelinerBlue5ml1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22606880/2023/4/1/d8ff1c03-46dc-4bf5-bd50-81b361ee08561680357759384BeautyGiftSet1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/15747672/2021/10/7/dbf7108f-2050-42bb-828b-87ab5358bd681633588425871BeautyGiftSet1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/23710290/2023/6/21/a31f3b51-fe66-4e05-9487-58102f9519e81687338797970BeautyGiftSet1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/10287771/2023/8/30/4c905d9e-bd62-4f4c-8e23-951232fc4d5e1693397534686-Khadi-Natural-Hair-Care-Collection-9441693397534344-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/16365778/2021/12/4/506bf087-8513-4232-812d-44f60274a4de1638607611773BeautyGiftSet1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/34803366/2025/6/12/be1b406e-b4d5-491d-a161-722877c647571749741033006-Nat-Habit-Set-Of-8-Fresh-Ayurveda-Starter-Kit-For-Skin-Hair--1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/APRIL/17/bjLOOK3x_dabd8731066040d29225b919fc03f26a.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31966968/2024/12/13/7c06812b-518d-415f-a90c-62d1d8e5b06d1734114292836LipGloss1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/10375585/2023/9/20/d79803de-4295-49ab-b57b-bbdbd66448161695194427909VEGAEYELASHBROWSETSETOF3TOOLS_EBS-01ManicureandPedicureKitVE1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/29311474/2024/5/3/7991729e-636c-4fba-8147-fda0d866b5b41714728871000HisHerGroomingKit1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/28006170/2024/3/4/124f80e7-0151-48ae-8304-3d9e91091a3d1709532549226FragranceGiftSet1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/26980166/2024/1/19/c1b9bb4f-9c71-44b8-ac97-df976a8707f31705656643772Globusnaturals3-PcsBodyLotion-CrackCreamFaceCreamGiftSet1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/25976058/2025/7/12/419c8704-b09a-4eb8-b794-ebb872dfff0e1752323111614-OHRIA-AYURVEDA-Set-Of-3-Hair-Cleanser---50ml-Face-Wash---30m-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/24521926/2023/8/17/6f8d9958-1771-4407-9514-29d03f6249fb1692262723727BlueNectarAntiDandruffHairOilwithNeemAntiDandruffHairCleanse1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/24521920/2023/8/17/41ad3f26-a682-4299-9e49-245922491f861692262457265HairCareCombo1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/24025500/2025/5/22/4bd0ea9f-e43f-4856-a4bf-5b0e0d116e2e1747927834537-FEELHIGH-Set-Of-2-Herbal-Scrub--Foot-Scrub-500ml-Each-862174-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/23719962/2023/6/22/49673ff8-0eea-48c0-9755-8df688b74b211687408074671BeautyGiftSet1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/23719960/2023/6/22/1913bb10-1072-41c3-bd9f-d2a512c174bf1687408893217BeautyGiftSet1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/23711186/2023/6/21/9a80a568-05f1-4331-b383-0925cf5e71b21687341693420BeautyGiftSet1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/10287815/2024/5/28/cd35fcb8-9d2d-4547-9374-d120eb44676c1716879442024-Khadi-Natural-Set-of-4-Ayurvedic-Handmade-Soap-Kit-857171687-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/15747676/2021/12/22/07eb5b4f-d336-430c-83cd-d48e5ee0f7d51640161658243-TNW-the-natural-wash-Unisex-Combo-of-Aloe-Vera-Gold-Gel--Sun-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13905688/2023/9/8/a8c746a0-3cae-485c-9397-bcff829c46fb1694168897755-Maybelline-New-York-Set-of-Colossal-Bold-Liner--Colossal-Kaj-1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/19408462/2022/8/6/651686d6-2a9d-4791-9e06-79f1fb3fde611659766161550BeautyGiftSet1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <br><br>
        <hr>
        <br>
        <div id="lastpart">
        <font style="font-size: 25px;color: rgb(108, 111, 111);padding-bottom: 8px;"><i class='bx bx-chevrons-left' ></i></font><h4 style="color: rgb(108, 111, 111);padding-bottom: 10px;font-size: 15px;"> Page 1</h4>
        <button style="width:120px;height: 40px;font-size: 17px;font-weight: 600;color: rgb(108, 111, 111);background-color: white;border-radius: 3px;border: 0.1px solid;margin-top: -10px;border-color: rgb(199, 202, 202);"><i class='bx bx-chevron-left' ></i> Previous</button>
        <p style="padding-bottom: 10px;margin-left: 30px;font-size: 13px;">Page 1 of 360</p>
        <button style="width:90px;height: 40px;font-size: 17px;font-weight: 600;color: black;background-color: white;border-radius: 3px;border: 0.1px solid;margin-top: -10px;margin-left: 30px;border-color: rgb(199, 202, 202);">Next <i class='bx bx-chevron-right'></i></button>
        </div>
        <br><br><br><br><br><br><br>
    </div>
    </section>

    <section id="sec1">
        <aside style="width: 690px;text-align: justify;text-justify: inter-word;">
            <h4 style="color: rgb(108, 111, 111);text-align: center;font-size: 14px;font-weight: 800;letter-spacing: 0.5px;">BUY LIPSTICK</h4>
            <br>
            <br>
            <p>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">LIPSTICK AT MYNTRA: LET YOUR LIPS DO THE TALKING</h6><br>
                <font style="color: rgb(108, 111, 111);font-size: 13px;">
                    For many, lips are the most sensual part of your body. But to really get that attention-grabbing touch, you need a<br>
                    dash of colour and glow. Among all the <b>cosmetics</b> that are available nowadays, one particular product that helps<br>
                    you get that shine is the lipstick. With numerous options features various oils, waxes and eye-catching pigments,<br>
                    lipsticks can brighten things up for you in a jiffy.
                    <br><br>
                    Lip colour has been used in ancient times by Sumerians and even by people of the Indus Valley civilisation.<br>
                    Egyptian royalty used to apply colour on their lips as a symbol of power, beauty and youthfulness. Adding colour<br>
                    to your lips was considered taboo in the early 20th century until Hollywood stars helped popularise it as regular<br>
                    makeup. The first modern swivel up lip colour tube appeared in 1923.
                    <br><br>
                    Today, this cosmetics must-have is an important part of every woman's <b>makeup kit</b>. Myntra brings you the best of<br>
                    branded lipsticks online. Choose your favourite lipstick shades and let your lips do the talking. 
                </font>
                <br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">MYNTRA'S LIPSTICK COLLECTION: FOR LUSCIOUS LIPS AND AN ALLURING SMILE</h6><br>
                <font style="color: rgb(108, 111, 111);font-size: 13px;">
                    Myntra's brings you a wide array of lipstick colours and smooth and creamy textures. You can choose from among<br>
                    crayon, liquid, or pencil applicators. Select the type of finish that you would like such as matte, creme, pearl or<br>
                    glossy. Our lipstick brands offer the best quality <b>makeup</b> products which have been thoroughly checked.<br><br>

                    To start with, here is a list of the various types of lipsticks online at Myntra from which you can choose the ones<br>
                    best for your lips:
                    <br><br>
                    <ul class="ul1" style="list-style: none;margin-left: 30px;">
                        <li>1.When your lip colour starts to run or smudge it gets quite embarrassing. We bring you a lineup of long-<br>
                              lasting lipsticks equipped with advanced polymer technology. This offers a high degree of pigmentation to<br>
                              increase the effectiveness of your lip colour. To increase the longevity of your lip colour, you can also use a<br>
                              primer as a base. Alternatively, you can buy lipsticks online with a built-in primer.</li>
                        <li>2.Choose lipsticks with special features which offer better protection for your lips. Versions with SPF would<br>
                          let you face the sun outside with courage. Meanwhile, smudge-free liquid varieties ensure that the colour<br>
                          does not leak and is long-wearing. </li>
                        <li>3.If your lips are on the drier side and you are worried about losing their moisture, opt for a bit of hydration.<br>
                          Moisturising lipsticks are enriched with vitamin E and help keep your lips soft and supple for hours. Try a<br>
                          special formulation which features precious oils which would help smoothen the cracks on your lips and<br>
                          give them a petal-like feel.</li>
                    </ul>
                    <br>
                    And there are more varieties to choose from in a lipstick price range that is quite affordable. <br>
                </font>
                <br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">BUY LIPSTICK ONLINE IN A SNAP</h6><br>
                <font style="color: rgb(108, 111, 111);font-size: 13px;">
                    If you need your favourite lip colour shades in a jiffy, you can shop for them in an instant at Myntra.Our simplified<br>
                    purchase processes help you buy lipsticks online without any hassles. Make sure you also have a look at our<br>
                    exclusive selection of other makeup-essentials such as eyeliner, kajal and compact. <br><br>
                 <h6 style="color: rgb(108, 111, 111);font-size: 12px;">TOP SEARCHES</h6><br>
                   <b>Lakme Lipstick, Maybelline Lipstick, M.A.C Lipstick, Nude Lipstick, Matte Lipstick, Sugar Lipstick, Elle 18<br>
                    Lipstick, Liquid Lipstick, Colorbar Lipstick, Lakme 9 to 5 Lipstick, Red Lipstick, Pink Lipstick, Revlon<br>
                    Lipstick, Loreal Lipstick, Peach Lipstick, Black Lipstick, Lipsticks under 1499, Lipsticks under 499</b><br><br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">WHICH LIPSTICK IS BEST?</h6><br>
                    The best lipsticks have a lightweight, long-lasting, moisturising, and smudge-proof formula that can get you <br>
                    through a good 5-6 hours of the day without re-application.<br><br>
                    You can find lipsticks that give you a satin, glossy, matte, and pearl finish every time you wear it. Also, you can<br>
                    select lipstick ingredients according to your preference, be it alcohol-free or infused with herbal ingredients. <br>
                <br><h6 style="color: rgb(108, 111, 111);font-size: 12px;">HOW DO I APPLY LIPSTICK?</h6><br>
                <ul class="ul1" style="list-style: none;margin-left: 30px;"><br>
                        <li>1. Always start by applying lip balm for having an even application of lipstick. Lip balms help in reducing <br>
                               crevices and help make lips smoother.</li>
                        <li>2. Choose a lip liner that matches your lips and not your lipstick. Use a lip pencil and make small strokes at <br>
                            different points along the outline. Finally, connect the strokes using a lip liner to connect the dots.</li>
                        <li>Then pick up a lipstick of your choice and start filling it in the outline you just made. Make sure you start <br>
                            from the centre and then move from one corner to the other.</li>
                        <li>Lastly, keep your teeth clean from lipsticks marks by using a tissue paper. Fold it in half and then blot it on <br>
                            your lips. You can also dust a little powder on the tissue paper and dab it on your lips.</li>
                </ul><br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">WHAT IS NUDE LIPSTICK?</h6>
                <br><br>
                    Lipsticks with pigments as close to your own lip colour are referred to as nude lipsticks. Each individual has a <br>
                    unique lip colour and thus the shade of nude varies. For this reason, the market is flooded with varying shades of <br>
                    nude lipsticks. <br>
                    This subtle lipstick shade usually blends in with the colour of your lips, making it look more natural. <br>
                <br><br>
                <h2>Explore Timeless Lipstick Shades from Top Beauty Brands</h2><br>
                <table border="2px solid" style="width:600px;height:130px;text-align: center;font-weight: 500;">
                    <tr>
                        <td>Maybelline Lipstick</td>
                        <td>Lakme Lipstick</td>
                        <td>Myglamm Lipstick</td>
                        <td>Mamaearth Lipstick</td>
                    </tr>
                    <tr>
                        <td>Sugar Lipstick</td>
                        <td>MAC Lipstick</td>
                        <td>Swiss Beauty Lipstick</td>
                        <td>Mars Lipstick</td>
                    </tr>
                    <tr>
                        <td>Renee Lipstick</td>
                        <td>Just Herbs Lipstick</td>
                        <td>Faces Canada Lipstick</td>
                        <td>Elle 18 Lipstick</td>
                    </tr>
                </table>
                <br>
                <h3>VIDEO: How to choose the best lipstick for different skin tones</h3>
                <br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/EUPhlhBBzd0?si=FgOPTxAVy9hTmXAE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <br>
                Often associated with sensuality, the beauty of lips is truly reflected when it gets a dash of colour and shine. A<br>
                Lipstick does that job well while also offering it some much-needed texture with finishing options like a matte<br>
                lipstick, liquid lipstick, to name a few. In this video, we explore which shade of lipstick best complements your skin
                tone.<br>
            </font>
            </p>
        </aside>   
        <div>
            <h4 style="color: rgb(108, 111, 111);text-align: center;font-size: 14px;font-weight: 800;letter-spacing: 0.5px;">LIPSTICK PRICE LIST</h4>
            <br><br>
            <article>
            <ol>
                <li style="font-weight: 400;color: rgb(108, 111, 111);"><b>Lipstick</b></li>
                <br>
                <li>Clinique Almost Lipstick In Black Honey - 1.9g</li>
                <br>
                <li>M.A.C MACximal Matte Mini Lipstick - Ruby Woo</li>
                <br>
                <li>Maybelline New York Color Sensational Creamy Matte<br>
                    Lipstick - 657 Nude Nuance - 3.9g</li>
                <br>
                <li>Maybelline New York Super Stay Matte Ink Liquid Lipstick 5 <br>
                    ml - Founder 115</li>
                <br>                
                <li>Mamaearth Creamy Matte Long Stay Lipstick With <br>
                    Murumuru Butter- 4.2g-Hibiscus Nude</li>
                <br>
                <li>Mamaearth Creamy Matte Long Stay Lipstick With <br>
                    Murumuru Butter - 4.2g - Cranberry Crush</li>
                <br>
                <li>Maybelline New York Super Stay Matte Ink Liquid Lipstick 5 <br>
                    ml - Amazonian 70</li>
                <br>
                <li>Pilgrim Matte Bullet Intense Colour Transferproof & <br>
                    Smudgeproof Lipstick - Nude Kiss 31</li>
                <br>
                <li>Maybelline New York Color Sensational Creamy Matte <br>
                    Lipstick - Touch of Spice 660</li>
                <br>
                <li>Maybelline New York Super Stay Matte Ink Liquid Lipstick 5 <br>
                    ml - Ambitious 220</li>
                <br>
                <li style="font-weight: 400;"><b><em>Data last updated on 21/07/2025</em></b></li>
            </ol>
            <ul>
                <li style="line-height: 14px;font-weight: 400;color: rgb(108, 111, 111);">
                    <b>PRICE<br>(RS)</b>
                </li>
                <li>Rs. 2300</li>
                <li>Rs. 1150</li>
                <li style="line-height: 52px;">Rs. 207</li>
                <li style="line-height: 50px;">Rs. 440</li>
                <li style="line-height: 75px;">Rs. 359</li>
                <li style="line-height: 75px;">Rs. 359</li>
                <li style="line-height: 50px;">Rs. 419</li>
                <li style="line-height: 60px;">Rs. 446</li>
                <li style="line-height: 60px;">Rs. 203</li>
                <li>Rs. 471</li>
            </ul>
            </article>
        </div>
    </section>
    