{% extends 'base.html' %}
{% block content %}

<main>
        <div>
        <font style="font-size: 13px;">Home / Personal Care / <b>Body Mist</b></font><br><br>
        <h4 style="font-size: 14px;letter-spacing: 0.5px;">Body Mist - <font style="font-weight: 400;color: rgb(171, 164, 164);">822 items</font></h4>
        <br><br>
        <article>
            <h4 style="font-size: 14px;letter-spacing: 0.5px;">FILTERS</h4>
            <ol>
                <li>Bundles <span><i class='bx bx-chevron-down' ></i></span></li>
                <li>Colour Family <span><i class='bx bx-chevron-down' ></i></span></li>
                <li>Colour Shade Name <span><i class='bx bx-chevron-down' ></i></li>
                <li>Country Of Origin <span><i class='bx bx-chevron-down' ></i></li>
                <li>Coverage <span><i class='bx bx-chevron-down' ></i></li>
                <li>Features <span><i class='bx bx-chevron-down' ></i></li>
                <li>Finish <span><i class='bx bx-chevron-down' ></i></li>
                <li><b>7+ more</b></li>
            </ol>
            <select name="" id="" style="width: 260px;height: 40px;margin-top: -20px;">
                <option value=""><p>Sort by:  <strong>Recommended</strong></p><i class='bx bx-chevron-down' ></i></option>
            </select>
        </article>
        </div>
    </main>

    <section>
        <article>
            <div id="div1">
                <input type="radio"> <font style="font-weight: 600;">Men</font><br>
                <input type="radio"> <font style="font-weight: 600;">Women</font><br>
                <input type="radio"> <font style="font-weight: 600;">Boys</font><br>
                <input type="radio"> <font style="font-weight: 600;">Girls</font><br>
            </div>
            <div id="div2">
                <h6 style="font-size: 14px;">&nbsp;BRAND</h6>
                <input type="checkbox"> <font style="font-weight: 200;">PERPAA(1304)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">VOLO(771)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">ME-ON(734)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">MI FASHION(612)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">CurlyTales(609)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">ForSure(527)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">FORFOR(498)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">JUICE(452)</font><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<font>+275 more</font>
            </div>
            <div id="div3">
                <h6 style="font-size: 14px;">&nbsp;PRICE</h6>
                <input type="range" style="color: rgba(243, 6, 105, 0.867);">
                <h6 style="font-size: 11px;">₹0 - ₹600+</h6>
            </div>
            <div id="div4">
                <h6 style="font-size: 14px;">&nbsp;COLOR</h6><br>
                  <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color: black; height: 15px; width: 15px; "></button>  
                    <label for="">Black<span>  (32421)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:white; height: 15px; width: 15px; "></button>  
                    <label for="">white<span>  (24482)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:blue; height: 15px; width: 15px; "></button>  
                    <label for="">blue<span>  (18707)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:pink; height: 15px; width: 15px; "></button>  
                    <label for="">pink<span>  (14435)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:green; height: 15px; width: 15px; "></button>  
                    <label for="">green<span>  (14451)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:red; height: 15px; width: 15px; "></button>  
                    <label for="">red<span>  (8497)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:yellow; height: 15px; width: 15px; "></button>  
                    <label for="">yellow<span>  (7394)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:navy; height: 15px; width: 15px; "></button>  
                    <label for="">navy blue<span>  (6637)  </span></label> <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<font>+10 more</font>
            </div>
            <div id="div5">
                    <h6 style="font-size: 14px;">&nbsp;DISCOUNT RANGE</h6><br>
                    <input type="radio" name="" id="">   
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">10% and above</label> <br>
                    <input type="radio" name="" id="">
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">20% and above</label><br>
                    <input type="radio" name="" id="">    
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">30% and above</label> <br>
                    <input type="radio" name="" id="">
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">40% and above</label><br>
                    <input type="radio" name="" id="">    
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">50% and above</label> <br>
                    <input type="radio" name="" id="">
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">60% and above</label><br>
                    <input type="radio" name="" id="">    
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">70% and above</label><br>
                    <input type="radio" name="" id="">
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">80% and above</label><br>
                    <input type="radio" name="" id="">
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">90% and above</label> <br>

            </div>
        </article>
    <div>
    <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13741238/2024/11/14/f581890b-e548-44a9-a7da-1866cfabbf1e1731565261574-Forest-Essentials-Travel-Size-Hydrating-Body-Mist-Spray-Narg-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/30038128/2024/6/25/c88ca41e-c910-42cf-a83d-ba0dd8fa73ec1719292466557BodyMistandSpray1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/20201002/2025/6/6/6a82b52d-cfa9-4865-b78a-352a14441fe31749232047266-Plum-Women-BodyLovin-Vanilla-Vibes-Long-Lasting-Warm-Vanilla-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/AUGUST/22/Fvbf2Ld0_33d4cedc3efd470abc9b9a0aa57a7568.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/12248278/2025/6/6/64a8691e-0a63-4d32-8d1b-45390284844b1749232012282-Plum-Women-BodyLovin-Vanilla-Vibes-Long-Lasting-Warm-Vanilla-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22519942/2023/8/30/260d2ce3-ef47-4ba2-8734-5777204765171693398331364-Bella-Vita-Organic-Luxury-Women-Date-Long-Lasting-Body-Mist--1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/APRIL/17/1G2Os0xh_2dab8fcbb7bf466fb7136251cb8d1ded.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13741232/2024/10/8/87d1f442-06d5-4e6f-b882-0058e453d77e1728378102540-Forest-Essentials-Hydrating-Body-Mist-Spray-Oudh--Green-Tea--1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/APRIL/17/ffXCxtHE_724045ab205b425b9395bd1236c67560.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13892002/2021/8/27/2f5ac42f-5328-4fd0-aef8-791cf133dc2e1630061391031-DressBerry-Women-Perfume-and-Body-Mist-4191630061390845-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/7322585/2022/7/24/60b22c8c-9766-4756-870f-adca0dcf42f31658653015818CarolinaHerreraMen212VIPEaudeToilette200ml1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/productimage/2021/7/8/2a65f3d6-c1ae-497a-ab80-d1728ef6fe181625749935239-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/20200994/2024/6/28/1d4db3f8-c0fb-465a-8876-648fdbc743861719563817065PlumBodyLovinHawaiianRumbaLongLastingBeachyFragranceBodyMist1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/12529662/2023/6/21/ecfbd2bd-c8bf-4825-9575-f41e87cb69201687326530081-Forest-Essentials-Hydrating-Body-Mist-Rose--Cardamom-with-Fl-1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/8979541/2023/11/8/9d53c3c9-fee5-447e-a49d-f74c72f38c4e1699437335862-Ponds-Women-Magic-Freshness-Acacia-Honey-Talc-400-g-68516994-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/30038127/2024/6/25/998be203-fb1e-42dc-b7bf-95287e28855f1719290635760BodyMistandSpray1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/18741060/2024/7/19/88663a6c-2507-4e92-861f-1cbac42d859b1721388165016EnvyMenNaturalGas-FreeLong-LastingBodySpray-70ml1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22519934/2023/8/30/39dbbd62-0793-4dc9-bfdb-a35c3e0239c11693398300868-Bella-Vita-Organic-Luxury-Women-Senorita-Long-Lasting-Body-M-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/30038126/2024/6/25/fc10d1dd-dd19-4d5d-a3b4-58df69abe1401719292842159BodyMistandSpray1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/33055865/2025/3/11/109c6c9d-d192-4b88-b10e-40075c33bca91741699600126-Nautica-Jasmine-Coast-Long-Lasting-Body-Mist---250-ml-515174-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/14050186/2024/5/20/4f66a97d-782c-4fed-9a10-c6c1467609b01716201906361PlumWomenBodyLovinOrchid-You-NotLongLastingFreshFloralFragra1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/OCTOBER/21/wkdPyMJD_c3de0b9dcda146989d1b872ea05e3dec.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/MAY/24/Prv8xd0X_9a64594f19b14a0181c374a328bcb50c.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/30048637/2024/6/26/60e8e9d1-f7f7-4223-92b6-8314a42e4aa61719397385526BodyMistandSpray1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/12248274/2025/6/6/8d810696-ab7c-45e6-8273-74db0fcbc9401749232003160-Plum-BodyLovin-Hawaiian-Rumba-Long-Lasting-Beachy-Fragrance--1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/18741062/2024/7/19/c2565153-30ff-47a1-add8-7e730ce344e31721388165711EnvyWomenNaturalBodySpray-70ml1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/14050188/2024/5/20/aedb9d5d-2dd2-4fd2-a70d-32a1876d41731716201712199PlumBodyLovinTrippinMimosasLongLastingCitrusyFragranceBodyMi1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/18741070/2022/6/29/7868873f-d5dc-46a9-bba6-db1e0fceda8b1656495028475CuteCrittersPedestal3-WickCandleHolderHandWashandSanitizerBa1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31265468/2024/10/14/da39e71c-044b-40fd-8c00-eef04f5e11391728908949861-DKNY-Women-Original-Body-Mist---250-ml-221728908949610-1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22405084/2024/5/20/18e17005-41fa-47a3-a030-7881ddb5efbf1716201811385PlumBodyLovinSmokinVanillaBodyMist-150ml1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22519938/2023/8/30/64a1748f-b374-4986-9de5-6958ae4d58b81693398311507-Bella-Vita-Organic-Luxury-Women-Glam-Body-Mist---150-ml-6481-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/28549586/2024/3/28/b0409c00-dc36-4b46-a368-ec1a0d5255e41711614419624BodyMistandSpray1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/27621272/2024/5/20/029ae34b-84a9-4637-8764-3d975e3094181716201886047PlumBodyLovinLimitedEdition50ShadesOfWomenBodyMist-150ml1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31631617/2025/5/6/c72dc214-5da7-4058-9d81-207904fae7571746533975187-FIXDERMA-Salyzap-2-Salicylic-Acid-Non-Irritating-Body-Acne-S-1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/24694942/2025/6/25/2899b8ec-c609-4f0e-aef1-ed73ec0f3fe11750841084693-FIXDERMA-Salyzap-Body-Acne-Spray-50ml-2321750841084197-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/MAY/2/QR7ZiVNB_d0a9aa6ceb1544cc8e809a8ccf5acb0a.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13892008/2021/5/17/0870932e-9ca6-4bee-b322-9f18a67f842e1621255378476-DressBerry-Women-Perfume-and-Body-Mist-6051621255377458-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/12275418/2021/5/17/614efd28-1676-4b65-97c4-f63ee44540d41621255376111-DressBerry-Set-of-2-Crush-Fragnance-Body-Mists-4816212553751-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/7669602/2021/8/17/41b9a066-a95e-4cb3-a916-263ceb4f552a1629173279363-DressBerry-Women-Blush-Fragrance-Mist-190-ml-549162917327873-1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31959111/2024/12/13/182c1d94-a60f-4dc3-9f2d-1b1eb13390761734090987608DKNYBeDeliciousPoolPartyLimeMojitoFragranceMist250ml1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/18741048/2022/6/29/534bfcde-f368-4b3a-ac68-cd653073626f1656493090747-Envy-Women-Perfume-and-Body-Mist-3221656493090686-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/12275420/2021/4/8/a26cc3c5-c581-4739-9d04-86f77e8905dc1617873849224-DressBerry-Women-Perfume-and-Body-Mist-2491617873848881-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31959110/2024/12/13/af191c48-e8c3-4619-a1a7-6800690468a71734086584719DKNYBeDeliciousPoolPartyBayBreezeFragranceMist250ml1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/23462196/2023/9/22/762e93f9-c07f-4bf5-8e1c-45248ee1b4341695366192827-SKINN-Women-Berry-Rhapsody-Body-Mist---230-ml-66416953661924-1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/23462198/2023/9/22/1e1f7c38-7da6-49fa-81c8-1035b9bfcc391695366232285-SKINN-Women-Citrus-Zest-Body-Mist---230-ml-6771695366231942-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31381266/2024/11/11/3ff5690a-580d-469e-ae6b-0754f2ef85521731333955328-DKNY-Be-Delicious-Orchard-Street-Body-Mist---250-ml-70517313-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/23462194/2023/9/7/8a91e676-340a-437e-9f92-472be5bf7ded1694080926420-SKINN--Women-Caramel-Charm-Body-Mist---230-ml-79816940809260-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/27381440/2024/9/13/281be1c0-0b4b-4c43-aadc-8340a45ac35a1726231612857-Renee-Women-Set-of-4-Long-Lasting-Body-Mist---20-ml-each-359-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/MAY/2/1gF9dpaq_ecc78de4f0d9495fb9e52b2d03fd94ac.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/21520994/2024/6/25/4b2f9f1e-6cfd-4cea-9831-e82c539a3ed91719307716666-Envy-Men-Gravity-Perfume-Spray---60-ml-3801719307716597-12.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>
        <br><br>
        <hr>
        <br>
        <div id="lastpart">
        <font style="font-size: 25px;color: rgb(108, 111, 111);padding-bottom: 8px;"><i class='bx bx-chevrons-left' ></i></font><h4 style="color: rgb(108, 111, 111);padding-bottom: 10px;font-size: 15px;"> Page 1</h4>
        <button style="width:120px;height: 40px;font-size: 17px;font-weight: 600;color: rgb(108, 111, 111);background-color: white;border-radius: 3px;border: 0.1px solid;margin-top: -10px;border-color: rgb(199, 202, 202);"><i class='bx bx-chevron-left' ></i> Previous</button>
        <p style="padding-bottom: 10px;margin-left: 30px;font-size: 13px;">Page 1 of 360</p>
        <button style="width:90px;height: 40px;font-size: 17px;font-weight: 600;color: black;background-color: white;border-radius: 3px;border: 0.1px solid;margin-top: -10px;margin-left: 30px;border-color: rgb(199, 202, 202);">Next <i class='bx bx-chevron-right'></i></button>
        </div>
        <br><br><br><br><br><br><br>
    </div>
    </section>

    <section id="sec1">
        <aside style="width: 690px;text-align: justify;text-justify: inter-word;">
            <h4 style="color: rgb(108, 111, 111);text-align: center;font-size: 14px;font-weight: 800;letter-spacing: 0.5px;">BUY LIPSTICK</h4>
            <br>
            <br>
            <p>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">LIPSTICK AT MYNTRA: LET YOUR LIPS DO THE TALKING</h6><br>
                <font style="color: rgb(108, 111, 111);font-size: 13px;">
                    For many, lips are the most sensual part of your body. But to really get that attention-grabbing touch, you need a<br>
                    dash of colour and glow. Among all the <b>cosmetics</b> that are available nowadays, one particular product that helps<br>
                    you get that shine is the lipstick. With numerous options features various oils, waxes and eye-catching pigments,<br>
                    lipsticks can brighten things up for you in a jiffy.
                    <br><br>
                    Lip colour has been used in ancient times by Sumerians and even by people of the Indus Valley civilisation.<br>
                    Egyptian royalty used to apply colour on their lips as a symbol of power, beauty and youthfulness. Adding colour<br>
                    to your lips was considered taboo in the early 20th century until Hollywood stars helped popularise it as regular<br>
                    makeup. The first modern swivel up lip colour tube appeared in 1923.
                    <br><br>
                    Today, this cosmetics must-have is an important part of every woman's <b>makeup kit</b>. Myntra brings you the best of<br>
                    branded lipsticks online. Choose your favourite lipstick shades and let your lips do the talking. 
                </font>
                <br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">MYNTRA'S LIPSTICK COLLECTION: FOR LUSCIOUS LIPS AND AN ALLURING SMILE</h6><br>
                <font style="color: rgb(108, 111, 111);font-size: 13px;">
                    Myntra's brings you a wide array of lipstick colours and smooth and creamy textures. You can choose from among<br>
                    crayon, liquid, or pencil applicators. Select the type of finish that you would like such as matte, creme, pearl or<br>
                    glossy. Our lipstick brands offer the best quality <b>makeup</b> products which have been thoroughly checked.<br><br>

                    To start with, here is a list of the various types of lipsticks online at Myntra from which you can choose the ones<br>
                    best for your lips:
                    <br><br>
                    <ul class="ul1" style="list-style: none;margin-left: 30px;">
                        <li>1.When your lip colour starts to run or smudge it gets quite embarrassing. We bring you a lineup of long-<br>
                              lasting lipsticks equipped with advanced polymer technology. This offers a high degree of pigmentation to<br>
                              increase the effectiveness of your lip colour. To increase the longevity of your lip colour, you can also use a<br>
                              primer as a base. Alternatively, you can buy lipsticks online with a built-in primer.</li>
                        <li>2.Choose lipsticks with special features which offer better protection for your lips. Versions with SPF would<br>
                          let you face the sun outside with courage. Meanwhile, smudge-free liquid varieties ensure that the colour<br>
                          does not leak and is long-wearing. </li>
                        <li>3.If your lips are on the drier side and you are worried about losing their moisture, opt for a bit of hydration.<br>
                          Moisturising lipsticks are enriched with vitamin E and help keep your lips soft and supple for hours. Try a<br>
                          special formulation which features precious oils which would help smoothen the cracks on your lips and<br>
                          give them a petal-like feel.</li>
                    </ul>
                    <br>
                    And there are more varieties to choose from in a lipstick price range that is quite affordable. <br>
                </font>
                <br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">BUY LIPSTICK ONLINE IN A SNAP</h6><br>
                <font style="color: rgb(108, 111, 111);font-size: 13px;">
                    If you need your favourite lip colour shades in a jiffy, you can shop for them in an instant at Myntra.Our simplified<br>
                    purchase processes help you buy lipsticks online without any hassles. Make sure you also have a look at our<br>
                    exclusive selection of other makeup-essentials such as eyeliner, kajal and compact. <br><br>
                 <h6 style="color: rgb(108, 111, 111);font-size: 12px;">TOP SEARCHES</h6><br>
                   <b>Lakme Lipstick, Maybelline Lipstick, M.A.C Lipstick, Nude Lipstick, Matte Lipstick, Sugar Lipstick, Elle 18<br>
                    Lipstick, Liquid Lipstick, Colorbar Lipstick, Lakme 9 to 5 Lipstick, Red Lipstick, Pink Lipstick, Revlon<br>
                    Lipstick, Loreal Lipstick, Peach Lipstick, Black Lipstick, Lipsticks under 1499, Lipsticks under 499</b><br><br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">WHICH LIPSTICK IS BEST?</h6><br>
                    The best lipsticks have a lightweight, long-lasting, moisturising, and smudge-proof formula that can get you <br>
                    through a good 5-6 hours of the day without re-application.<br><br>
                    You can find lipsticks that give you a satin, glossy, matte, and pearl finish every time you wear it. Also, you can<br>
                    select lipstick ingredients according to your preference, be it alcohol-free or infused with herbal ingredients. <br>
                <br><h6 style="color: rgb(108, 111, 111);font-size: 12px;">HOW DO I APPLY LIPSTICK?</h6><br>
                <ul class="ul1" style="list-style: none;margin-left: 30px;"><br>
                        <li>1. Always start by applying lip balm for having an even application of lipstick. Lip balms help in reducing <br>
                               crevices and help make lips smoother.</li>
                        <li>2. Choose a lip liner that matches your lips and not your lipstick. Use a lip pencil and make small strokes at <br>
                            different points along the outline. Finally, connect the strokes using a lip liner to connect the dots.</li>
                        <li>Then pick up a lipstick of your choice and start filling it in the outline you just made. Make sure you start <br>
                            from the centre and then move from one corner to the other.</li>
                        <li>Lastly, keep your teeth clean from lipsticks marks by using a tissue paper. Fold it in half and then blot it on <br>
                            your lips. You can also dust a little powder on the tissue paper and dab it on your lips.</li>
                </ul><br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">WHAT IS NUDE LIPSTICK?</h6>
                <br><br>
                    Lipsticks with pigments as close to your own lip colour are referred to as nude lipsticks. Each individual has a <br>
                    unique lip colour and thus the shade of nude varies. For this reason, the market is flooded with varying shades of <br>
                    nude lipsticks. <br>
                    This subtle lipstick shade usually blends in with the colour of your lips, making it look more natural. <br>
                <br><br>
                <h2>Explore Timeless Lipstick Shades from Top Beauty Brands</h2><br>
                <table border="2px solid" style="width:600px;height:130px;text-align: center;font-weight: 500;">
                    <tr>
                        <td>Maybelline Lipstick</td>
                        <td>Lakme Lipstick</td>
                        <td>Myglamm Lipstick</td>
                        <td>Mamaearth Lipstick</td>
                    </tr>
                    <tr>
                        <td>Sugar Lipstick</td>
                        <td>MAC Lipstick</td>
                        <td>Swiss Beauty Lipstick</td>
                        <td>Mars Lipstick</td>
                    </tr>
                    <tr>
                        <td>Renee Lipstick</td>
                        <td>Just Herbs Lipstick</td>
                        <td>Faces Canada Lipstick</td>
                        <td>Elle 18 Lipstick</td>
                    </tr>
                </table>
                <br>
                <h3>VIDEO: Top 3 Highlighters and Body Mists for Indian skin - Myntra</h3>
                <br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BgXu0QqSeD0?si=aVgC3wVP8EotDa7n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                Often associated with sensuality, the beauty of lips is truly reflected when it gets a dash of colour and shine. A<br>
                Lipstick does that job well while also offering it some much-needed texture with finishing options like a matte<br>
                lipstick, liquid lipstick, to name a few. In this video, we explore which shade of lipstick best complements your skin
                tone.<br>
            </font>
            </p>
        </aside>   
        <div>
            <h4 style="color: rgb(108, 111, 111);text-align: center;font-size: 14px;font-weight: 800;letter-spacing: 0.5px;">LIPSTICK PRICE LIST</h4>
            <br><br>
            <article>
            <ol>
                <li style="font-weight: 400;color: rgb(108, 111, 111);"><b>Lipstick</b></li>
                <br>
                <li>Clinique Almost Lipstick In Black Honey - 1.9g</li>
                <br>
                <li>M.A.C MACximal Matte Mini Lipstick - Ruby Woo</li>
                <br>
                <li>Maybelline New York Color Sensational Creamy Matte<br>
                    Lipstick - 657 Nude Nuance - 3.9g</li>
                <br>
                <li>Maybelline New York Super Stay Matte Ink Liquid Lipstick 5 <br>
                    ml - Founder 115</li>
                <br>                
                <li>Mamaearth Creamy Matte Long Stay Lipstick With <br>
                    Murumuru Butter- 4.2g-Hibiscus Nude</li>
                <br>
                <li>Mamaearth Creamy Matte Long Stay Lipstick With <br>
                    Murumuru Butter - 4.2g - Cranberry Crush</li>
                <br>
                <li>Maybelline New York Super Stay Matte Ink Liquid Lipstick 5 <br>
                    ml - Amazonian 70</li>
                <br>
                <li>Pilgrim Matte Bullet Intense Colour Transferproof & <br>
                    Smudgeproof Lipstick - Nude Kiss 31</li>
                <br>
                <li>Maybelline New York Color Sensational Creamy Matte <br>
                    Lipstick - Touch of Spice 660</li>
                <br>
                <li>Maybelline New York Super Stay Matte Ink Liquid Lipstick 5 <br>
                    ml - Ambitious 220</li>
                <br>
                <li style="font-weight: 400;"><b><em>Data last updated on 21/07/2025</em></b></li>
            </ol>
            <ul>
                <li style="line-height: 14px;font-weight: 400;color: rgb(108, 111, 111);">
                    <b>PRICE<br>(RS)</b>
                </li>
                <li>Rs. 2300</li>
                <li>Rs. 1150</li>
                <li style="line-height: 52px;">Rs. 207</li>
                <li style="line-height: 50px;">Rs. 440</li>
                <li style="line-height: 75px;">Rs. 359</li>
                <li style="line-height: 75px;">Rs. 359</li>
                <li style="line-height: 50px;">Rs. 419</li>
                <li style="line-height: 60px;">Rs. 446</li>
                <li style="line-height: 60px;">Rs. 203</li>
                <li>Rs. 471</li>
            </ul>
            </article>
        </div>
    </section>
{%endblock content%}
    