{% extends 'base.html' %}
{% block content %}

<main>
        <div>
        <font style="font-size: 13px;">Home / Personal Care / <b>Facewash</b></font><br><br>
        <h4 style="font-size: 14px;letter-spacing: 0.5px;">Facewash- <font style="font-weight: 400;color: rgb(171, 164, 164);">19023 items</font></h4>
    </main>
    <section id="part2">
            <p style="font-size:18px;font-weight: 800;">Filters</p>
        <ol>
            <li>Bundles</li>
            <li>Country of orgin</li>
            <li>size</li>
            <li>formulation</li>
            <li>key ingredients</li>
            <li>Net quatity</li>
            <li>Rating</li>
            <li><button><font><span>Sortby</span>:recommended</font></button></li>
         </ol> 
    </section>
    <section>
        <article>
            <div id="div1">
                <input type="radio"> <font style="font-weight: 600;">Men</font><br>
                <input type="radio"> <font style="font-weight: 600;">Women</font><br>
                <input type="radio"> <font style="font-weight: 600;">Boys</font><br>
                <input type="radio"> <font style="font-weight: 600;">Girls</font><br>
            </div>
            <div id="div2">
                <h6 style="font-size: 14px;">&nbsp;BRAND</h6>
                <input type="checkbox"> <font style="font-weight: 200;">PERPAA(1304)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">VOLO(771)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">ME-ON(734)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">MI FASHION(612)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">CurlyTales(609)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">ForSure(527)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">FORFOR(498)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">JUICE(452)</font><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<font>+275 more</font>
            </div>
            <div id="div3">
                <h6 style="font-size: 14px;">&nbsp;PRICE</h6>
                <input type="range" style="color: rgba(243, 6, 105, 0.867);">
                <h6 style="font-size: 11px;">₹0 - ₹600+</h6>
            </div>
            <div id="div4">
                <h6 style="font-size: 14px;">&nbsp;COLOR</h6><br>
                  <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color: black; height: 15px; width: 15px; "></button>  
                    <label for="">Black<span>  (32421)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:white; height: 15px; width: 15px; "></button>  
                    <label for="">white<span>  (24482)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:blue; height: 15px; width: 15px; "></button>  
                    <label for="">blue<span>  (18707)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:pink; height: 15px; width: 15px; "></button>  
                    <label for="">pink<span>  (14435)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:green; height: 15px; width: 15px; "></button>  
                    <label for="">green<span>  (14451)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:red; height: 15px; width: 15px; "></button>  
                    <label for="">red<span>  (8497)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:yellow; height: 15px; width: 15px; "></button>  
                    <label for="">yellow<span>  (7394)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:navy; height: 15px; width: 15px; "></button>  
                    <label for="">navy blue<span>  (6637)  </span></label> <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<font>+10 more</font>
            </div>
        </article>
    <div>
        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13698440/2025/7/2/f6cc7a67-a408-4724-98cf-63f1ff9bb0c41751437673352-Simple-Kind-To-Skin-Refreshing-Facial-Wash-150-ml-5041751437-14.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Ponds</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/16712624/2023/8/8/3584bf5f-d3ee-4013-b961-824cbb335af61691475792332-Cetaphil-Gentle-Skin-Cleanser---125-ml-9391691475791959-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">lotus herbal</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/29237734/2024/5/14/56faff41-4cae-4fe7-bd14-0bfbd8d197011715669225664AntipigmentationCombo1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">joy</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/9227459/2024/5/14/551ba2d3-4571-4cfb-8c14-8489c31b40fd1715688364694-Lakme-Blush--Glow-Strawberry-Gel-Face-Wash-With-100-Real-Str-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">minimalist</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/19805214/2025/3/31/99972bba-554b-4371-9c08-981248f2ffb01743400635409-DOT--KEY-Cica-Anti-Acne-Facewash-with-2-Salicylic--Green-Tea-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">himalaya</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/15734050/2023/12/15/04cde14e-09f8-417d-8173-fcbad1c69c841702638290755-Lakme-9To5-Vitamin-C-Microcrystalline-Beads-For-Refreshed--G-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Ponds</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/14669014/2023/9/6/12adc15e-a720-48e0-a32e-4292b4f694431693992394603-Minimalist-2-Salicylic-Acid-Face-Wash-With-LHA-100-ml-181169-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">lotus herbal</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/4452074/2024/6/5/2c99ebe9-cf96-4fbf-a7a8-49ec4f9354e61717571765391-Ponds-Bright-Beauty-Spot-Less-Glow-Face-Wash-with-Vitamin-B3-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">joy</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/19258114/2023/7/5/1122dd46-4dd5-4ca3-8a07-7ee605e84ed71688538257660-Himalaya-Anti-Pimple-Purifying-Neem-Face-Wash-with-Turmeric--1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">minimalist</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13698440/2025/7/2/4383c918-0b1f-4329-b99a-e9c8055e55d81751437673442-Simple-Kind-To-Skin-Refreshing-Facial-Wash-150-ml-5041751437-7.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">himalaya</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13698440/2025/7/2/68506a96-c96e-4d16-9c58-c2a2c9bae6961751437673515-Simple-Kind-To-Skin-Refreshing-Facial-Wash-150-ml-5041751437-5.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Ponds</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/27933664/2024/4/17/0b1784e6-a939-4de0-87ae-5fbbe8096f831713336885875-Every-Day-glow-combo-1681713336885546-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">lotus herbal</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13698440/2025/7/2/cd55d6a3-d52b-499b-a1bc-9f81c400b7a21751437673399-Simple-Kind-To-Skin-Refreshing-Facial-Wash-150-ml-5041751437-12.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">joy</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13698440/2025/7/2/68506a96-c96e-4d16-9c58-c2a2c9bae6961751437673515-Simple-Kind-To-Skin-Refreshing-Facial-Wash-150-ml-5041751437-5.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">minimalist</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/4452074/2024/6/5/2c99ebe9-cf96-4fbf-a7a8-49ec4f9354e61717571765391-Ponds-Bright-Beauty-Spot-Less-Glow-Face-Wash-with-Vitamin-B3-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">himalaya</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>


        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13698440/2025/7/2/f6cc7a67-a408-4724-98cf-63f1ff9bb0c41751437673352-Simple-Kind-To-Skin-Refreshing-Facial-Wash-150-ml-5041751437-14.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Ponds</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/16712624/2023/8/8/3584bf5f-d3ee-4013-b961-824cbb335af61691475792332-Cetaphil-Gentle-Skin-Cleanser---125-ml-9391691475791959-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">lotus herbal</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/29237734/2024/5/14/56faff41-4cae-4fe7-bd14-0bfbd8d197011715669225664AntipigmentationCombo1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">joy</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/9227459/2024/5/14/551ba2d3-4571-4cfb-8c14-8489c31b40fd1715688364694-Lakme-Blush--Glow-Strawberry-Gel-Face-Wash-With-100-Real-Str-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">minimalist</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/19805214/2025/3/31/99972bba-554b-4371-9c08-981248f2ffb01743400635409-DOT--KEY-Cica-Anti-Acne-Facewash-with-2-Salicylic--Green-Tea-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">himalaya</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/15734050/2023/12/15/04cde14e-09f8-417d-8173-fcbad1c69c841702638290755-Lakme-9To5-Vitamin-C-Microcrystalline-Beads-For-Refreshed--G-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Ponds</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/14669014/2023/9/6/12adc15e-a720-48e0-a32e-4292b4f694431693992394603-Minimalist-2-Salicylic-Acid-Face-Wash-With-LHA-100-ml-181169-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">lotus herbal</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/4452074/2024/6/5/2c99ebe9-cf96-4fbf-a7a8-49ec4f9354e61717571765391-Ponds-Bright-Beauty-Spot-Less-Glow-Face-Wash-with-Vitamin-B3-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">joy</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/19258114/2023/7/5/1122dd46-4dd5-4ca3-8a07-7ee605e84ed71688538257660-Himalaya-Anti-Pimple-Purifying-Neem-Face-Wash-with-Turmeric--1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">minimalist</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13698440/2025/7/2/4383c918-0b1f-4329-b99a-e9c8055e55d81751437673442-Simple-Kind-To-Skin-Refreshing-Facial-Wash-150-ml-5041751437-7.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">himalaya</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13698440/2025/7/2/68506a96-c96e-4d16-9c58-c2a2c9bae6961751437673515-Simple-Kind-To-Skin-Refreshing-Facial-Wash-150-ml-5041751437-5.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Ponds</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/27933664/2024/4/17/0b1784e6-a939-4de0-87ae-5fbbe8096f831713336885875-Every-Day-glow-combo-1681713336885546-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">lotus herbal</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13698440/2025/7/2/cd55d6a3-d52b-499b-a1bc-9f81c400b7a21751437673399-Simple-Kind-To-Skin-Refreshing-Facial-Wash-150-ml-5041751437-12.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">joy</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13698440/2025/7/2/68506a96-c96e-4d16-9c58-c2a2c9bae6961751437673515-Simple-Kind-To-Skin-Refreshing-Facial-Wash-150-ml-5041751437-5.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">minimalist</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/4452074/2024/6/5/2c99ebe9-cf96-4fbf-a7a8-49ec4f9354e61717571765391-Ponds-Bright-Beauty-Spot-Less-Glow-Face-Wash-with-Vitamin-B3-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">himalaya</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

















        
    
        
                


        <br><br>
        <hr>
        <br>
        <div id="lastpart">
        <font style="font-size: 25px;color: rgb(108, 111, 111);padding-bottom: 8px;"><i class='bx bx-chevrons-left' ></i></font><h4 style="color: rgb(108, 111, 111);padding-bottom: 10px;font-size: 15px;"> Page 1</h4>
        <button style="width:120px;height: 40px;font-size: 17px;font-weight: 600;color: rgb(108, 111, 111);background-color: white;border-radius: 3px;border: 0.1px solid;margin-top: -10px;border-color: rgb(199, 202, 202);"><i class='bx bx-chevron-left' ></i> Previous</button>
        <p style="padding-bottom: 10px;margin-left: 30px;font-size: 13px;">Page 1 of 360</p>
        <button style="width:90px;height: 40px;font-size: 17px;font-weight: 600;color: black;background-color: white;border-radius: 3px;border: 0.1px solid;margin-top: -10px;margin-left: 30px;border-color: rgb(199, 202, 202);">Next <i class='bx bx-chevron-right'></i></button>
        </div>
        <br><br><br><br><br><br><br>
    </div>
    </section>

    <section id="sec1">
        <aside style="width: 690px;text-align: justify;text-justify: inter-word;">
            <h4 style="color: rgb(108, 111, 111);text-align: center;font-size: 14px;font-weight: 800;letter-spacing: 0.5px;">BUY LIPSTICK</h4>
            <br>
            <br>
            <p>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">LIPSTICK AT MYNTRA: LET YOUR LIPS DO THE TALKING</h6><br>
                <font style="color: rgb(108, 111, 111);font-size: 13px;">
                    For many, lips are the most sensual part of your body. But to really get that attention-grabbing touch, you need a<br>
                    dash of colour and glow. Among all the <b>cosmetics</b> that are available nowadays, one particular product that helps<br>
                    you get that shine is the lipstick. With numerous options features various oils, waxes and eye-catching pigments,<br>
                    lipsticks can brighten things up for you in a jiffy.
                    <br><br>
                    Lip colour has been used in ancient times by Sumerians and even by people of the Indus Valley civilisation.<br>
                    Egyptian royalty used to apply colour on their lips as a symbol of power, beauty and youthfulness. Adding colour<br>
                    to your lips was considered taboo in the early 20th century until Hollywood stars helped popularise it as regular<br>
                    makeup. The first modern swivel up lip colour tube appeared in 1923.
                    <br><br>
                    Today, this cosmetics must-have is an important part of every woman's <b>makeup kit</b>. Myntra brings you the best of<br>
                    branded lipsticks online. Choose your favourite lipstick shades and let your lips do the talking. 
                </font>
                <br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">MYNTRA'S LIPSTICK COLLECTION: FOR LUSCIOUS LIPS AND AN ALLURING SMILE</h6><br>
                <font style="color: rgb(108, 111, 111);font-size: 13px;">
                    Myntra's brings you a wide array of lipstick colours and smooth and creamy textures. You can choose from among<br>
                    crayon, liquid, or pencil applicators. Select the type of finish that you would like such as matte, creme, pearl or<br>
                    glossy. Our lipstick brands offer the best quality <b>makeup</b> products which have been thoroughly checked.<br><br>

                    To start with, here is a list of the various types of lipsticks online at Myntra from which you can choose the ones<br>
                    best for your lips:
                    <br><br>
                    <ul class="ul1" style="list-style: none;margin-left: 30px;">
                        <li>1.When your lip colour starts to run or smudge it gets quite embarrassing. We bring you a lineup of long-<br>
                              lasting lipsticks equipped with advanced polymer technology. This offers a high degree of pigmentation to<br>
                              increase the effectiveness of your lip colour. To increase the longevity of your lip colour, you can also use a<br>
                              primer as a base. Alternatively, you can buy lipsticks online with a built-in primer.</li>
                        <li>2.Choose lipsticks with special features which offer better protection for your lips. Versions with SPF would<br>
                          let you face the sun outside with courage. Meanwhile, smudge-free liquid varieties ensure that the colour<br>
                          does not leak and is long-wearing. </li>
                        <li>3.If your lips are on the drier side and you are worried about losing their moisture, opt for a bit of hydration.<br>
                          Moisturising lipsticks are enriched with vitamin E and help keep your lips soft and supple for hours. Try a<br>
                          special formulation which features precious oils which would help smoothen the cracks on your lips and<br>
                          give them a petal-like feel.</li>
                    </ul>
                    <br>
                    And there are more varieties to choose from in a lipstick price range that is quite affordable. <br>
                </font>
                <br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">BUY LIPSTICK ONLINE IN A SNAP</h6><br>
                <font style="color: rgb(108, 111, 111);font-size: 13px;">
                    If you need your favourite lip colour shades in a jiffy, you can shop for them in an instant at Myntra.Our simplified<br>
                    purchase processes help you buy lipsticks online without any hassles. Make sure you also have a look at our<br>
                    exclusive selection of other makeup-essentials such as eyeliner, kajal and compact. <br><br>
                 <h6 style="color: rgb(108, 111, 111);font-size: 12px;">TOP SEARCHES</h6><br>
                   <b>Lakme Lipstick, Maybelline Lipstick, M.A.C Lipstick, Nude Lipstick, Matte Lipstick, Sugar Lipstick, Elle 18<br>
                    Lipstick, Liquid Lipstick, Colorbar Lipstick, Lakme 9 to 5 Lipstick, Red Lipstick, Pink Lipstick, Revlon<br>
                    Lipstick, Loreal Lipstick, Peach Lipstick, Black Lipstick, Lipsticks under 1499, Lipsticks under 499</b><br><br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">WHICH LIPSTICK IS BEST?</h6><br>
                    The best lipsticks have a lightweight, long-lasting, moisturising, and smudge-proof formula that can get you <br>
                    through a good 5-6 hours of the day without re-application.<br><br>
                    You can find lipsticks that give you a satin, glossy, matte, and pearl finish every time you wear it. Also, you can<br>
                    select lipstick ingredients according to your preference, be it alcohol-free or infused with herbal ingredients. <br>
                <br><h6 style="color: rgb(108, 111, 111);font-size: 12px;">HOW DO I APPLY LIPSTICK?</h6><br>
                <ul class="ul1" style="list-style: none;margin-left: 30px;"><br>
                        <li>1. Always start by applying lip balm for having an even application of lipstick. Lip balms help in reducing <br>
                               crevices and help make lips smoother.</li>
                        <li>2. Choose a lip liner that matches your lips and not your lipstick. Use a lip pencil and make small strokes at <br>
                            different points along the outline. Finally, connect the strokes using a lip liner to connect the dots.</li>
                        <li>Then pick up a lipstick of your choice and start filling it in the outline you just made. Make sure you start <br>
                            from the centre and then move from one corner to the other.</li>
                        <li>Lastly, keep your teeth clean from lipsticks marks by using a tissue paper. Fold it in half and then blot it on <br>
                            your lips. You can also dust a little powder on the tissue paper and dab it on your lips.</li>
                </ul><br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">WHAT IS NUDE LIPSTICK?</h6>
                <br><br>
                    Lipsticks with pigments as close to your own lip colour are referred to as nude lipsticks. Each individual has a <br>
                    unique lip colour and thus the shade of nude varies. For this reason, the market is flooded with varying shades of <br>
                    nude lipsticks. <br>
                    This subtle lipstick shade usually blends in with the colour of your lips, making it look more natural. <br>
                <br><br>
                <h2>Explore Timeless Lipstick Shades from Top Beauty Brands</h2><br>
                <table border="2px solid" style="width:600px;height:130px;text-align: center;font-weight: 500;">
                    <tr>
                        <td>Maybelline Lipstick</td>
                        <td>Lakme Lipstick</td>
                        <td>Myglamm Lipstick</td>
                        <td>Mamaearth Lipstick</td>
                    </tr>
                    <tr>
                        <td>Sugar Lipstick</td>
                        <td>MAC Lipstick</td>
                        <td>Swiss Beauty Lipstick</td>
                        <td>Mars Lipstick</td>
                    </tr>
                    <tr>
                        <td>Renee Lipstick</td>
                        <td>Just Herbs Lipstick</td>
                        <td>Faces Canada Lipstick</td>
                        <td>Elle 18 Lipstick</td>
                    </tr>
                </table>
                <br>
                <h3>VIDEO: How to choose the best lipstick for different skin tones</h3>
                <br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/EUPhlhBBzd0?si=FgOPTxAVy9hTmXAE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <br>
                Often associated with sensuality, the beauty of lips is truly reflected when it gets a dash of colour and shine. A<br>
                Lipstick does that job well while also offering it some much-needed texture with finishing options like a matte<br>
                lipstick, liquid lipstick, to name a few. In this video, we explore which shade of lipstick best complements your skin
                tone.<br>
            </font>
            </p> 
        </aside>
        
        
    </section>
{%endblock content%}