{% extends 'base.html' %}
{% block content %}

<div id="part0">
        HomePersonal  /  CareFace  /  <font>Moisturisers</font>
    </div>
    <br>
    <div id="part1">
       <font>LIPSTICK</font> -  3118 items
    </div>
    <section id="part2">
            <p style="font-size:18px;font-weight: 800;">Filters</p>
        <ol>
            <li>Bundles</li>
            <li>Country of orgin</li>
            <li>size</li>
            <li><button><font><span>Sortby</span>:recommended</font></button></li>
         </ol> 
    </section>
    <main>
        <div>
        <font style="font-size: 13px;">Home / Personal Care / <b>Lipstick</b></font><br><br>
        <h4 style="font-size: 14px;letter-spacing: 0.5px;">Lipstick - <font style="font-weight: 400;color: rgb(171, 164, 164);">17994 items</font></h4>
    </main>
    <section>
        <article>
            <div id="div1">
                <input type="radio"> <font style="font-weight: 600;">Men</font><br>
                <input type="radio"> <font style="font-weight: 600;">Women</font><br>
                <input type="radio"> <font style="font-weight: 600;">Boys</font><br>
                <input type="radio"> <font style="font-weight: 600;">Girls</font><br>
            </div>
            <div id="div2">
                <h6 style="font-size: 14px;">&nbsp;BRAND</h6>
                <input type="checkbox"> <font style="font-weight: 200;">PERPAA(1304)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">VOLO(771)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">ME-ON(734)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">MI FASHION(612)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">CurlyTales(609)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">ForSure(527)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">FORFOR(498)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">JUICE(452)</font><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<font>+275 more</font>
            </div>
            <div id="div3">
                <h6 style="font-size: 14px;">&nbsp;PRICE</h6>
                <input type="range" style="color: rgba(243, 6, 105, 0.867);">
                <h6 style="font-size: 11px;">₹0 - ₹600+</h6>
            </div>
            <div id="div4">
                <h6 style="font-size: 14px;">&nbsp;COLOR</h6><br>
                  <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color: black; height: 15px; width: 15px; "></button>  
                    <label for="">Black<span>  (32421)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:white; height: 15px; width: 15px; "></button>  
                    <label for="">white<span>  (24482)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:blue; height: 15px; width: 15px; "></button>  
                    <label for="">blue<span>  (18707)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:pink; height: 15px; width: 15px; "></button>  
                    <label for="">pink<span>  (14435)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:green; height: 15px; width: 15px; "></button>  
                    <label for="">green<span>  (14451)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:red; height: 15px; width: 15px; "></button>  
                    <label for="">red<span>  (8497)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:yellow; height: 15px; width: 15px; "></button>  
                    <label for="">yellow<span>  (7394)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:navy; height: 15px; width: 15px; "></button>  
                    <label for="">navy blue<span>  (6637)  </span></label> <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<font>+10 more</font>
            </div>
        </article>
    <div>
        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/DECEMBER/23/g3z90TvZ_2dac9fd1e87b4fdeb7a8767e2b1f7706.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/JULY/4/98IVwIpe_e2535c8f1bc6480fab288d920930cd6f.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/DECEMBER/5/M9Scpt2Z_c389a26b4f2948af819a7448bb334efc.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31826196/2025/1/1/6bf2d6ee-7b0d-444e-ac25-4003ff1fc81a1735744022697-Pilgrim-3-D-Glitter-Formula-With-Matte-Finish-Lipstick--42-g-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/JULY/4/HlCaPDuy_c17516907a4249c298e1c6ed21781b9c.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/14543600/2024/8/28/e5c9e221-fe24-4053-8f36-a3ea5fc9bb141724834970392-Earth-Rhythm-Lip-Cheek-Tint---Brandy-5-ml-5671724834969832-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31826194/2025/1/1/aca807a8-6990-43f9-8dae-9d0ab043839a1735744013878-Pilgrim-3-D-Glitter-Formula-With-Matte-Finish-Lipstick--42-g-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/28864142/2024/7/17/79fa41b6-b71e-4d72-bddc-a181713905f41721217256948MACMACximalMatteMiniLipstickwithSheaButter-RubyWoo1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/28546542/2024/4/25/f88da3ea-6ba1-4f6e-9168-24d13a830c3b1714025434686MamaearthCreamyMatteLongStayLipstickWithMurumuruButter-42g-H1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/27916434/2025/1/27/07a56fc8-a218-4944-b3fb-cfb850a80fcb1737966534826-ETUDE-Dear-Darling-Water-Tint-9g---Red-Grapefruit-Ade-4-1551-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/6870099/2024/5/21/9d9a4309-3d91-4740-a81a-bf11a63f36501716273454355-Maybelline-New-York-Super-Stay-Matte-Ink-Liquid-Lipstick-5-m-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/28546562/2024/4/25/d17243f6-58e9-41fe-8521-f5059a0fb1a91714025429293MamaearthCreamyMatteLongStayLipstickWithMurumuruButter-RoseN1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/28546544/2024/4/25/6232eb48-9d2f-4914-9852-3c0d0ae7ad5e1714025431506MamaearthCreamyMatteLongStayLipstickWithMurumuruButter-42g-C1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/8051025/2024/5/21/e17e72cd-fd44-41fa-9693-d15a2d9e39e41716273493171-Maybelline-New-York-Super-Stay-Matte-Ink-Liquid-Lipstick-5-m-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/20474268/2022/10/27/137f583f-9055-48fd-a6d5-9c34a4cbaedc1666847266322-ETUDE-Dear-Darling-Water-Gel-Lip--Cheek-Tint-Lipstick-9-g----1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/JULY/4/E8aY348K_eab597afc4fc4a628986a72b82a32286.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/8051033/2024/5/21/7902c41a-10fe-46b6-bdd3-80854426d5df1716273522935-Maybelline-New-York-Super-Stay-Matte-Ink-Liquid-Lipstick-5-m-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/11581508/2023/11/28/47570c4b-adf7-4871-b278-6dbe0331ace91701150006879MaybellineNewYorkColorSensationalNudeNuanceCreamyMatteLipsti1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/DECEMBER/5/v4MONMcO_56f4ac56e7164bcf99286f7d05f5bd1c.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/28546548/2024/4/25/68689163-78f6-4e4a-82bf-64a58c422a5e1714025433184MamaearthCreamyMatteLongStayLipstickWithMurumuruButter-42g-T1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31826198/2025/1/1/cdb80e44-fd84-4de1-b171-398ae13af2cd1735744034935-Pilgrim-Dubai-Bling-3D-Glitter-Formula-With-Matte-Finish-Lip-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/8051007/2024/4/12/1c570459-430b-4e55-9263-31c1f9985e381712903625216MaybellineNewYorkSuperStayMatteInkLiquidLipstick5ml-Inspirer1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/28546552/2024/4/25/f21832ba-3604-4a28-b93a-c1ecd3e7c5681714025432484MamaearthCreamyMatteLongStayLipstickWithMurumuruButter-Apric1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/14543606/2024/8/28/ba5a17ba-8d76-4a1a-b415-94a9aac0be3a1724834999337-Earth-Rhythm-Lip-Cheek-Tint---Cherry-5ml-3171724834998894-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/8051019/2024/5/21/41c37483-bb7d-45a0-a891-c26b1639a9681716273483669-Maybelline-New-York-Super-Stay-Matte-Ink-Liquid-Lipstick-5-m-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22212908/2023/3/6/6e7727d9-d722-431a-b80e-ab77069660c81678084958451BlueHeavenSetOf4MinisButMightyHyperstayLiquidLipsticks6ml-Ma1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31826181/2025/1/1/a7f11464-5479-44e5-839d-047a348e39171735743979846-Pilgrim-Dubai-Bling-3-D-Glitter-Matte-Finish-Lipstick---45-g-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/11752646/2024/5/21/e487675a-e8f9-4402-b272-bde2876a16ea1716273543799-Maybelline-New-York-Super-Stay-Matte-Ink-Liquid-Lipstick-5-m-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31826190/2025/1/1/111bfe7a-f010-49c9-bdd8-0c7f6be62a5d1735744000019-Pilgrim-Dubai-Bling-3D-Glitter-Formula-With-Matte-Finish-Lip-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31826187/2025/1/1/fb8ccf0b-8cd6-4ce2-a126-ef2b605cd7671735743996879-Pilgrim-Glitter-Lipstick-Luxurious-3D-Formula-With-Matte-Fin-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/SEPTEMBER/13/9mmMwlUA_bbb97fd9b36a4959b643904288838279.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/29905122/2025/4/19/ca24b305-7c5c-460e-8ee2-a30a7f0b09c51745050338577-FACES-CANADA-Comfy-Matte-Wow-Liquid-Lipstick---38ml---Cocoa--1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/OCTOBER/24/pDggiE9t_81b53c827bfb42a8aaa7581c1bdc2751.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/SEPTEMBER/13/1JAc1M1P_b3d1290ecfa448d7baa21f9d20dc8196.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31962786/2025/1/20/920ee925-4deb-4278-b1ae-2435f04907fc1737375882039-LOreal-Paris-Color-Riche-Smudge-Proof-Satin-Lipstick---Sil-V-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/NOVEMBER/4/fIaINluN_6bc92da052d34a878bb2df8597be2440.jpg" alt="" style="width: 209px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/11752596/2024/5/21/a5c36cd7-df08-4957-9fb4-a7a7adff39911716273533253-Maybelline-New-York-Super-Stay-Matte-Ink-Liquid-Lipstick-5-m-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/JULY/4/SNzBsR8U_17cd6bd1be0a4eec83796cbbb697791f.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/11178132/2023/3/23/5d3274ce-95f7-40b1-acce-9eb3f93de8121679561593444-Maybelline-New-York-Sensational-Liquid-Matte-Lipstick-7-ml---1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/8051017/2024/4/12/2cf13367-43f2-4110-bf45-b98df60672591712903597576MaybellineNewYorkSuperStayMatteInkLiquidLipstick5ml-Dancer111.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/11178078/2023/3/23/f4ce5244-4b84-4824-aba6-53b1d53e8f101679565229168-Maybelline-New-York-Sensational-Liquid-Matte-Lipstick-7-ml---1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/14940628/2023/3/23/6295f533-1e25-407e-a401-9d41070db0a91679562101565-Maybelline-Sensational-Liquid-Matte-Lipstick---21-Nude-Nuanc-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/8051013/2024/5/21/7d17658a-5157-4af4-bf04-b1b0a0962c191716273463091-Maybelline-New-York-Super-Stay-Matte-Ink-Liquid-Lipstick-5-m-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/1963297/2023/11/28/1beb5f75-9f1d-4eaf-80b2-fc529f43c7871701150000012MaybellineNewYorkColorSensationalCreamyMatteLipstick-Touchof1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/SEPTEMBER/13/Zxn9PC7Q_96cb9ee3e2bf4104b47e13ee390a4715.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/28546560/2024/4/25/c7a9e02b-db62-48f7-9e68-41ead899eea61714025435732MamaearthCreamyMatteLongStayLipstickWithMurumuruButter-Mauve1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/SEPTEMBER/13/qu575rJA_197683e808e7448a85334420e697f512.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/14940624/2023/3/23/0f4ff42a-7ff8-4e4c-a046-e6f7b2b650381679562062711-Maybelline-Sensational-Liquid-Matte-Lipstick---Touch-of-Spic-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/8051027/2024/5/21/615f2a3b-4a2b-4676-8776-6a555bf187d91716273502518-Maybelline-New-York-Super-Stay-Matte-Ink-Liquid-Lipstick-5-m-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/8051029/2024/4/12/80dfa7ec-dca9-4835-89f1-188922a945381712903595529MaybellineNewYorkSuperStayMatteInkLiquidLipstick5ml-Seeker241.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>
        <br><br>
        <hr>
        <br>
        <div id="lastpart">
        <font style="font-size: 25px;color: rgb(108, 111, 111);padding-bottom: 8px;"><i class='bx bx-chevrons-left' ></i></font><h4 style="color: rgb(108, 111, 111);padding-bottom: 10px;font-size: 15px;"> Page 1</h4>
        <button style="width:120px;height: 40px;font-size: 17px;font-weight: 600;color: rgb(108, 111, 111);background-color: white;border-radius: 3px;border: 0.1px solid;margin-top: -10px;border-color: rgb(199, 202, 202);"><i class='bx bx-chevron-left' ></i> Previous</button>
        <p style="padding-bottom: 10px;margin-left: 30px;font-size: 13px;">Page 1 of 360</p>
        <button style="width:90px;height: 40px;font-size: 17px;font-weight: 600;color: black;background-color: white;border-radius: 3px;border: 0.1px solid;margin-top: -10px;margin-left: 30px;border-color: rgb(199, 202, 202);">Next <i class='bx bx-chevron-right'></i></button>
        </div>
        <br><br><br><br><br><br><br>
    </div>
    </section>

    <section id="sec1">
        <aside style="width: 690px;text-align: justify;text-justify: inter-word;">
            <h4 style="color: rgb(108, 111, 111);text-align: center;font-size: 14px;font-weight: 800;letter-spacing: 0.5px;">BUY LIPSTICK</h4>
            <br>
            <br>
            <p>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">LIPSTICK AT MYNTRA: LET YOUR LIPS DO THE TALKING</h6><br>
                <font style="color: rgb(108, 111, 111);font-size: 13px;">
                    For many, lips are the most sensual part of your body. But to really get that attention-grabbing touch, you need a<br>
                    dash of colour and glow. Among all the <b>cosmetics</b> that are available nowadays, one particular product that helps<br>
                    you get that shine is the lipstick. With numerous options features various oils, waxes and eye-catching pigments,<br>
                    lipsticks can brighten things up for you in a jiffy.
                    <br><br>
                    Lip colour has been used in ancient times by Sumerians and even by people of the Indus Valley civilisation.<br>
                    Egyptian royalty used to apply colour on their lips as a symbol of power, beauty and youthfulness. Adding colour<br>
                    to your lips was considered taboo in the early 20th century until Hollywood stars helped popularise it as regular<br>
                    makeup. The first modern swivel up lip colour tube appeared in 1923.
                    <br><br>
                    Today, this cosmetics must-have is an important part of every woman's <b>makeup kit</b>. Myntra brings you the best of<br>
                    branded lipsticks online. Choose your favourite lipstick shades and let your lips do the talking. 
                </font>
                <br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">MYNTRA'S LIPSTICK COLLECTION: FOR LUSCIOUS LIPS AND AN ALLURING SMILE</h6><br>
                <font style="color: rgb(108, 111, 111);font-size: 13px;">
                    Myntra's brings you a wide array of lipstick colours and smooth and creamy textures. You can choose from among<br>
                    crayon, liquid, or pencil applicators. Select the type of finish that you would like such as matte, creme, pearl or<br>
                    glossy. Our lipstick brands offer the best quality <b>makeup</b> products which have been thoroughly checked.<br><br>

                    To start with, here is a list of the various types of lipsticks online at Myntra from which you can choose the ones<br>
                    best for your lips:
                    <br><br>
                    <ul class="ul1" style="list-style: none;margin-left: 30px;">
                        <li>1.When your lip colour starts to run or smudge it gets quite embarrassing. We bring you a lineup of long-<br>
                              lasting lipsticks equipped with advanced polymer technology. This offers a high degree of pigmentation to<br>
                              increase the effectiveness of your lip colour. To increase the longevity of your lip colour, you can also use a<br>
                              primer as a base. Alternatively, you can buy lipsticks online with a built-in primer.</li>
                        <li>2.Choose lipsticks with special features which offer better protection for your lips. Versions with SPF would<br>
                          let you face the sun outside with courage. Meanwhile, smudge-free liquid varieties ensure that the colour<br>
                          does not leak and is long-wearing. </li>
                        <li>3.If your lips are on the drier side and you are worried about losing their moisture, opt for a bit of hydration.<br>
                          Moisturising lipsticks are enriched with vitamin E and help keep your lips soft and supple for hours. Try a<br>
                          special formulation which features precious oils which would help smoothen the cracks on your lips and<br>
                          give them a petal-like feel.</li>
                    </ul>
                    <br>
                    And there are more varieties to choose from in a lipstick price range that is quite affordable. <br>
                </font>
                <br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">BUY LIPSTICK ONLINE IN A SNAP</h6><br>
                <font style="color: rgb(108, 111, 111);font-size: 13px;">
                    If you need your favourite lip colour shades in a jiffy, you can shop for them in an instant at Myntra.Our simplified<br>
                    purchase processes help you buy lipsticks online without any hassles. Make sure you also have a look at our<br>
                    exclusive selection of other makeup-essentials such as eyeliner, kajal and compact. <br><br>
                 <h6 style="color: rgb(108, 111, 111);font-size: 12px;">TOP SEARCHES</h6><br>
                   <b>Lakme Lipstick, Maybelline Lipstick, M.A.C Lipstick, Nude Lipstick, Matte Lipstick, Sugar Lipstick, Elle 18<br>
                    Lipstick, Liquid Lipstick, Colorbar Lipstick, Lakme 9 to 5 Lipstick, Red Lipstick, Pink Lipstick, Revlon<br>
                    Lipstick, Loreal Lipstick, Peach Lipstick, Black Lipstick, Lipsticks under 1499, Lipsticks under 499</b><br><br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">WHICH LIPSTICK IS BEST?</h6><br>
                    The best lipsticks have a lightweight, long-lasting, moisturising, and smudge-proof formula that can get you <br>
                    through a good 5-6 hours of the day without re-application.<br><br>
                    You can find lipsticks that give you a satin, glossy, matte, and pearl finish every time you wear it. Also, you can<br>
                    select lipstick ingredients according to your preference, be it alcohol-free or infused with herbal ingredients. <br>
                <br><h6 style="color: rgb(108, 111, 111);font-size: 12px;">HOW DO I APPLY LIPSTICK?</h6><br>
                <ul class="ul1" style="list-style: none;margin-left: 30px;"><br>
                        <li>1. Always start by applying lip balm for having an even application of lipstick. Lip balms help in reducing <br>
                               crevices and help make lips smoother.</li>
                        <li>2. Choose a lip liner that matches your lips and not your lipstick. Use a lip pencil and make small strokes at <br>
                            different points along the outline. Finally, connect the strokes using a lip liner to connect the dots.</li>
                        <li>Then pick up a lipstick of your choice and start filling it in the outline you just made. Make sure you start <br>
                            from the centre and then move from one corner to the other.</li>
                        <li>Lastly, keep your teeth clean from lipsticks marks by using a tissue paper. Fold it in half and then blot it on <br>
                            your lips. You can also dust a little powder on the tissue paper and dab it on your lips.</li>
                </ul><br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">WHAT IS NUDE LIPSTICK?</h6>
                <br><br>
                    Lipsticks with pigments as close to your own lip colour are referred to as nude lipsticks. Each individual has a <br>
                    unique lip colour and thus the shade of nude varies. For this reason, the market is flooded with varying shades of <br>
                    nude lipsticks. <br>
                    This subtle lipstick shade usually blends in with the colour of your lips, making it look more natural. <br>
                <br><br>
                <h2>Explore Timeless Lipstick Shades from Top Beauty Brands</h2><br>
                <table border="2px solid" style="width:600px;height:130px;text-align: center;font-weight: 500;">
                    <tr>
                        <td>Maybelline Lipstick</td>
                        <td>Lakme Lipstick</td>
                        <td>Myglamm Lipstick</td>
                        <td>Mamaearth Lipstick</td>
                    </tr>
                    <tr>
                        <td>Sugar Lipstick</td>
                        <td>MAC Lipstick</td>
                        <td>Swiss Beauty Lipstick</td>
                        <td>Mars Lipstick</td>
                    </tr>
                    <tr>
                        <td>Renee Lipstick</td>
                        <td>Just Herbs Lipstick</td>
                        <td>Faces Canada Lipstick</td>
                        <td>Elle 18 Lipstick</td>
                    </tr>
                </table>
                <br>
                <h3>VIDEO: How to choose the best lipstick for different skin tones</h3>
                <br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/EUPhlhBBzd0?si=FgOPTxAVy9hTmXAE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <br>
                Often associated with sensuality, the beauty of lips is truly reflected when it gets a dash of colour and shine. A<br>
                Lipstick does that job well while also offering it some much-needed texture with finishing options like a matte<br>
                lipstick, liquid lipstick, to name a few. In this video, we explore which shade of lipstick best complements your skin
                tone.<br>
            </font>
            </p> 
        </aside>
        
        
    </section>
    {%endblock content%}