{% extends 'base.html' %}
{% block content %}

    <main>
        <div>
        <font style="font-size: 13px;">Home / Personal Care / <b>Nailpolish</b></font><br><br>
        <h4 style="font-size: 14px;letter-spacing: 0.5px;">Nailpolish - <font style="font-weight: 400;color: rgb(171, 164, 164);">15054 items</font></h4>
        <br><br>
        <article>
            <h4 style="font-size: 14px;letter-spacing: 0.5px;">FILTERS</h4>
            <ol>
                <li>Bundles <span><i class='bx bx-chevron-down' ></i></span></li>
                <li>Colour Family <span><i class='bx bx-chevron-down' ></i></span></li>
                <li>Colour Shade Name <span><i class='bx bx-chevron-down' ></i></li>
                <li>Country Of Origin <span><i class='bx bx-chevron-down' ></i></li>
                <li>Features <span><i class='bx bx-chevron-down' ></i></li>
                <li>Finish <span><i class='bx bx-chevron-down' ></i></li>
                <li><b>6+ more</b></li>
            </ol>
            <select name="" id="" style="width: 260px;height: 40px;margin-top: -20px;">
                <option value=""><p>Sort by:  <strong>Recommended</strong></p><i class='bx bx-chevron-down' ></i></option>
            </select>
        </article>
        </div>
    </main>

    <section>
        <article>
            <div id="div1">
                <input type="radio"> <font style="font-weight: 600;">Men</font><br>
                <input type="radio"> <font style="font-weight: 600;">Women</font><br>
                <input type="radio"> <font style="font-weight: 600;">Boys</font><br>
                <input type="radio"> <font style="font-weight: 600;">Girls</font><br>
            </div>
            <div id="div2">
                <h6 style="font-size: 14px;">&nbsp;BRAND</h6>
                <input type="checkbox"> <font style="font-weight: 200;font-size: 13px;">ME-ON(205)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;font-size: 13px;">INCOLOR(100)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;font-size: 13px;">Makeup Revolution London(49)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;font-size: 13px;">KINDED(46)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;font-size: 13px;">Adbeni(43)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;font-size: 13px;">Renee(31)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;font-size: 13px;">SUGAR(30)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;font-size: 13px;">Tint Cosmetics(29)</font><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<font>+130 more</font>
            </div>
            <div id="div3">
                <h6 style="font-size: 14px;">&nbsp;PRICE</h6>
                <input type="range" style="color: rgba(243, 6, 105, 0.867);">
                <h6 style="font-size: 11px;">₹0 - ₹600+</h6>
            </div>
            <div id="div4">
                <h6 style="font-size: 14px;">&nbsp;COLOR</h6><br>
                  <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color: black; height: 15px; width: 15px; "></button>  
                    <label for="">Black<span>  (32421)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:white; height: 15px; width: 15px; "></button>  
                    <label for="">white<span>  (24482)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:blue; height: 15px; width: 15px; "></button>  
                    <label for="">blue<span>  (18707)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:pink; height: 15px; width: 15px; "></button>  
                    <label for="">pink<span>  (14435)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:green; height: 15px; width: 15px; "></button>  
                    <label for="">green<span>  (14451)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:red; height: 15px; width: 15px; "></button>  
                    <label for="">red<span>  (8497)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:yellow; height: 15px; width: 15px; "></button>  
                    <label for="">yellow<span>  (7394)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:navy; height: 15px; width: 15px; "></button>  
                    <label for="">navy blue<span>  (6637)  </span></label> <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<font>+10 more</font>
            </div>
            <div id="div5">
                    <h6 style="font-size: 14px;">&nbsp;DISCOUNT RANGE</h6><br>
                    <input type="radio" name="" id="">   
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">10% and above</label> <br>
                    <input type="radio" name="" id="">
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">20% and above</label><br>
                    <input type="radio" name="" id="">    
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">30% and above</label> <br>
                    <input type="radio" name="" id="">
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">40% and above</label><br>
                    <input type="radio" name="" id="">    
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">50% and above</label> <br>
                    <input type="radio" name="" id="">
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">60% and above</label><br>
                    <input type="radio" name="" id="">    
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">70% and above</label><br>
                    <input type="radio" name="" id="">
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">80% and above</label><br>
                    <input type="radio" name="" id="">
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">90% and above</label> <br>

            </div>
        </article>
    <div>
        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22472514/2024/7/25/fb71dd7d-ca4e-41e6-b2c0-33709ea797021721898015397LakmeTrueWearColorCrushChipResistantNailPolish6ml-Shade161.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22472500/2024/7/25/0e435983-eb02-4736-b43a-4bfb41bb91041721897848039LakmeTrueWearColorCrushNailPolishLongLastingVibrantNailPaint1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/31937941/2024/12/11/82cc2e33-9084-42b4-b009-d5de1a08c3f31733934008224NailPolish1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13698434/2024/4/10/4c3e52e5-0fca-408e-bc79-0d784ea11e2b1712743829868-Elle-18-Nail-Pops-Nail-Color---131-8031712743829221-1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/19840464/2023/3/2/f52345ca-0c2e-4fad-9cab-326bb734ef111677754768251-Renee-Set-Of-4-Gloss-Touch-Nail-Enamel-20ml---N03-Red-Parade-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/21798580/2023/10/6/122111e6-2c85-48b9-8a95-43ba976461d81696566333981MIFASHIONSetof3HighShineLong-LastingNailLacquer12mlEach-Shim3.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/19840450/2023/3/2/f427f497-2b83-4f26-bdb9-7ebe0db601021677754707812-Renee-Set-Of-4-Gloss-Touch-Nail-Enamels-20ml---N02-Everyday--1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/9227401/2024/3/26/91cf385d-8c94-45f0-9a23-bc1f3fd395c41711447455779-Lakme-9TO5-Primer--Gloss-Nail-Color---Pink-Pace-736171144745-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/19464404/2024/2/29/b5db77b1-9f52-4d0e-a97b-6fc5c3bc71811709207358162MIFASHIONPackof4NailPolish1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/10413862/2024/5/14/5747c6c3-5cfc-4eb0-8a63-9cbda0760c401715665050124-Lakme-Absolute-Gel-Stylist-Nail-Color-12ml---Top-Coat-304171-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/10413870/2024/5/3/605ed4af-62bc-44de-80d6-a7f0422560581714737947851LakmeAbsoluteGelStylistNailColor-TomatoTango1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/9227409/2024/3/26/bd2bf761-738d-4663-82a4-63f8119c64431711447462553-Lakme-9-to-5-Primer--Gloss-Nail-Colour---Lime-Treat-71517114-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/15324536/2024/7/25/66820622-9300-4bcf-9691-4c131619e4031721897797358ELLE18NailPopsNailColor1711.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/NOVEMBER/22/SfTqAi01_bd8b2d1792cb40fd8cf27f0ae919ef95.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/7280983/2024/4/5/5fbac901-5a37-4563-9dec-1ec8e3ba701f1712313692648-Lakme-Color-Crush-Nail-Art-6-ml---U4-7691712313692339-3.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/MAY/12/PmcfHGt8_15c3de4da9b74a0d81a6d361bb48fc74.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/20452936/2024/7/25/62eed315-920c-49bb-8185-1c957bf9f6511721897832725ELLE18Long-WearingNailPopsInstantDryNailPolish5ml-Shade1841.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/AUGUST/7/qynBQoVO_353b7af55ea443749328bfecf8fe5171.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22472496/2024/7/25/106079a5-44dc-466a-bfcc-bd92825fb6221721898012839LakmeTrueWearColorCrushNailPolishLongLastingVibrantNailPaint1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13698490/2024/7/25/2d144116-7495-4664-a7d3-fcd4d2e518731721897913677ELLE18NailPopsNailPolish-391.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/18892714/2024/4/4/d75eec7c-8deb-4ea3-b506-be226e3a9a791712210082836-SUGAR-POP-Quick-Drying-Ultra-Long-wear-Glossy-Finish-Nail-La-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/NOVEMBER/22/6OkeuEfc_1f3f0ee134124a6b95d9dead125a7aec.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/27382912/2024/2/6/de4cf359-76a1-40a1-b368-5914643ad2bc1707226254196ReneeTopCoatLongLastingNailPaint-10ml1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/21913872/2024/4/4/3fd708c3-10e4-4e70-9444-85ce53cf5c171712210122767-SUGAR-POP-Quick-Drying-Long-Wear-Glossy-Classic-Nail-Lacquer-1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/NOVEMBER/22/G5ijBbNW_dcf7e09d12e84b3aa1af1a0f88beb73c.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/JULY/14/vcYwk7Mm_4e797501dcce4286896eb3335025b9b2.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13698432/2024/4/10/43e4c9f8-2b9c-42b3-a725-306b4045ec7e1712743819332-ELLE-18-Nail-Pops-Nail-Polish--129-7631712743818672-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/NOVEMBER/22/JMjJ23nG_076f56d9afdd468d9407f884b3e7f07f.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/18892750/2024/4/4/7da19efc-4d4f-4c35-a73d-f250521c1b881712210112265-SUGAR-POP-Quick-Drying-Ultra-Long-wear-Glossy-Finish-Nail-La-1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/28416410/2024/6/13/2d319546-be6d-4181-80ad-f1a150ecb0611718253736253-Lakme-Ultimate-Glam-Quick-Dry-Chrome-Nail-Polish-6-ml---Copp-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/NOVEMBER/11/xfPI1Ady_cb4076577ca14d1c87542aa4e43e96c8.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/28416414/2024/6/13/b4a7887f-ad55-4d5e-b45c-66554ea207b41718253749186-Lakme-Ultimate-Glam-Quick-Dry-Chrome-Nail-Polish-6-ml---Turq-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/11778228/2024/4/4/4df056a6-2995-4166-8f0b-028736b036841712221783457-Lakme-Absolute-Gel-Stylist-Nail-Color---Fireside-44017122217-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/NOVEMBER/22/T32NUhCM_9409627f2ae44c7a8cfd6e47da59bbde.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13698472/2024/7/25/46a0ec3d-978d-46ba-b996-d5a93c944de01721898014097ELLE18NailPopsNailPolish-021.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/11778236/2024/5/30/c0c2933b-8e49-43cb-9df9-cbc8df5109f31717065820820-Lakme-Absolute-Gel-Stylist-Nail-Color---Fearless-18917170658-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/NOVEMBER/22/WvkX36Mp_f91f68125f8c4c34a64854a2cc384f51.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/NOVEMBER/22/hSMudqTe_16ec44833a79473abd4519e5e5d5f2c1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13105510/2024/7/25/e4b6aab0-88c1-4e91-910c-5f29b5b993461721897851937Elle18NailPopsNailColor1601.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/NOVEMBER/22/faqQrAYF_5d6ce6a8779b45c9bf3a5e89f92cbde8.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/JULY/14/BsVMQkIg_5430b580ae364b2d9968b0bc98399b3b.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/11778244/2024/4/4/b47009e8-e188-41d4-b42f-0d7abceb62eb1712221808203-Lakme-Absolute-Gel-Stylist-Nail-Color--20-Poison-24171222180-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/28416426/2024/6/13/19ae6dee-3a66-494e-adfc-0662cf32a1051718253791881-Lakme-Ultimate-Glam-Quick-Dry-Chrome-Nail-Polish-6-ml---Cham-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22472476/2024/7/25/0279a635-4a6f-46ed-8c88-0d64a853a5951721897845244LakmeTrueWearColorCrushNailPolishLongLastingVibrantNailPaint1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22472482/2024/7/25/4bb8e995-f65d-46fa-ba46-48aabe9a31f11721898001975LakmeTrueWearColorCrushNailPolishLongLastingVibrantNailPaint1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22472464/2024/7/25/bcfddf10-51f7-42f6-b7d0-a34f57e01d581721897945489LakmeTrueWearColorCrushNailPolishLongLastingVibrantNailPaint1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/2025/MAY/26/D7mSuGVK_6a4f9e8361a344238cf32a44922bef09.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/21798580/2023/10/6/122111e6-2c85-48b9-8a95-43ba976461d81696566333981MIFASHIONSetof3HighShineLong-LastingNailLacquer12mlEach-Shim3.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/19464404/2024/2/29/b5db77b1-9f52-4d0e-a97b-6fc5c3bc71811709207358162MIFASHIONPackof4NailPolish1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/19840464/2023/3/2/f52345ca-0c2e-4fad-9cab-326bb734ef111677754768251-Renee-Set-Of-4-Gloss-Touch-Nail-Enamel-20ml---N03-Red-Parade-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <br><br>
        <hr>
        <br>
        <div id="lastpart">
        <font style="font-size: 25px;color: rgb(108, 111, 111);padding-bottom: 8px;"><i class='bx bx-chevrons-left' ></i></font><h4 style="color: rgb(108, 111, 111);padding-bottom: 10px;font-size: 15px;"> Page 1</h4>
        <button style="width:120px;height: 40px;font-size: 17px;font-weight: 600;color: rgb(108, 111, 111);background-color: white;border-radius: 3px;border: 0.1px solid;margin-top: -10px;border-color: rgb(199, 202, 202);"><i class='bx bx-chevron-left' ></i> Previous</button>
        <p style="padding-bottom: 10px;margin-left: 30px;font-size: 13px;">Page 1 of 360</p>
        <button style="width:90px;height: 40px;font-size: 17px;font-weight: 600;color: black;background-color: white;border-radius: 3px;border: 0.1px solid;margin-top: -10px;margin-left: 30px;border-color: rgb(199, 202, 202);">Next <i class='bx bx-chevron-right'></i></button>
        </div>
        <br><br><br><br>
    </div>
    </section>

    <section id="sec1">
        <aside style="width: 690px;text-align: justify;text-justify: inter-word;">
            <h4 style="color: rgb(108, 111, 111);text-align: center;font-size: 14px;font-weight: 800;letter-spacing: 0.5px;">BUY LIPSTICK</h4>
            <br>
            <br>
            <p>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">LIPSTICK AT MYNTRA: LET YOUR LIPS DO THE TALKING</h6><br>
                <font style="color: rgb(108, 111, 111);font-size: 13px;">
                    For many, lips are the most sensual part of your body. But to really get that attention-grabbing touch, you need a<br>
                    dash of colour and glow. Among all the <b>cosmetics</b> that are available nowadays, one particular product that helps<br>
                    you get that shine is the lipstick. With numerous options features various oils, waxes and eye-catching pigments,<br>
                    lipsticks can brighten things up for you in a jiffy.
                    <br><br>
                    Lip colour has been used in ancient times by Sumerians and even by people of the Indus Valley civilisation.<br>
                    Egyptian royalty used to apply colour on their lips as a symbol of power, beauty and youthfulness. Adding colour<br>
                    to your lips was considered taboo in the early 20th century until Hollywood stars helped popularise it as regular<br>
                    makeup. The first modern swivel up lip colour tube appeared in 1923.
                    <br><br>
                    Today, this cosmetics must-have is an important part of every woman's <b>makeup kit</b>. Myntra brings you the best of<br>
                    branded lipsticks online. Choose your favourite lipstick shades and let your lips do the talking. 
                </font>
                <br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">MYNTRA'S LIPSTICK COLLECTION: FOR LUSCIOUS LIPS AND AN ALLURING SMILE</h6><br>
                <font style="color: rgb(108, 111, 111);font-size: 13px;">
                    Myntra's brings you a wide array of lipstick colours and smooth and creamy textures. You can choose from among<br>
                    crayon, liquid, or pencil applicators. Select the type of finish that you would like such as matte, creme, pearl or<br>
                    glossy. Our lipstick brands offer the best quality <b>makeup</b> products which have been thoroughly checked.<br><br>

                    To start with, here is a list of the various types of lipsticks online at Myntra from which you can choose the ones<br>
                    best for your lips:
                    <br><br>
                    <ul class="ul1" style="list-style: none;margin-left: 30px;">
                        <li>1.When your lip colour starts to run or smudge it gets quite embarrassing. We bring you a lineup of long-<br>
                              lasting lipsticks equipped with advanced polymer technology. This offers a high degree of pigmentation to<br>
                              increase the effectiveness of your lip colour. To increase the longevity of your lip colour, you can also use a<br>
                              primer as a base. Alternatively, you can buy lipsticks online with a built-in primer.</li>
                        <li>2.Choose lipsticks with special features which offer better protection for your lips. Versions with SPF would<br>
                          let you face the sun outside with courage. Meanwhile, smudge-free liquid varieties ensure that the colour<br>
                          does not leak and is long-wearing. </li>
                        <li>3.If your lips are on the drier side and you are worried about losing their moisture, opt for a bit of hydration.<br>
                          Moisturising lipsticks are enriched with vitamin E and help keep your lips soft and supple for hours. Try a<br>
                          special formulation which features precious oils which would help smoothen the cracks on your lips and<br>
                          give them a petal-like feel.</li>
                    </ul>
                    <br>
                    And there are more varieties to choose from in a lipstick price range that is quite affordable. <br>
                </font>
                <br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">BUY LIPSTICK ONLINE IN A SNAP</h6><br>
                <font style="color: rgb(108, 111, 111);font-size: 13px;">
                    If you need your favourite lip colour shades in a jiffy, you can shop for them in an instant at Myntra.Our simplified<br>
                    purchase processes help you buy lipsticks online without any hassles. Make sure you also have a look at our<br>
                    exclusive selection of other makeup-essentials such as eyeliner, kajal and compact. <br><br>
                 <h6 style="color: rgb(108, 111, 111);font-size: 12px;">TOP SEARCHES</h6><br>
                   <b>Lakme Lipstick, Maybelline Lipstick, M.A.C Lipstick, Nude Lipstick, Matte Lipstick, Sugar Lipstick, Elle 18<br>
                    Lipstick, Liquid Lipstick, Colorbar Lipstick, Lakme 9 to 5 Lipstick, Red Lipstick, Pink Lipstick, Revlon<br>
                    Lipstick, Loreal Lipstick, Peach Lipstick, Black Lipstick, Lipsticks under 1499, Lipsticks under 499</b><br><br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">WHICH LIPSTICK IS BEST?</h6><br>
                    The best lipsticks have a lightweight, long-lasting, moisturising, and smudge-proof formula that can get you <br>
                    through a good 5-6 hours of the day without re-application.<br><br>
                    You can find lipsticks that give you a satin, glossy, matte, and pearl finish every time you wear it. Also, you can<br>
                    select lipstick ingredients according to your preference, be it alcohol-free or infused with herbal ingredients. <br>
                <br><h6 style="color: rgb(108, 111, 111);font-size: 12px;">HOW DO I APPLY LIPSTICK?</h6><br>
                <ul class="ul1" style="list-style: none;margin-left: 30px;"><br>
                        <li>1. Always start by applying lip balm for having an even application of lipstick. Lip balms help in reducing <br>
                               crevices and help make lips smoother.</li>
                        <li>2. Choose a lip liner that matches your lips and not your lipstick. Use a lip pencil and make small strokes at <br>
                            different points along the outline. Finally, connect the strokes using a lip liner to connect the dots.</li>
                        <li>Then pick up a lipstick of your choice and start filling it in the outline you just made. Make sure you start <br>
                            from the centre and then move from one corner to the other.</li>
                        <li>Lastly, keep your teeth clean from lipsticks marks by using a tissue paper. Fold it in half and then blot it on <br>
                            your lips. You can also dust a little powder on the tissue paper and dab it on your lips.</li>
                </ul><br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">WHAT IS NUDE LIPSTICK?</h6>
                <br><br>
                    Lipsticks with pigments as close to your own lip colour are referred to as nude lipsticks. Each individual has a <br>
                    unique lip colour and thus the shade of nude varies. For this reason, the market is flooded with varying shades of <br>
                    nude lipsticks. <br>
                    This subtle lipstick shade usually blends in with the colour of your lips, making it look more natural. <br>
                <br>
                <h3>VIDEO: How To Apply Nail Polish Seamlessly | Hack It | Myntra</h3>
                <br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/hs_hoVJXx1U?si=0QVc77OiR1zp6tXG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                Often associated with sensuality, the beauty of lips is truly reflected when it gets a dash of colour and shine. A<br>
                Lipstick does that job well while also offering it some much-needed texture with finishing options like a matte<br>
                lipstick, liquid lipstick, to name a few. In this video, we explore which shade of lipstick best complements your skin
                tone.<br>
                <br>
            </font>
            </p>
        </aside>   
        <div>
            <h4 style="color: rgb(108, 111, 111);text-align: center;font-size: 14px;font-weight: 800;letter-spacing: 0.5px;">LIPSTICK PRICE LIST</h4>
            <br><br>
            <article>
            <ol>
                <li style="font-weight: 400;color: rgb(108, 111, 111);"><b>Lipstick</b></li>
                <br>
                <li>Clinique Almost Lipstick In Black Honey - 1.9g</li>
                <br>
                <li>M.A.C MACximal Matte Mini Lipstick - Ruby Woo</li>
                <br>
                <li>Maybelline New York Color Sensational Creamy Matte<br>
                    Lipstick - 657 Nude Nuance - 3.9g</li>
                <br>
                <li>Maybelline New York Super Stay Matte Ink Liquid Lipstick 5 <br>
                    ml - Founder 115</li>
                <br>                
                <li>Mamaearth Creamy Matte Long Stay Lipstick With <br>
                    Murumuru Butter- 4.2g-Hibiscus Nude</li>
                <br>
                <li>Mamaearth Creamy Matte Long Stay Lipstick With <br>
                    Murumuru Butter - 4.2g - Cranberry Crush</li>
                <br>
                <li>Maybelline New York Super Stay Matte Ink Liquid Lipstick 5 <br>
                    ml - Amazonian 70</li>
                <br>
                <li>Pilgrim Matte Bullet Intense Colour Transferproof & <br>
                    Smudgeproof Lipstick - Nude Kiss 31</li>
                <br>
                <li>Maybelline New York Color Sensational Creamy Matte <br>
                    Lipstick - Touch of Spice 660</li>
                <br>
                <li>Maybelline New York Super Stay Matte Ink Liquid Lipstick 5 <br>
                    ml - Ambitious 220</li>
                <br>
                <li style="font-weight: 400;"><b><em>Data last updated on 21/07/2025</em></b></li>
            </ol>
            <ul>
                <li style="line-height: 14px;font-weight: 400;color: rgb(108, 111, 111);">
                    <b>PRICE<br>(RS)</b>
                </li>
                <li>Rs. 2300</li>
                <li>Rs. 1150</li>
                <li style="line-height: 52px;">Rs. 207</li>
                <li style="line-height: 50px;">Rs. 440</li>
                <li style="line-height: 75px;">Rs. 359</li>
                <li style="line-height: 75px;">Rs. 359</li>
                <li style="line-height: 50px;">Rs. 419</li>
                <li style="line-height: 60px;">Rs. 446</li>
                <li style="line-height: 60px;">Rs. 203</li>
                <li>Rs. 471</li>
            </ul>
            </article>
        </div>
    </section>
    {%endblock content%}