{% extends 'base.html' %}
{% block content %}

    <main>
        <div>
        <font style="font-size: 13px;">Home / Personal Care / <b>Perfumes for Men & Women</b></font><br><br>
        <h4 style="font-size: 14px;letter-spacing: 0.5px;">Perfumes for Men & Women - <font style="font-weight: 400;color: rgb(171, 164, 164);">10162 items</font></h4>
        <br><br>
        <article>
            <h4 style="font-size: 14px;letter-spacing: 0.5px;">FILTERS</h4>
            <ol>
                <li>Bundles <span><i class='bx bx-chevron-down' ></i></span></li>
                <li>Colour Family <span><i class='bx bx-chevron-down' ></i></span></li>
                <li>Colour Shade Name <span><i class='bx bx-chevron-down' ></i></li>
                <li>Country Of Origin <span><i class='bx bx-chevron-down' ></i></li>
                <li>Coverage <span><i class='bx bx-chevron-down' ></i></li>
                <li>Features <span><i class='bx bx-chevron-down' ></i></li>
                <li>Finish <span><i class='bx bx-chevron-down' ></i></li>
                <li><b>7+ more</b></li>
            </ol>
            <select name="" id="" style="width: 260px;height: 40px;margin-top: -20px;">
                <option value=""><p>Sort by:  <strong>Recommended</strong></p><i class='bx bx-chevron-down' ></i></option>
            </select>
        </article>
        </div>
    </main>

    <section>
        <article>
            <div id="div1">
                <input type="radio"> <font style="font-weight: 600;">Men</font><br>
                <input type="radio"> <font style="font-weight: 600;">Women</font><br>
                <input type="radio"> <font style="font-weight: 600;">Boys</font><br>
                <input type="radio"> <font style="font-weight: 600;">Girls</font><br>
            </div>
            <div id="div2">
                <h6 style="font-size: 14px;">&nbsp;BRAND</h6>
                <input type="checkbox"> <font style="font-weight: 200;">PERPAA(1304)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">VOLO(771)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">ME-ON(734)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">MI FASHION(612)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">CurlyTales(609)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">ForSure(527)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">FORFOR(498)</font><br>
                <input type="checkbox"> <font style="font-weight: 200;">JUICE(452)</font><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<font>+275 more</font>
            </div>
            <div id="div3">
                <h6 style="font-size: 14px;">&nbsp;PRICE</h6>
                <input type="range" style="color: rgba(243, 6, 105, 0.867);">
                <h6 style="font-size: 11px;">₹0 - ₹600+</h6>
            </div>
            <div id="div4">
                <h6 style="font-size: 14px;">&nbsp;COLOR</h6><br>
                  <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color: black; height: 15px; width: 15px; "></button>  
                    <label for="">Black<span>  (32421)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:white; height: 15px; width: 15px; "></button>  
                    <label for="">white<span>  (24482)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:blue; height: 15px; width: 15px; "></button>  
                    <label for="">blue<span>  (18707)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:pink; height: 15px; width: 15px; "></button>  
                    <label for="">pink<span>  (14435)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:green; height: 15px; width: 15px; "></button>  
                    <label for="">green<span>  (14451)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:red; height: 15px; width: 15px; "></button>  
                    <label for="">red<span>  (8497)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:yellow; height: 15px; width: 15px; "></button>  
                    <label for="">yellow<span>  (7394)  </span></label> <br>
                    <input type="checkbox" name="" id=""> &nbsp;   
                    <button style="border-radius: 50%; background-color:navy; height: 15px; width: 15px; "></button>  
                    <label for="">navy blue<span>  (6637)  </span></label> <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<font>+10 more</font>
            </div>
            <div id="div5">
                    <h6 style="font-size: 14px;">&nbsp;DISCOUNT RANGE</h6><br>
                    <input type="radio" name="" id="">   
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">10% and above</label> <br>
                    <input type="radio" name="" id="">
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">20% and above</label><br>
                    <input type="radio" name="" id="">    
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">30% and above</label> <br>
                    <input type="radio" name="" id="">
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">40% and above</label><br>
                    <input type="radio" name="" id="">    
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">50% and above</label> <br>
                    <input type="radio" name="" id="">
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">60% and above</label><br>
                    <input type="radio" name="" id="">    
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">70% and above</label><br>
                    <input type="radio" name="" id="">
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">80% and above</label><br>
                    <input type="radio" name="" id="">
                    <label for="" style="font-weight: 200;font-size: 13px;color: rgb(108, 111, 111);font-weight: 200;">90% and above</label> <br>

            </div>
        </article>
    <div>
        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/AUGUST/7/JEwfrv6G_c5ed31eecc894b438d48eb731c0c6072.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/14184028/2025/7/18/44ea5bb3-9007-4e86-bb2d-4058e927d3d91752834267737-Jean-Paul-Gaultier-Le-Male-Eau-de-Parfum-75ML-45417528342673-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/21894172/2023/2/8/0b2ec807-5912-4700-a1ee-830e215df62e1675853151612PerfumeandBodyMist1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/FEBRUARY/15/9bmpRsxT_1cecc7cd422c43c6b5daa8299e85aedc.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/28643972/2025/7/21/07da1f71-0436-4764-98b1-382ce2d86be41753091771711-Jean-Paul-Gaultier-Le-Male-Elixir-Parfum---75ml-341753091771-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/JANUARY/27/6K57h2es_0a660408c5cb40ba920526e6be9fa168.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/33479606/2025/7/16/c09ce435-0c97-4478-8fe7-2584638c76941752650055693-Plum-Set-Of-2-Vanilla-Duo-Long-Lasting-Perfume-Gift-Set-For--1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/10019567/2025/4/30/57ead1c6-23a7-4f5b-8f70-5defb7d0c2591745990652519-Wild-Stone-Men-Edge-Eau-de-Parfum-100-ml-6721745990652054-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/16242946/2024/6/10/aeabaa2f-117a-496d-9e5c-106acd7a1da71717998613137-Bella-Vita-Organic-Unisex-White-Oud-Perfume-100-ml-641171799-1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/AUGUST/21/Mi0aQKAw_a41c6a01b5a44a09af78b1482cadeeb7.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/20819338/2022/11/19/df9f7760-a3b2-4bd3-b608-59d504efa4b61668831911353PerfumeandBodyMist1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/20312680/2023/2/2/d549c099-b6dd-4f83-bc6f-04021c27c10d1675318851056-Carlton-London-Women-Veronica-Eau-de-Parfum---50ml-928167531-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/AUGUST/21/e2GtDC2S_c004f0d943644b19906f62d5a89516b3.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/32199655/2025/1/3/7e53e656-0902-40dd-8067-50b846d30aab1735907492802FragranceGiftSet1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/v1/images/style/properties/Estee-Lauder-Women-Beautiful-75-ml-Perfume_07d3f64f7c38c4025a2f7b8c40ce5b8c_images.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/18953208/2022/10/20/4111ee45-0d8b-409a-8385-df98b5ea8a841666243377100-Marks--Spencer-Unisex-Perfume-and-Body-Mist-6751666243376920-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/JANUARY/27/59vXyfbt_89434bd40f0c43378e6f59a77311994e.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/24240310/2024/7/23/6a45e7d2-a38b-4e97-a195-6157982082e21721733692086GiorgioArmaniMenCodeRefillableEaudeParfumSpray-125ml1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/1595214/2024/10/16/2a9a9476-0e7a-4a2d-8803-13f2eae54a391729058751132-Calvin-Klein-Unisex-One-Gold-Toned-Eau-De-Toilette-Perfume-7-1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/25754148/2023/12/13/ac0ef319-3859-4e41-b33f-0c75f585380b1702462159645-Carlton-London-Euphoria-Women-Gift-Set-of-4-EDP-Perfume---30-6.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/21596702/2023/1/31/c8f92491-8f84-4cb5-9aa6-7853020200a21675145892194LHOMMEPRADAINTENSEEDPVAP100ML1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/29932048/2024/9/7/a5ef8a36-c840-441f-bc8b-a86419db51151725722270311-Mamaearth-Women-Into-the-Sunset-Eau-De-Parfum---100ml-579172-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/25332512/2024/5/2/f91703f3-0033-4d92-8e31-ae249aa29e301714651282010-Envy-Women-Set-of-4-Eau-De-Parfum-20-ml-Each---Opulence-Bewi-17.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/17785932/2024/6/10/4f9c9d48-5c75-49a4-aa6f-57fdf4215ac71717998644569-Bella-Vita-Organic-Luxury-Skai-Aquatic-Eau-De-Cologne---100m-1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/32370221/2025/2/14/0a8e3cde-3e57-4564-870e-05020c8e47881739531626749-Skinn-Set-Of-4-24Seven--Floral--Caramel--Woody--Aqua-Eau-De--1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/OCTOBER/15/wJi9WCr5_7b9bdd179e594910b8e83aea7ae72e7f.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/16242968/2024/6/10/e08b3db9-8290-49b5-b666-f1860b7430e51717998634079-Bella-Vita-Organic-Unisex-Fresh-Perfume-100-ml-6521717998633-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/1677347/2019/1/25/5a906aed-cba7-414b-a038-f4de74d1f5891548410105284-BENTLEY-For-Men-Intense-EDP-100-ml-1221548410104728-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/JANUARY/27/JH4D5QAt_9eef4c9486ae473992b5c6e5695ded3a.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13990542/2025/7/17/051b08a1-bc31-47de-b0ec-c436b24946071752750922164-SKINN-Women-Tales-Ibiza-Perfume-100ml-3841752750921440-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/20819314/2022/11/19/405b3432-16da-4043-9c43-c2f2400348151668835125344MarksSpencerWarmNeroliEauDeToilette100ml1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/16242954/2024/6/10/4d707096-571b-47fa-bf8b-5971751692c71717998623547-Bella-Vita-Organic-Rose-Woman-EDP---Luxury-Rose-With-Floral--1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/4374563/2024/7/19/a70e05f5-a9d7-4c28-a509-e2565a3fbf201721388188663EnvyMenNaturalSprayEauDeParfum30ml1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/24587622/2023/12/15/b41c028d-3e05-495f-a4a4-0058a76fafa51702633782355-Jack--Jones-Men-Blue-02-Surf-the-Web-Eau-De-Toilette---75-ml-1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/17785934/2024/6/10/e5d84b15-dd6e-46cd-883b-2395cc1b5a3c1717998649256-Bella-Vita-Organic-Luxury-Honey-Oud-Eau-De-Parfum---100ml-64-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/27646584/2024/10/16/1761360c-c497-45d2-b0f0-7a5c0ba3117d1729059272330-Calvin-Klein-CK-One-Eau-de-Toilette---100-ml-821172905927197-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/7690162/2023/12/7/d19081a9-614a-4d74-b08f-62d0598501081701940617419AjmalUnisexColabaMukhallatOrientalPerfume14ml1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/29932050/2024/9/7/4641da4e-49db-4f9e-b1d8-af29a7745c511725722280811-Mamaearth-Women-Into-the-Vanilla-Bliss-Eau-De-Parfum---100ml-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/FEBRUARY/17/bgJaW1Qd_eb53d636e31b4c919447403bba98e1f2.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/11785242/2022/8/1/ec1d3724-61b2-444e-b7c8-bd174d5623aa1659356765418SKINNbyTitanWomenCelesteFragrance-50ML1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/43113/2023/6/1/264faa7c-7c45-4f94-8a89-9ecb124378b51685620141516-JAGUAR-Men-Classic-Black-Eau-De-Toilette-100-ml-131685620141-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/9043129/2019/4/9/6260eb58-c2e9-43e1-a4f8-c21e7bf1ddc91554809652430-Envy-Men-Perfume-and-Body-Mist-5031554809652279-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/NOVEMBER/20/gPzZEAsY_6b274b94704248a9ad7b37c03e40ef41.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31058064/2025/3/21/959d6052-eca2-41cc-b8e6-120a49cdc8461742539334929-FRENCH-ESSENCE-Set-Of-2-Bloom--Oudh-Long-Lasting-Eau-De-Parf-11.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/SEPTEMBER/12/5AwRWFTL_4bba68aba25a4fb88cfbd4be1f43622d.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <aside>
            <ol>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/SEPTEMBER/12/cMriUXlf_3029e780c937483c94f04cd62c29d15d.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Huda Beauty</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/MARCH/18/ezWOMxYO_1e646b204f08400f95962c2f9f584703.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Bobbi Brown</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/33077239/2025/5/13/aa77b0d3-5f3f-4aff-8565-c86c9148aed51747124519295-Calvin-Klein-Women-Eternity-Fragrance-Gift-Set-8451747124519-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/16887306/2022/8/5/909dd731-a4e5-43b1-8ddf-5653fc7534851659708565127PacoRabanneMen1MillionElixirParfumIntense-200ml1.jpg" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <li>
                    <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/93092/2025/6/2/adbfd5fa-7772-4318-8998-4e3129c4bcbd1748853722996-DAVIDOFF-Men-Cool-Water-Eau-De-Toilette-125-ml-2717488537223-1.jpg" alt="" style="width: 212px;height: 250px;"><br>
                    <br>
                    <h4 style="font-size: 14px;letter-spacing: 0.5px;">Clinique</h4>
                    <font style="font-size: 14px;color: rgb(108, 111, 111);">Almost lipstick in black honey</font><br>
                    <p style="font-size: 14px;"><b>Rs.2300</b></p>
                </li>
                <br><br>
            </ol>
        </aside>

        <br><br>
        <hr>
        <br>
        <div id="lastpart">
        <font style="font-size: 25px;color: rgb(108, 111, 111);padding-bottom: 8px;"><i class='bx bx-chevrons-left' ></i></font><h4 style="color: rgb(108, 111, 111);padding-bottom: 10px;font-size: 15px;"> Page 1</h4>
        <button style="width:120px;height: 40px;font-size: 17px;font-weight: 600;color: rgb(108, 111, 111);background-color: white;border-radius: 3px;border: 0.1px solid;margin-top: -10px;border-color: rgb(199, 202, 202);"><i class='bx bx-chevron-left' ></i> Previous</button>
        <p style="padding-bottom: 10px;margin-left: 30px;font-size: 13px;">Page 1 of 360</p>
        <button style="width:90px;height: 40px;font-size: 17px;font-weight: 600;color: black;background-color: white;border-radius: 3px;border: 0.1px solid;margin-top: -10px;margin-left: 30px;border-color: rgb(199, 202, 202);">Next <i class='bx bx-chevron-right'></i></button>
        </div>
        <br><br><br><br><br><br><br>
    </div>
    </section>

    <section id="sec1">
        <aside style="width: 690px;text-align: justify;text-justify: inter-word;">
            <h4 style="color: rgb(108, 111, 111);text-align: center;font-size: 14px;font-weight: 800;letter-spacing: 0.5px;">BUY LIPSTICK</h4>
            <br>
            <br>
            <p>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">LIPSTICK AT MYNTRA: LET YOUR LIPS DO THE TALKING</h6><br>
                <font style="color: rgb(108, 111, 111);font-size: 13px;">
                    For many, lips are the most sensual part of your body. But to really get that attention-grabbing touch, you need a<br>
                    dash of colour and glow. Among all the <b>cosmetics</b> that are available nowadays, one particular product that helps<br>
                    you get that shine is the lipstick. With numerous options features various oils, waxes and eye-catching pigments,<br>
                    lipsticks can brighten things up for you in a jiffy.
                    <br><br>
                    Lip colour has been used in ancient times by Sumerians and even by people of the Indus Valley civilisation.<br>
                    Egyptian royalty used to apply colour on their lips as a symbol of power, beauty and youthfulness. Adding colour<br>
                    to your lips was considered taboo in the early 20th century until Hollywood stars helped popularise it as regular<br>
                    makeup. The first modern swivel up lip colour tube appeared in 1923.
                    <br><br>
                    Today, this cosmetics must-have is an important part of every woman's <b>makeup kit</b>. Myntra brings you the best of<br>
                    branded lipsticks online. Choose your favourite lipstick shades and let your lips do the talking. 
                </font>
                <br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">MYNTRA'S LIPSTICK COLLECTION: FOR LUSCIOUS LIPS AND AN ALLURING SMILE</h6><br>
                <font style="color: rgb(108, 111, 111);font-size: 13px;">
                    Myntra's brings you a wide array of lipstick colours and smooth and creamy textures. You can choose from among<br>
                    crayon, liquid, or pencil applicators. Select the type of finish that you would like such as matte, creme, pearl or<br>
                    glossy. Our lipstick brands offer the best quality <b>makeup</b> products which have been thoroughly checked.<br><br>

                    To start with, here is a list of the various types of lipsticks online at Myntra from which you can choose the ones<br>
                    best for your lips:
                    <br><br>
                    <ul class="ul1" style="list-style: none;margin-left: 30px;">
                        <li>1.When your lip colour starts to run or smudge it gets quite embarrassing. We bring you a lineup of long-<br>
                              lasting lipsticks equipped with advanced polymer technology. This offers a high degree of pigmentation to<br>
                              increase the effectiveness of your lip colour. To increase the longevity of your lip colour, you can also use a<br>
                              primer as a base. Alternatively, you can buy lipsticks online with a built-in primer.</li>
                        <li>2.Choose lipsticks with special features which offer better protection for your lips. Versions with SPF would<br>
                          let you face the sun outside with courage. Meanwhile, smudge-free liquid varieties ensure that the colour<br>
                          does not leak and is long-wearing. </li>
                        <li>3.If your lips are on the drier side and you are worried about losing their moisture, opt for a bit of hydration.<br>
                          Moisturising lipsticks are enriched with vitamin E and help keep your lips soft and supple for hours. Try a<br>
                          special formulation which features precious oils which would help smoothen the cracks on your lips and<br>
                          give them a petal-like feel.</li>
                    </ul>
                    <br>
                    And there are more varieties to choose from in a lipstick price range that is quite affordable. <br>
                </font>
                <br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">BUY LIPSTICK ONLINE IN A SNAP</h6><br>
                <font style="color: rgb(108, 111, 111);font-size: 13px;">
                    If you need your favourite lip colour shades in a jiffy, you can shop for them in an instant at Myntra.Our simplified<br>
                    purchase processes help you buy lipsticks online without any hassles. Make sure you also have a look at our<br>
                    exclusive selection of other makeup-essentials such as eyeliner, kajal and compact. <br><br>
                 <h6 style="color: rgb(108, 111, 111);font-size: 12px;">TOP SEARCHES</h6><br>
                   <b>Lakme Lipstick, Maybelline Lipstick, M.A.C Lipstick, Nude Lipstick, Matte Lipstick, Sugar Lipstick, Elle 18<br>
                    Lipstick, Liquid Lipstick, Colorbar Lipstick, Lakme 9 to 5 Lipstick, Red Lipstick, Pink Lipstick, Revlon<br>
                    Lipstick, Loreal Lipstick, Peach Lipstick, Black Lipstick, Lipsticks under 1499, Lipsticks under 499</b><br><br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">WHICH LIPSTICK IS BEST?</h6><br>
                    The best lipsticks have a lightweight, long-lasting, moisturising, and smudge-proof formula that can get you <br>
                    through a good 5-6 hours of the day without re-application.<br><br>
                    You can find lipsticks that give you a satin, glossy, matte, and pearl finish every time you wear it. Also, you can<br>
                    select lipstick ingredients according to your preference, be it alcohol-free or infused with herbal ingredients. <br>
                <br><h6 style="color: rgb(108, 111, 111);font-size: 12px;">HOW DO I APPLY LIPSTICK?</h6><br>
                <ul class="ul1" style="list-style: none;margin-left: 30px;"><br>
                        <li>1. Always start by applying lip balm for having an even application of lipstick. Lip balms help in reducing <br>
                               crevices and help make lips smoother.</li>
                        <li>2. Choose a lip liner that matches your lips and not your lipstick. Use a lip pencil and make small strokes at <br>
                            different points along the outline. Finally, connect the strokes using a lip liner to connect the dots.</li>
                        <li>Then pick up a lipstick of your choice and start filling it in the outline you just made. Make sure you start <br>
                            from the centre and then move from one corner to the other.</li>
                        <li>Lastly, keep your teeth clean from lipsticks marks by using a tissue paper. Fold it in half and then blot it on <br>
                            your lips. You can also dust a little powder on the tissue paper and dab it on your lips.</li>
                </ul><br><br>
                <h6 style="color: rgb(108, 111, 111);font-size: 12px;">WHAT IS NUDE LIPSTICK?</h6>
                <br><br>
                    Lipsticks with pigments as close to your own lip colour are referred to as nude lipsticks. Each individual has a <br>
                    unique lip colour and thus the shade of nude varies. For this reason, the market is flooded with varying shades of <br>
                    nude lipsticks. <br>
                    This subtle lipstick shade usually blends in with the colour of your lips, making it look more natural. <br>
                <br><br>
                <h2>Explore Timeless Lipstick Shades from Top Beauty Brands</h2><br>
                <table border="2px solid" style="width:600px;height:130px;text-align: center;font-weight: 500;">
                    <tr>
                        <td>Maybelline Lipstick</td>
                        <td>Lakme Lipstick</td>
                        <td>Myglamm Lipstick</td>
                        <td>Mamaearth Lipstick</td>
                    </tr>
                    <tr>
                        <td>Sugar Lipstick</td>
                        <td>MAC Lipstick</td>
                        <td>Swiss Beauty Lipstick</td>
                        <td>Mars Lipstick</td>
                    </tr>
                    <tr>
                        <td>Renee Lipstick</td>
                        <td>Just Herbs Lipstick</td>
                        <td>Faces Canada Lipstick</td>
                        <td>Elle 18 Lipstick</td>
                    </tr>
                </table>
                <br>
                <h3>VIDEO: How to choose the best lipstick for different skin tones</h3>
                <br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/EUPhlhBBzd0?si=FgOPTxAVy9hTmXAE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <br>
                Often associated with sensuality, the beauty of lips is truly reflected when it gets a dash of colour and shine. A<br>
                Lipstick does that job well while also offering it some much-needed texture with finishing options like a matte<br>
                lipstick, liquid lipstick, to name a few. In this video, we explore which shade of lipstick best complements your skin
                tone.<br>
            </font>
            </p>
        </aside>   
        <div>
            <h4 style="color: rgb(108, 111, 111);text-align: center;font-size: 14px;font-weight: 800;letter-spacing: 0.5px;">LIPSTICK PRICE LIST</h4>
            <br><br>
            <article>
            <ol>
                <li style="font-weight: 400;color: rgb(108, 111, 111);"><b>Lipstick</b></li>
                <br>
                <li>Clinique Almost Lipstick In Black Honey - 1.9g</li>
                <br>
                <li>M.A.C MACximal Matte Mini Lipstick - Ruby Woo</li>
                <br>
                <li>Maybelline New York Color Sensational Creamy Matte<br>
                    Lipstick - 657 Nude Nuance - 3.9g</li>
                <br>
                <li>Maybelline New York Super Stay Matte Ink Liquid Lipstick 5 <br>
                    ml - Founder 115</li>
                <br>                
                <li>Mamaearth Creamy Matte Long Stay Lipstick With <br>
                    Murumuru Butter- 4.2g-Hibiscus Nude</li>
                <br>
                <li>Mamaearth Creamy Matte Long Stay Lipstick With <br>
                    Murumuru Butter - 4.2g - Cranberry Crush</li>
                <br>
                <li>Maybelline New York Super Stay Matte Ink Liquid Lipstick 5 <br>
                    ml - Amazonian 70</li>
                <br>
                <li>Pilgrim Matte Bullet Intense Colour Transferproof & <br>
                    Smudgeproof Lipstick - Nude Kiss 31</li>
                <br>
                <li>Maybelline New York Color Sensational Creamy Matte <br>
                    Lipstick - Touch of Spice 660</li>
                <br>
                <li>Maybelline New York Super Stay Matte Ink Liquid Lipstick 5 <br>
                    ml - Ambitious 220</li>
                <br>
                <li style="font-weight: 400;"><b><em>Data last updated on 21/07/2025</em></b></li>
            </ol>
            <ul>
                <li style="line-height: 14px;font-weight: 400;color: rgb(108, 111, 111);">
                    <b>PRICE<br>(RS)</b>
                </li>
                <li>Rs. 2300</li>
                <li>Rs. 1150</li>
                <li style="line-height: 52px;">Rs. 207</li>
                <li style="line-height: 50px;">Rs. 440</li>
                <li style="line-height: 75px;">Rs. 359</li>
                <li style="line-height: 75px;">Rs. 359</li>
                <li style="line-height: 50px;">Rs. 419</li>
                <li style="line-height: 60px;">Rs. 446</li>
                <li style="line-height: 60px;">Rs. 203</li>
                <li>Rs. 471</li>
            </ul>
            </article>
        </div>
    </section>
    {%endblock content%}