<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        *{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Arial', 'Helvetica Neue', sans-serif;
        }
        header{
            border: 2px none red;
            height: 60px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0px;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 3;
            background-color: white;
            box-shadow: 0px 0px 10px rgb(168, 167, 167);


        }

        #div{
            border: 2px none black;
            height: 50px ;
            width: 71px;
            background-image: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
            /* background-size: auto; */
            background-position: 10% 36%;
        }
        #div1{
            border: 2px none black;
            width: 550px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

        }
        #div1>a{
            color: black;
            font-weight: 500;
            text-decoration: none;
            

        }
        #sbox{
            border: 2px none red;
            height: auto;
            width: 420px;
            display: flex;
            align-items: center;
        }
        .search{
            font-size: 20px;
            color: gray;
            position: absolute;
            z-index: 2;
            padding-left: 16px;   
        }
        #sbox>input{
            height: 11px;
            width: 400px;
            padding: 12px;
            position: relative;
        }
        #sbox>input::placeholder{
            font-size: 16px;
            color: gray;
            padding: 40px;
        }

        #div2{
            height: auto;
            width: 60px;
        }
        #d1{
            height: auto;
            width: 50px;

        }
        #d1>i{
            color: black;
        }
        #div2{
            border: 2px none red;
            height: 40px;
            width: 190px;
            display: flex;
            gap: 25px;
        }
        #div2 a{
            font-weight: 500;
        }
        .d1{
            border: 2px none black;
            height: 45px;
            width: 40px;
            text-align: center;
        }
        #sec1{
            border: 2px none black;
            margin-top: 100px;

        }
        #div3{
            font-size: 14px;

        }
        .sel{
            border: none;

        }
        .sel:hover{
            border: 1px none gray;
            background-color: rgb(218, 214, 214);
            border-radius: 30px;
            padding: 5px;
        }
        #s1{
            font-size: 13px;
            color: red;
        }
        #d2{
            border: 2px none red;
            height: auto;
            width: 230px;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
        #d3{
            border: 2px none red;
            height: auto;
            width: 790px;
            display: flex;
            justify-content: space-between;



        }
        #s2{
            font-size: 13px;
        }
        #sel1{
            width: 240px;
            padding: 5px  10px;
            font-size: 16px;
        }
        #div4{
            border: 2px none black;
            width: 1380px;
            height: auto;
            display: flex;
            justify-content: space-between  ;
            align-items: center;
            padding: 0px 10px;

        }
        #sec2{
            border: 1px solid rgb(179, 177, 177);
            height: auto;
            width: 225px;
            left: 0;
            padding: 10px 0px 0px 20px ;
            position: sticky;
            z-index: -1;
        
            

        }
        .d4{
            border: 2px none red;
            width:220px;
            font-size: 15px;
            font-weight: 500;
           
       
        }   
        .d4>i{
           margin-left: 80px;
          
        }
        .p2{
            margin-left: 20px;
            color: red;
            font-size: 15px;

        }
        .range-input{
            background-color: #d3d3d3;
            height: 3px;
            outline: none;
            width: 100%;
        }
        label{
            font-size: 15px;
        }
        
    /* .range-input::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 16px;
      height: 16px;
      border: 4px solid white;
      background: #ff3f6c;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0 0 2px #ff3f6c;
    }
     .range-input::-moz-range-thumb {
      width: 16px;
      height: 16px;
      border: 4px solid white;
      background: #ff3f6c;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0 0 2px #ff3f6c;
    } */
     
     .color-filter label {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 8px 0;
  cursor: pointer;
}

.color-filter input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.color-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.count {
  color: #888;
  font-size: 14px;
  margin-left: 5px;
}
#sec3{
    border: 2px none red;
    height: auto;
    width: 1100px;
    margin-left: 270px;
    margin-top: -1180px;
    display: grid;
    grid-template-columns: repeat(4,270px);
    grid-template-rows: repeat(12,1fr);
    gap: 20px;
    padding: 10px;
    


}

.box1{
    border: 2px none black;
    height: 390px;
    width: 225px;
    
    /* background-image: url(https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/14685736/2021/7/22/5d6a5da0-cb74-4f9c-99ae-729651abfa101626945052617-Kook-N-Keech-Unisex-Caps-2451626945052045-1.jpg);
    background-position: 50% 75%; */

}
.box1:hover{
    box-shadow: 0px 0px 10px rgb(196, 194, 194);

}

.box1>img{
    height:75%;
    width: 100%;

}
.h4{
    line-height: 0px;
}
.s3{
    font-size: 14px;
    
}
.text p{
    line-height: 1px;
}
.text a{
    color: red;
    font-size: 13px;

}
.text strike{
    font-size: 14px;
}


.text{
    border: 2px none red;
    height: 90px;
    width: 213px;
    padding-left: 9px;
}
.rating{
    border: 2px none purple;
    width:50px;
    background-color: white;
   margin-left: 20px;
   text-align: center;
   padding: 1px 2px;
    margin-top: -34px;
    position: relative;
}
.rating>i{
    font-size: 13px;
    color: rgb(4, 154, 4);
}


      
        
    




    </style>
</head>
<body>
    <header>
        <div id="div"></div>
        <div id="div1">
            <a href="">MEN</a><a href="">WOMEN</a><a href="">KIDS</a><a href="">HOME</a><a href="">BEAUTY</a><a href="">GENZ</a><a href="">STUDIO</a>
        </div>

        <div id="sbox">
            <i class="fa-solid fa-magnifying-glass search"></i>
            <input type="text" placeholder= " Search for products brands and more">
        </div>
        <div id="div2">
            <div class="d1">
                
                <i class="fa-regular fa-user"></i>
                <a>profile</a>   
                 
                
            </div>
            <div class="d1">
                <i class="fa-regular fa-heart"></i>   
                <a>Wishlist</a> 
            </div>
            <div class="d1">
                <i class="fa-solid fa-bag-shopping"></i>
                <a>Bag</a>

            </div>
        </div>
       

    </header>
    <section id="sec1">
        <div id="div3">
            <p>Home/Accessories/ <strong>Myntra</strong></p>
            <p ><strong>Myntra</strong> - 587 items</p>


        </div>
        <div id="div4">
            <div id="d2">
                <strong>FILTER</strong>
                <strong id="s1">CLEAR ALL</strong>

            </div>
            <div id="d3">
               <select  class="sel">
                <option value="">Bundles</option>
               </select>
               <select class="sel" >
                <option value="">Country of Orign</option>
               </select>
               <select class="sel">
                <option value="">Materials</option>
               </select>
               <select class="sel">
                <option value="">Net Qualitty Unit</option>
               </select>
               <select class="sel">
                <option value="">Occasions</option>
               </select>
               <select class="sel">
                <option value="">Patterns</option>
               </select>
               <select class="sel">
                <option value="">Rating</option>
               </select>
               <strong id="s2">+6more</strong>
               
            </div>
            <select name="" id="sel1">
                <option value=""> Sort by: <strong>Recomended</strong></option>
            </select>
        </div>
    </section>
    <section id="sec2">
        
        <input type="radio" value="Men" id="m">
        <label for="m">Men</label><br>
       
        <input type="radio"  value="female" >
        <label >Female</label>
        <hr>
        <div class="d4">
        <label for="">CATEGORIES</label>
            <i class="fa-solid fa-magnifying-glass search"></i>
        
        </div><br>
        <input type="checkbox" value="Men" id="m">
        <label for="m">Tshirts</label><br>
       
        <input type="checkbox"  value="female" >
        <label >Tops</label> <br>

        <input type="checkbox" value="Men" id="m">
        <label for="m">Kurtas</label><br>
       
        <input type="checkbox"  value="female" >
        <label >Earringa</label><br>
        <input type="checkbox" value="Men" id="m">
        <label for="m">Shirts</label><br>
       
        <input type="checkbox"  value="female" >
        <label >Flip Flops</label><br>
        <input type="checkbox" value="Men" id="m">
        <label for="m">Heels</label><br>
       
        <input type="checkbox"  value="female" >
        <label >Handbags</label>
        <p class="p2">+262 more</p>
        <hr>
        <div class="d4">
        <label for="">BRAND</label>
            <i class="fa-solid fa-magnifying-glass search"></i>
        
        </div><br>
        <input type="checkbox" value="Men" id="m">
        <label for="m">Roadster</label><br>
       
        <input type="checkbox"  value="female" >
        <label >StyleCast x Revolte</label> <br>

        <input type="checkbox" value="Men" id="m">
        <label for="m">WROGN</label><br>
       
        <input type="checkbox"  value="female" >
        <label >DressBerry</label><br>
        <input type="checkbox" value="Men" id="m">
        <label for="m">Vritrax</label><br>
       
        <input type="checkbox"  value="female" >
        <label >HRX by Hrithik Roshan</label><br>
        <input type="checkbox" value="Men" id="m">
        <label for="m">O THREE</label><br>
       
        <input type="checkbox"  value="female" >
        <label >Evanden</label>
        <p class="p2">+7 more</p>
        <hr>
        <div class="d4">
        <label for="">PRICE</label><br>
        <input type="range" class="range-input" min="200" max="1000" value="900" >
         <div class="price-value" id="price">₹200 - ₹900</div>
            
        
        </div><br>
        <hr>
       
        <div class="color-filter">
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #2f3a3f;"></span>
            Black <span class="count">(119)</span>
        </label>
        
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #b0b0b0;"></span>
            Grey <span class="count">(67)</span>
        </label>
        
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #007bff;"></span>
            Blue <span class="count">(55)</span>
        </label>
        
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #2e3a70;"></span>
            Navy Blue <span class="count">(46)</span>
        </label>
        
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #ffffff; border: 1px solid #ccc;"></span>
            White <span class="count">(39)</span>
        </label>
        
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #f7b2d9;"></span>
            Pink <span class="count">(36)</span>
        </label>
        
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #d9534f;"></span>
            Red <span class="count">(28)</span>
        </label>
        <p class="p2">+23 more</p>
        </div>
        <hr>
        <div class="d4">
        <label for="">DISCOUNT RANGE</label>
        </div>
        <br>
          <input type="radio" value="Men" id="m">
        <label for="m">20% and above</label><br>
       
        <input type="radio"  value="female" >
        <label >30% and above</label><br>
          <input type="radio" value="Men" id="m">
        <label for="m">40% and above</label><br>
       
        <input type="radio"  value="female" >
        <label >50% and above</label><br>
          <input type="radio" value="Men" id="m">
        <label for="m">60% and above</label><br>
       
        <input type="radio"  value="female" >
        <label >70% and above</label><br>
          <input type="radio" value="Men" id="m">
        <label for="m">80% and above</label><br>
    </section>
    <section id="sec3">
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22580648/2024/7/30/92ce79cf-51a2-4e86-8aef-692fbb1eb9121722341815542-Vaseline-Non-Sticky-Gluta-Hya-Dewy-Radiance-Serum-in-Lotion--1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
         <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22580636/2023/5/31/b9ba3642-347b-4663-a783-f334a042821b1685528879767-Vaseline-Non-Sticky-Gluta-Hya-Flawless-Glow-Serum-in-Lotion--1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">HRX by Hrithik Roshan</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
         <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/20191172/2024/8/21/def7c58d-0db2-4721-92fb-0021a651b0a91724220159088-Nat-Habit-100-Pure-Cold-Pressed-Sesame-Body-Oil-to-Prevents--4.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
         <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/24225478/2023/8/2/e9a1c535-a4cc-404f-aef0-2d22fc8943071690975312542-Khadi-Natural-Cold-Pressed-Castor-Oil-for-Skin--Hair---210ml-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
         <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/28413942/2024/3/26/2fe3689d-f223-4d1e-89a5-9ea33bf6222b1711441184829NinaRicciWomenNinaLeParfumMiniEauDeParfum-4mlNailArtandNailC1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22455554/2025/7/11/fbc709d1-f4c6-4237-8cf0-a70419c074481752239209218-Aravi-Organic-Pure--Natural-Rosemary-Essential-Oil-For-Hair--1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/9227647/2024/1/23/46fa7011-eb76-4358-aad9-05f949d0c2081706008542099-WishCare-Unisex-Pure-Rosemary-Essential-Oil-15ml-74517060085-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/1884773/2025/7/15/aee0dd3a-5193-45c9-869a-bfb1966fde7d1752561499153-Nivea-Cocoa-Nourish-Body-Lotion-with-Pure-Hyaluron-for-72h-M-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/15237332/2023/11/30/e735714c-1fac-49e3-a456-e6dad68431bf1701327462398-Vaseline-Cocoa-Glow-Body-Lotion-600-ml-5251701327461812-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/23223760/2024/7/30/9f777128-63c6-485a-b751-e13bc2bf0d6b1722321988938-WishCare-10-AHA--1-BHA-Body-Lotion-With-Niacinamide---Smooth-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22788592/2025/5/16/352d8677-4040-40e0-90fb-70d8ece4891d1747398888270-Chemist-at-Play-Vitamin-C-Neck-Knee-Elbow-Brightening-Roll-O-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/11081200/2021/8/11/bf7ef0c2-cc1b-401d-a9bf-324122d8e78a1628671529099MamaearthColdPressedCastorSustainableOil150ml1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/30050895/2025/4/23/963131a5-cfd1-45ea-884e-da604411d04d1745399637455-TNW-the-natural-wash-100-Pure--Natural-Olive-Oil---100-ml-81-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/9686483/2025/6/24/ed1c7e97-b9d4-47bd-a5b9-fd3cbd6671211750756136261-Nivea-Body-Lotion-SPF15-Natural-Glow-Cell-Repair-50x-Vitamin-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/20191186/2024/8/21/39d15eb7-7639-4e36-93ce-b1a9dc9a3fb51724220312632-Nat-Habit-100-Pure-Cold-Pressed-Jojoba-Body-Oil-for-Skin-Moi-4.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/27083950/2025/6/12/96701b8a-f44f-418f-859a-245c0392a97d1749737229738-Plum-BodyLovin-Vanilla-Caramello-Body-Lotion-with-Cocoa-Butt-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/1884767/2025/7/15/e825cad4-936c-47cc-97e4-38c99bc9f5541752561490375-Nivea-Nourishing-Body-Milk-for-Very-Dry-Skin-with-Almond-Oil-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/672607/2025/6/24/c0b7365d-4f90-4819-8c21-08b1031c83d81750756109823-Nivea-Express-Hydration-Deep-Moisture-Serum-400-ml-207175075-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/20930632/2025/6/18/a73dc1d9-8e95-486e-a6b4-21cd5be8cf681750228812334-JOY-Set-Of-2-Honey--Almonds-Advanced-Nourishing-Body-Lotion--1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/29140956/2024/4/24/a671dd32-ecb4-4a37-a195-271f5ec839781713943867102BodyScrubandExfoliator1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/27083950/2025/6/12/96701b8a-f44f-418f-859a-245c0392a97d1749737229738-Plum-BodyLovin-Vanilla-Caramello-Body-Lotion-with-Cocoa-Butt-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/1884767/2025/7/15/e825cad4-936c-47cc-97e4-38c99bc9f5541752561490375-Nivea-Nourishing-Body-Milk-for-Very-Dry-Skin-with-Almond-Oil-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/672607/2025/6/24/c0b7365d-4f90-4819-8c21-08b1031c83d81750756109823-Nivea-Express-Hydration-Deep-Moisture-Serum-400-ml-207175075-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/20930632/2025/6/18/a73dc1d9-8e95-486e-a6b4-21cd5be8cf681750228812334-JOY-Set-Of-2-Honey--Almonds-Advanced-Nourishing-Body-Lotion--1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/24971664/2024/2/7/46455b7a-aced-4749-9087-6ea1c72a4e761707306709972DOTKEYVitaminCESuperBrightBodyLotionwithBloodyOrangeNiacinam1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/15237332/2023/11/30/f285f961-0ce8-4e9e-99a3-1c4db5b240671701327462302-Vaseline-Cocoa-Glow-Body-Lotion-600-ml-5251701327461812-12.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/15237332/2023/11/30/a38559f7-ba1a-48d3-bbaa-0d088b82d8311701327462326-Vaseline-Cocoa-Glow-Body-Lotion-600-ml-5251701327461812-7.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/23223758/2025/4/23/3aea994f-d4d1-4e18-b598-990ab45db1611745407198927-WishCare-SPF50-Niacinamide-Sunscreen-Body-Lotion-with-No-Whi-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/672608/2025/7/15/4fdc0f83-8e46-4620-b169-13f5f070ea0a1752561478132-Nivea-Smooth-Milk-Body-Lotion-For-Dry-Skin---400-ml-35217525-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22080916/2023/2/22/4a1b5da0-4828-4469-ac37-6b97cdfe42fd1677058008868ChemistatPlayNiacinamideSheaButterAHABodyLotionForExfoliateD1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/15237332/2023/11/30/789ce868-c328-4eb3-906a-f45e9f5376461701327462363-Vaseline-Cocoa-Glow-Body-Lotion-600-ml-5251701327461812-4.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/15237332/2023/11/30/24dd5ad8-6bf8-4847-9b62-73ff0896cfb01701327462339-Vaseline-Cocoa-Glow-Body-Lotion-600-ml-5251701327461812-6.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/15237332/2023/11/30/da4bb4a9-59d0-479e-a8ac-3446c4d884d41701327462389-Vaseline-Cocoa-Glow-Body-Lotion-600-ml-5251701327461812-2.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/15237332/2023/11/30/2adda2df-6c7f-4d27-a41f-a8f4b2d4d70f1701327462351-Vaseline-Cocoa-Glow-Body-Lotion-600-ml-5251701327461812-5.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/10901940/2024/5/29/aaf2dd05-83c6-4ee7-a88c-f92765da46cf1716979269948-MCaffeine-Sustainable-Exfoliating-Coffee-Body-Scrub-for-Tan--1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31423159/2024/11/28/e5a176e7-3aa7-4730-8cdf-c919fd11ee3b1732805892535-Pilgrim-Spanish-Squalane--Niacinamide-Glow-Body-Lotion-With--1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/24338932/2024/10/14/30ab099a-469e-4122-b574-9e9ad9fd29ff1728914774971-JOY-Cocoa-Rich-Winter-Body-Lotion-With-Cocoa-Butter-For-Very-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31933239/2025/3/24/c5796fd6-2c77-410b-8f35-ab18ab3817301742823482774-Foxtale-2-Salicylic-Acid-Exfoliating-Bodywash-to-Fade-Body-A-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/20612168/2022/11/3/a6d18427-f1ac-4feb-8f20-af42d5d5c4fd1667476617954TheDermacoWhite1KojicAcidBodySerumLotion250ml1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/26723650/2024/7/10/e1a863e4-575f-44a7-8ab9-d758678979ae1720610381507-DR-SHETHS-Tea-Tree--Lactic-Acid-Body-Lotion-with-Salicylic-A-5.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/33048313/2025/4/2/11894552-4682-48a8-ac11-6b5f8cd2ba7c1743599615956-SunScoop-5-Niacinamide-Daily-Moisture-Sunscreen-Body-Lotion--1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/24338934/2024/9/23/f6e118d0-d415-45a3-83de-cec4b5a358831727080511442-JOY-Honey--Almonds-Winter-Body-Lotion-For-Dry-Skin-With-Shea-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/17579578/2024/7/16/4202528e-6daf-477d-88b2-821f05a041fb1721125554394-Navratna-Therapy-Ayurvedic-Stress-Relief-Body-Oil---200-ml-6-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/32265025/2025/3/6/8b8dc81b-2f56-401e-8f67-386e34dd8f681741239838021-Plum-BodyLovin-Lilly-Miss-Sunshine-SPF-35-PA-Body-Lotion---2-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/30780002/2025/3/24/388a4100-6a92-44ab-a000-9db9f96bb4e11742823452322-Foxtale-Hydrating-Body-Wash-With-Hyaluronic-Acid--Ceramides--1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/AUGUST/30/DhQHHtPr_11c7c61e3948451683e7650164364219.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>


    </section>
    <footer style="display: flex; gap: 40px; background-color: #f3f3f3; padding: 30px; font-family: Arial, sans-serif; flex-wrap: wrap;">

  
  <div style="flex: 1; min-width: 200px;">
    <h4 style="font-weight: bold; margin-bottom: 10px;">ONLINE SHOPPING</h4>
    <ul style="list-style: none; padding-left: 0;">
      <li style="margin-bottom: 5px; font-size: 14px;">Men</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Women</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Kids</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Home</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Beauty</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Genz</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Gift Cards</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Myntra Insider</li>
    </ul>
  </div>


  <div style="flex: 1; min-width: 200px;">
    <h4 style="font-weight: bold; margin-bottom: 10px;">CUSTOMER POLICIES</h4>
    <ul style="list-style: none; padding-left: 0;">
      <li style="margin-bottom: 5px; font-size: 14px;">Contact Us</li>
      <li style="margin-bottom: 5px; font-size: 14px;">FAQ</li>
      <li style="margin-bottom: 5px; font-size: 14px;">T&C</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Terms Of Use</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Track Orders</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Shipping</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Cancellation</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Returns</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Privacy Policy</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Grievance Redressal</li>
    </ul>
  </div>


  <div style="flex: 1; min-width: 200px;">
    <h4 style="font-weight: bold; margin-bottom: 10px;">USEFUL LINKS</h4>
    <ul style="list-style: none; padding-left: 0;">
      <li style="margin-bottom: 5px; font-size: 14px;">Blog</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Careers</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Site Map</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Corporate Information</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Whitehat</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Cleartrip</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Myntra Global</li>
    </ul>
  </div>

  
  <div style="flex: 1; min-width: 200px;">
    <h4 style="font-weight: bold; margin-bottom: 10px;">EXPERIENCE APP</h4>
    <div style="margin-bottom: 10px;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg" width="120" style="margin-bottom: 8px;"><br>
      <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" width="120">
    </div>
    <div style="margin-top: 10px;">
      <i class="fa fa-facebook-square" style="font-size: 24px; margin-right: 10px; color: #333;"></i>
      <i class="fa fa-twitter-square" style="font-size: 24px; margin-right: 10px; color: #333;"></i>
      <i class="fa fa-youtube-play" style="font-size: 24px; margin-right: 10px; color: #333;"></i>
      <i class="fa fa-instagram" style="font-size: 24px; color: #333;"></i>
    </div>
  </div>

</footer>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


   
</body>
</html>