<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        *{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Arial', 'Helvetica Neue', sans-serif;
        }
        header{
            border: 2px none red;
            height: 60px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0px;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 3;
            background-color: white;
            box-shadow: 0px 0px 10px rgb(168, 167, 167);


        }

        #div{
            border: 2px none black;
            height: 50px ;
            width: 71px;
            background-image: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
            /* background-size: auto; */
            background-position: 10% 36%;
        }
        #div1{
            border: 2px none black;
            width: 550px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

        }
        #div1>a{
            color: black;
            font-weight: 500;
            text-decoration: none;
            

        }
        #sbox{
            border: 2px none red;
            height: auto;
            width: 420px;
            display: flex;
            align-items: center;
        }
        .search{
            font-size: 20px;
            color: gray;
            position: absolute;
            z-index: 2;
            padding-left: 16px;   
        }
        #sbox>input{
            height: 11px;
            width: 400px;
            padding: 12px;
            position: relative;
        }
        #sbox>input::placeholder{
            font-size: 16px;
            color: gray;
            padding: 40px;
        }

        #div2{
            height: auto;
            width: 60px;
        }
        #d1{
            height: auto;
            width: 50px;

        }
        #d1>i{
            color: black;
        }
        #div2{
            border: 2px none red;
            height: 40px;
            width: 190px;
            display: flex;
            gap: 25px;
        }
        #div2 a{
            font-weight: 500;
        }
        .d1{
            border: 2px none black;
            height: 45px;
            width: 40px;
            text-align: center;
        }
        #sec1{
            border: 2px none black;
            margin-top: 100px;

        }
        #div3{
            font-size: 14px;

        }
        .sel{
            border: none;

        }
        .sel:hover{
            border: 1px none gray;
            background-color: rgb(218, 214, 214);
            border-radius: 30px;
            padding: 5px;
        }
        #s1{
            font-size: 13px;
            color: red;
        }
        #d2{
            border: 2px none red;
            height: auto;
            width: 230px;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
        #d3{
            border: 2px none red;
            height: auto;
            width: 790px;
            display: flex;
            justify-content: space-between;



        }
        #s2{
            font-size: 13px;
        }
        #sel1{
            width: 240px;
            padding: 5px  10px;
            font-size: 16px;
        }
        #div4{
            border: 2px none black;
            width: 1380px;
            height: auto;
            display: flex;
            justify-content: space-between  ;
            align-items: center;
            padding: 0px 10px;

        }
        #sec2{
            border: 1px solid rgb(179, 177, 177);
            height: auto;
            width: 225px;
            left: 0;
            padding: 10px 0px 0px 20px ;
            position: sticky;
            z-index: -1;
        
            

        }
        .d4{
            border: 2px none red;
            width:220px;
            font-size: 15px;
            font-weight: 500;
           
       
        }   
        .d4>i{
           margin-left: 80px;
          
        }
        .p2{
            margin-left: 20px;
            color: red;
            font-size: 15px;

        }
        .range-input{
            background-color: #d3d3d3;
            height: 3px;
            outline: none;
            width: 100%;
        }
        label{
            font-size: 15px;
        }
        
    /* .range-input::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 16px;
      height: 16px;
      border: 4px solid white;
      background: #ff3f6c;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0 0 2px #ff3f6c;
    }
     .range-input::-moz-range-thumb {
      width: 16px;
      height: 16px;
      border: 4px solid white;
      background: #ff3f6c;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0 0 2px #ff3f6c;
    } */
     
     .color-filter label {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 8px 0;
  cursor: pointer;
}

.color-filter input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.color-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.count {
  color: #888;
  font-size: 14px;
  margin-left: 5px;
}
#sec3{
    border: 2px none red;
    height: auto;
    width: 1100px;
    margin-left: 270px;
    margin-top: -1180px;
    display: grid;
    grid-template-columns: repeat(4,270px);
    grid-template-rows: repeat(12,1fr);
    gap: 20px;
    padding: 10px;
    


}

.box1{
    border: 2px none black;
    height: 390px;
    width: 225px;
    
    /* background-image: url(https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/14685736/2021/7/22/5d6a5da0-cb74-4f9c-99ae-729651abfa101626945052617-Kook-N-Keech-Unisex-Caps-2451626945052045-1.jpg);
    background-position: 50% 75%; */

}
.box1:hover{
    box-shadow: 0px 0px 10px rgb(196, 194, 194);

}

.box1>img{
    height:75%;
    width: 100%;

}
.h4{
    line-height: 0px;
}
.s3{
    font-size: 14px;
    
}
.text p{
    line-height: 1px;
}
.text a{
    color: red;
    font-size: 13px;

}
.text strike{
    font-size: 14px;
}


.text{
    border: 2px none red;
    height: 90px;
    width: 213px;
    padding-left: 9px;
}
.rating{
    border: 2px none purple;
    width:50px;
    background-color: white;
   margin-left: 20px;
   text-align: center;
   padding: 1px 2px;
    margin-top: -34px;
    position: relative;
}
.rating>i{
    font-size: 13px;
    color: rgb(4, 154, 4);
}


      
        
    




    </style>
</head>
<body>
    <header>
        <div id="div"></div>
        <div id="div1">
            <a href="">MEN</a><a href="">WOMEN</a><a href="">KIDS</a><a href="">HOME</a><a href="">BEAUTY</a><a href="">GENZ</a><a href="">STUDIO</a>
        </div>

        <div id="sbox">
            <i class="fa-solid fa-magnifying-glass search"></i>
            <input type="text" placeholder= " Search for products brands and more">
        </div>
        <div id="div2">
            <div class="d1">
                
                <i class="fa-regular fa-user"></i>
                <a>profile</a>   
                 
                
            </div>
            <div class="d1">
                <i class="fa-regular fa-heart"></i>   
                <a>Wishlist</a> 
            </div>
            <div class="d1">
                <i class="fa-solid fa-bag-shopping"></i>
                <a>Bag</a>

            </div>
        </div>
       

    </header>
    <section id="sec1">
        <div id="div3">
            <p>Home/Accessories/ <strong>Myntra</strong></p>
            <p ><strong>Myntra</strong> - 587 items</p>


        </div>
        <div id="div4">
            <div id="d2">
                <strong>FILTER</strong>
                <strong id="s1">CLEAR ALL</strong>

            </div>
            <div id="d3">
               <select  class="sel">
                <option value="">Bundles</option>
               </select>
               <select class="sel" >
                <option value="">Country of Orign</option>
               </select>
               <select class="sel">
                <option value="">Materials</option>
               </select>
               <select class="sel">
                <option value="">Net Qualitty Unit</option>
               </select>
               <select class="sel">
                <option value="">Occasions</option>
               </select>
               <select class="sel">
                <option value="">Patterns</option>
               </select>
               <select class="sel">
                <option value="">Rating</option>
               </select>
               <strong id="s2">+6more</strong>
               
            </div>
            <select name="" id="sel1">
                <option value=""> Sort by: <strong>Recomended</strong></option>
            </select>
        </div>
    </section>
    <section id="sec2">
        
        <input type="radio" value="Men" id="m">
        <label for="m">Men</label><br>
       
        <input type="radio"  value="female" >
        <label >Female</label>
        <hr>
        <div class="d4">
        <label for="">CATEGORIES</label>
            <i class="fa-solid fa-magnifying-glass search"></i>
        
        </div><br>
        <input type="checkbox" value="Men" id="m">
        <label for="m">Tshirts</label><br>
       
        <input type="checkbox"  value="female" >
        <label >Tops</label> <br>

        <input type="checkbox" value="Men" id="m">
        <label for="m">Kurtas</label><br>
       
        <input type="checkbox"  value="female" >
        <label >Earringa</label><br>
        <input type="checkbox" value="Men" id="m">
        <label for="m">Shirts</label><br>
       
        <input type="checkbox"  value="female" >
        <label >Flip Flops</label><br>
        <input type="checkbox" value="Men" id="m">
        <label for="m">Heels</label><br>
       
        <input type="checkbox"  value="female" >
        <label >Handbags</label>
        <p class="p2">+262 more</p>
        <hr>
        <div class="d4">
        <label for="">BRAND</label>
            <i class="fa-solid fa-magnifying-glass search"></i>
        
        </div><br>
        <input type="checkbox" value="Men" id="m">
        <label for="m">Roadster</label><br>
       
        <input type="checkbox"  value="female" >
        <label >StyleCast x Revolte</label> <br>

        <input type="checkbox" value="Men" id="m">
        <label for="m">WROGN</label><br>
       
        <input type="checkbox"  value="female" >
        <label >DressBerry</label><br>
        <input type="checkbox" value="Men" id="m">
        <label for="m">Vritrax</label><br>
       
        <input type="checkbox"  value="female" >
        <label >HRX by Hrithik Roshan</label><br>
        <input type="checkbox" value="Men" id="m">
        <label for="m">O THREE</label><br>
       
        <input type="checkbox"  value="female" >
        <label >Evanden</label>
        <p class="p2">+7 more</p>
        <hr>
        <div class="d4">
        <label for="">PRICE</label><br>
        <input type="range" class="range-input" min="200" max="1000" value="900" >
         <div class="price-value" id="price">₹200 - ₹900</div>
            
        
        </div><br>
        <hr>
       
        <div class="color-filter">
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #2f3a3f;"></span>
            Black <span class="count">(119)</span>
        </label>
        
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #b0b0b0;"></span>
            Grey <span class="count">(67)</span>
        </label>
        
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #007bff;"></span>
            Blue <span class="count">(55)</span>
        </label>
        
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #2e3a70;"></span>
            Navy Blue <span class="count">(46)</span>
        </label>
        
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #ffffff; border: 1px solid #ccc;"></span>
            White <span class="count">(39)</span>
        </label>
        
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #f7b2d9;"></span>
            Pink <span class="count">(36)</span>
        </label>
        
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #d9534f;"></span>
            Red <span class="count">(28)</span>
        </label>
        <p class="p2">+23 more</p>
        </div>
        <hr>
        <div class="d4">
        <label for="">DISCOUNT RANGE</label>
        </div>
        <br>
          <input type="radio" value="Men" id="m">
        <label for="m">20% and above</label><br>
       
        <input type="radio"  value="female" >
        <label >30% and above</label><br>
          <input type="radio" value="Men" id="m">
        <label for="m">40% and above</label><br>
       
        <input type="radio"  value="female" >
        <label >50% and above</label><br>
          <input type="radio" value="Men" id="m">
        <label for="m">60% and above</label><br>
       
        <input type="radio"  value="female" >
        <label >70% and above</label><br>
          <input type="radio" value="Men" id="m">
        <label for="m">80% and above</label><br>
    </section>
    <section id="sec3">
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/21480498/2025/4/17/458d2055-86be-4517-bfef-aa0a0acc29401744872994627-Be-Bodywise-4-AHA-BHA-Underarm-Roll-On---Floral-Fragrance--F-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
         <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/24991176/2025/7/18/2ea0a786-980b-4ffb-80ec-df6100fb158d1752844128173-Be-Bodywise-4-AHA-BHA-Underarm-Roll-On---Fades-Body-Odour--P-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">HRX by Hrithik Roshan</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
         <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22358788/2024/4/25/4529c5d2-ae98-4a31-b953-5afb51b3b1d41714036184928-Bella-Vita-Organic-Pack-of-10-Luxury-Long-Lasting-EDP-Fragra-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
         <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/10019567/2025/4/30/57ead1c6-23a7-4f5b-8f70-5defb7d0c2591745990652519-Wild-Stone-Men-Edge-Eau-de-Parfum-100-ml-6721745990652054-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
         <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/24991178/2025/4/15/3d9ff7f2-0fe6-482c-806a-ed710a12e7811744729397769-Be-Bodywise-4-AHA-BHA-Underarm-Roll-On-To-Control-Body-Odour-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31058064/2025/3/21/959d6052-eca2-41cc-b8e6-120a49cdc8461742539334929-FRENCH-ESSENCE-Set-Of-2-Bloom--Oudh-Long-Lasting-Eau-De-Parf-11.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/30366121/2025/1/7/8b232099-1e3d-4822-b35f-4696b298c7c91736238377650-Denver-Men-Set-of-4-Deodorant-Spray-32g50ml-each---Black-Cod-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/25778272/2023/11/10/a75046e2-8b9b-473f-94e2-44f0162b87761699608615520BobbiBrownSoothingCleansingOilwithJasmineFlower-100mlFragran2.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/15121928/2024/12/28/25cdc6e7-1e44-4256-8ab5-6e5263ff3eac1735395640865-Mast--Harbour-Men-Aqua-Eau-De-Parfum-100-ml-3281735395640319-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/9686495/2025/6/20/8c936a1a-eb8c-4cf3-88db-a8ee36051d521750419503563-Nivea-Men-Cool-Kick-Roll-On-48h-Deodorant-50ml-7421750419502-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/25332512/2024/5/2/f91703f3-0033-4d92-8e31-ae249aa29e301714651282010-Envy-Women-Set-of-4-Eau-De-Parfum-20-ml-Each---Opulence-Bewi-17.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/15121930/2024/5/24/81722dc5-e28e-4615-8049-4ca91c117c751716528078964-Mast--Harbour-Men-Citron-Eau-De-Parfum-100-ml-60717165280785-5.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2273997/2025/6/20/47ec7515-1105-4c0a-9324-d5db02fa36ac1750419829494-Nivea-Men-Fresh-Active-Roll-On-Deodorant-50-ml-1401750419828-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/15121926/2024/5/24/f7a51c3b-e337-495c-8428-c1a01d8e76241716527899647-Mast--Harbour-Men-Woods-Eau-De-Parfum-100-ml-235171652789921-5.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/FEBRUARY/10/Vg2t8UXI_394e366824544db9ad8e4c4afbab8c9f.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/17950936/2025/6/20/f0f31098-8c9d-47cc-98cd-9420bf8fa6031750419540743-Nivea-Women-Pearl--Beauty-Fine-Fragrance-Deodorant-Roll-On---1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/29329736/2024/5/4/85077569-db0f-48e0-8d20-e4d244eea2621714821911454MyGlammLITXOXOFragrance-Sassy-25ml1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/25797284/2023/11/24/6577c004-d803-4e73-b02f-6fe709bc152c1700802313060-SKINN-Men-Perfume-3171700802312894-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/9270827/2025/6/20/9f741fa5-8189-42bc-95d0-3d2a69f6ece21750419478564-Nivea-Men-Protect--Care-Roll-On-48h-Deodorant-50-ml-51917504-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/FEBRUARY/14/IGMg8JNK_6e63e42fa763423d8c843e6660edd161.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/29419122/2024/6/26/0026838f-9bc2-49ba-9ab5-4812a9e022a11719375679553-RIYA-Black-Rock-Magnetic-Aroma-EDP-100ml-7841719375679220-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2273988/2025/6/20/25583bc6-83ed-4103-a481-8360c92b282a1750419430537-Nivea-Women-Protect--Care-Roll-On-48h-Deodorant-50-ml-711750-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/25332514/2023/11/24/fce8e363-dda9-4501-9ad9-67f46666750a1700823906883-Envy-Men-Set-of-4-Eau-De-Parfum-20-ml-Each---Oud-Luxure-Brav-3.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2274000/2025/6/20/8d72cec5-acec-4155-9c30-7d64a3d165711750419443891-Nivea-Men-Fresh-Power-Roll-On-50-ml-9061750419443047-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/17543314/2024/2/26/a2e36ad5-1f16-418b-b60e-b3edd1a27cec1708947929941-BEARDO-Men-Whisky-Smoke-Long-Lasting-Eau-de-Parfum---Spicy-W-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/32137908/2025/4/12/3080e811-4a58-4a92-857b-8599c3ecf8b71744456005621-La-French-Unisex-Perfume-Gift-Set---Splendid-Luxe-Elegant-Op-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22803754/2025/4/22/e0648951-0236-4f14-ba31-2cf83b912a7e1745331678274-Chemist-at-Play-Aqua-Fragrance-Odour-Control-Underarm-Roll-O-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/OCTOBER/8/nPChOFTV_05caf292d9a54b03a5cc6f44179e5aac.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/20312680/2023/2/2/d549c099-b6dd-4f83-bc6f-04021c27c10d1675318851056-Carlton-London-Women-Veronica-Eau-de-Parfum---50ml-928167531-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/29419122/2024/6/26/0026838f-9bc2-49ba-9ab5-4812a9e022a11719375679553-RIYA-Black-Rock-Magnetic-Aroma-EDP-100ml-7841719375679220-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/OCTOBER/3/H3SL8L57_0aee89f0359b400dbe79b6061a97901e.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/18741060/2024/7/19/88663a6c-2507-4e92-861f-1cbac42d859b1721388165016EnvyMenNaturalGas-FreeLong-LastingBodySpray-70ml1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/17857412/2024/4/17/9b4390c1-1bc1-46a5-9dd1-6e9bdd919fbe1713348300499-Bella-Vita-Organic-White-Oud-Eau-De-Parfum---20ml-2011713348-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/16057382/2025/3/31/445e8ec0-07be-4a72-9bdb-a41d706b56d31743399235830-CARMESI-Women-Natural-UnderArms-Roll-On-Deodorant---Floral-S-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/13529266/2025/7/3/2bf2ac77-845b-4688-999f-3a8b954b27f41751548883131-La-French-Unisex-Luxure-Oudh-Perfume-Spray-100ml-77217515488-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/FEBRUARY/10/lBvU4nGu_dc966678dd924fe1b9998eaebb0aa458.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/16057380/2025/3/31/7f17233d-7b2a-4d06-b51b-aa862cad14b21743399245253-CARMESI-Women-Natural-UnderArms-Roll-On-Deodorant---Sweet-Su-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/10130747/2024/9/13/735345df-3e16-4003-b3d0-cf7c155622b91726230807395-Secret-Temptation-Romance-Perfume-100-ml-2111726230806785-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/AUGUST/9/NPR9tLUQ_9d6b8d302c614f71b1da235bb817e792.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/AUGUST/5/JVlX2fwA_949565f8543640eda8069088816c199d.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/4374619/2023/7/26/8b9c0df6-8b40-4f79-9680-a70d73fe9a441690352198592-Envy-Women-Blush-Perfume-Deodorant-120-ml-1571690352198230-3.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/29362162/2024/9/4/e33ff6c7-2156-43f1-adf9-b0fbab90e11a1725443915412-MOODY-Set-Of-4-Perfume-Gift-Set---20ml-Each-6591725443915302-7.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/8745235/2025/3/1/350bfa89-38a5-442d-b73b-15317d4c93281740815173650-Axe-Signature-Dark-Temptation-Long-Lasting-No-Gas-Deodorant--1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/FEBRUARY/10/SxLOAScA_b692d6de696845b9b8863f6d66affbcd.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/30609316/2024/8/29/d5a2eb25-eaa5-4ae5-a086-780317720a681724924806627-Colorbar-Men-Dominax-Homme-Eu-De-Parfum---100-ml-83517249248-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/21711072/2024/4/24/8b046e6d-706b-4d08-a63c-98c25d989ac51713939935073-La-French-Perfume-Gift-Set---Euphoria-Invoke-Happiness-Mood--1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>


    </section>
    <footer style="display: flex; gap: 40px; background-color: #f3f3f3; padding: 30px; font-family: Arial, sans-serif; flex-wrap: wrap;">

  
  <div style="flex: 1; min-width: 200px;">
    <h4 style="font-weight: bold; margin-bottom: 10px;">ONLINE SHOPPING</h4>
    <ul style="list-style: none; padding-left: 0;">
      <li style="margin-bottom: 5px; font-size: 14px;">Men</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Women</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Kids</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Home</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Beauty</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Genz</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Gift Cards</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Myntra Insider</li>
    </ul>
  </div>


  <div style="flex: 1; min-width: 200px;">
    <h4 style="font-weight: bold; margin-bottom: 10px;">CUSTOMER POLICIES</h4>
    <ul style="list-style: none; padding-left: 0;">
      <li style="margin-bottom: 5px; font-size: 14px;">Contact Us</li>
      <li style="margin-bottom: 5px; font-size: 14px;">FAQ</li>
      <li style="margin-bottom: 5px; font-size: 14px;">T&C</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Terms Of Use</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Track Orders</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Shipping</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Cancellation</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Returns</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Privacy Policy</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Grievance Redressal</li>
    </ul>
  </div>


  <div style="flex: 1; min-width: 200px;">
    <h4 style="font-weight: bold; margin-bottom: 10px;">USEFUL LINKS</h4>
    <ul style="list-style: none; padding-left: 0;">
      <li style="margin-bottom: 5px; font-size: 14px;">Blog</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Careers</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Site Map</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Corporate Information</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Whitehat</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Cleartrip</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Myntra Global</li>
    </ul>
  </div>

  
  <div style="flex: 1; min-width: 200px;">
    <h4 style="font-weight: bold; margin-bottom: 10px;">EXPERIENCE APP</h4>
    <div style="margin-bottom: 10px;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg" width="120" style="margin-bottom: 8px;"><br>
      <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" width="120">
    </div>
    <div style="margin-top: 10px;">
      <i class="fa fa-facebook-square" style="font-size: 24px; margin-right: 10px; color: #333;"></i>
      <i class="fa fa-twitter-square" style="font-size: 24px; margin-right: 10px; color: #333;"></i>
      <i class="fa fa-youtube-play" style="font-size: 24px; margin-right: 10px; color: #333;"></i>
      <i class="fa fa-instagram" style="font-size: 24px; color: #333;"></i>
    </div>
  </div>

</footer>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


   
</body>
</html>