<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        *{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Arial', 'Helvetica Neue', sans-serif;
        }
        header{
            border: 2px none red;
            height: 60px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0px;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 3;
            background-color: white;
            box-shadow: 0px 0px 10px rgb(168, 167, 167);


        }

        #div{
            border: 2px none black;
            height: 50px ;
            width: 71px;
            background-image: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
            /* background-size: auto; */
            background-position: 10% 36%;
        }
        #div1{
            border: 2px none black;
            width: 550px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

        }
        #div1>a{
            color: black;
            font-weight: 500;
            text-decoration: none;
            

        }
        #sbox{
            border: 2px none red;
            height: auto;
            width: 420px;
            display: flex;
            align-items: center;
        }
        .search{
            font-size: 20px;
            color: gray;
            position: absolute;
            z-index: 2;
            padding-left: 16px;   
        }
        #sbox>input{
            height: 11px;
            width: 400px;
            padding: 12px;
            position: relative;
        }
        #sbox>input::placeholder{
            font-size: 16px;
            color: gray;
            padding: 40px;
        }

        #div2{
            height: auto;
            width: 60px;
        }
        #d1{
            height: auto;
            width: 50px;

        }
        #d1>i{
            color: black;
        }
        #div2{
            border: 2px none red;
            height: 40px;
            width: 190px;
            display: flex;
            gap: 25px;
        }
        #div2 a{
            font-weight: 500;
        }
        .d1{
            border: 2px none black;
            height: 45px;
            width: 40px;
            text-align: center;
        }
        #sec1{
            border: 2px none black;
            margin-top: 100px;

        }
        #div3{
            font-size: 14px;

        }
        .sel{
            border: none;

        }
        .sel:hover{
            border: 1px none gray;
            background-color: rgb(218, 214, 214);
            border-radius: 30px;
            padding: 5px;
        }
        #s1{
            font-size: 13px;
            color: red;
        }
        #d2{
            border: 2px none red;
            height: auto;
            width: 230px;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
        #d3{
            border: 2px none red;
            height: auto;
            width: 790px;
            display: flex;
            justify-content: space-between;



        }
        #s2{
            font-size: 13px;
        }
        #sel1{
            width: 240px;
            padding: 5px  10px;
            font-size: 16px;
        }
        #div4{
            border: 2px none black;
            width: 1380px;
            height: auto;
            display: flex;
            justify-content: space-between  ;
            align-items: center;
            padding: 0px 10px;

        }
        #sec2{
            border: 1px solid rgb(179, 177, 177);
            height: auto;
            width: 225px;
            left: 0;
            padding: 10px 0px 0px 20px ;
            position: sticky;
            z-index: -1;
        
            

        }
        .d4{
            border: 2px none red;
            width:220px;
            font-size: 15px;
            font-weight: 500;
           
       
        }   
        .d4>i{
           margin-left: 80px;
          
        }
        .p2{
            margin-left: 20px;
            color: red;
            font-size: 15px;

        }
        .range-input{
            background-color: #d3d3d3;
            height: 3px;
            outline: none;
            width: 100%;
        }
        label{
            font-size: 15px;
        }
        
    /* .range-input::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 16px;
      height: 16px;
      border: 4px solid white;
      background: #ff3f6c;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0 0 2px #ff3f6c;
    }
     .range-input::-moz-range-thumb {
      width: 16px;
      height: 16px;
      border: 4px solid white;
      background: #ff3f6c;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0 0 2px #ff3f6c;
    } */
     
     .color-filter label {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 8px 0;
  cursor: pointer;
}

.color-filter input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.color-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.count {
  color: #888;
  font-size: 14px;
  margin-left: 5px;
}
#sec3{
    border: 2px none red;
    height: auto;
    width: 1100px;
    margin-left: 270px;
    margin-top: -1180px;
    display: grid;
    grid-template-columns: repeat(4,270px);
    grid-template-rows: repeat(12,1fr);
    gap: 20px;
    padding: 10px;
    


}

.box1{
    border: 2px none black;
    height: 390px;
    width: 225px;
    
    /* background-image: url(https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/14685736/2021/7/22/5d6a5da0-cb74-4f9c-99ae-729651abfa101626945052617-Kook-N-Keech-Unisex-Caps-2451626945052045-1.jpg);
    background-position: 50% 75%; */

}
.box1:hover{
    box-shadow: 0px 0px 10px rgb(196, 194, 194);

}

.box1>img{
    height:75%;
    width: 100%;

}
.h4{
    line-height: 0px;
}
.s3{
    font-size: 14px;
    
}
.text p{
    line-height: 1px;
}
.text a{
    color: red;
    font-size: 13px;

}
.text strike{
    font-size: 14px;
}


.text{
    border: 2px none red;
    height: 90px;
    width: 213px;
    padding-left: 9px;
}
.rating{
    border: 2px none purple;
    width:50px;
    background-color: white;
   margin-left: 20px;
   text-align: center;
   padding: 1px 2px;
    margin-top: -34px;
    position: relative;
}
.rating>i{
    font-size: 13px;
    color: rgb(4, 154, 4);
}


      
        
    




    </style>
</head>
<body>
    <header>
        <div id="div"></div>
        <div id="div1">
            <a href="">MEN</a><a href="">WOMEN</a><a href="">KIDS</a><a href="">HOME</a><a href="">BEAUTY</a><a href="">GENZ</a><a href="">STUDIO</a>
        </div>

        <div id="sbox">
            <i class="fa-solid fa-magnifying-glass search"></i>
            <input type="text" placeholder= " Search for products brands and more">
        </div>
        <div id="div2">
            <div class="d1">
                
                <i class="fa-regular fa-user"></i>
                <a>profile</a>   
                 
                
            </div>
            <div class="d1">
                <i class="fa-regular fa-heart"></i>   
                <a>Wishlist</a> 
            </div>
            <div class="d1">
                <i class="fa-solid fa-bag-shopping"></i>
                <a>Bag</a>

            </div>
        </div>
       

    </header>
    <section id="sec1">
        <div id="div3">
            <p>Home/Accessories/ <strong>Myntra</strong></p>
            <p ><strong>Myntra</strong> - 587 items</p>


        </div>
        <div id="div4">
            <div id="d2">
                <strong>FILTER</strong>
                <strong id="s1">CLEAR ALL</strong>

            </div>
            <div id="d3">
               <select  class="sel">
                <option value="">Bundles</option>
               </select>
               <select class="sel" >
                <option value="">Country of Orign</option>
               </select>
               <select class="sel">
                <option value="">Materials</option>
               </select>
               <select class="sel">
                <option value="">Net Qualitty Unit</option>
               </select>
               <select class="sel">
                <option value="">Occasions</option>
               </select>
               <select class="sel">
                <option value="">Patterns</option>
               </select>
               <select class="sel">
                <option value="">Rating</option>
               </select>
               <strong id="s2">+6more</strong>
               
            </div>
            <select name="" id="sel1">
                <option value=""> Sort by: <strong>Recomended</strong></option>
            </select>
        </div>
    </section>
    <section id="sec2">
        
        <input type="radio" value="Men" id="m">
        <label for="m">Men</label><br>
       
        <input type="radio"  value="female" >
        <label >Female</label>
        <hr>
        <div class="d4">
        <label for="">CATEGORIES</label>
            <i class="fa-solid fa-magnifying-glass search"></i>
        
        </div><br>
        <input type="checkbox" value="Men" id="m">
        <label for="m">Tshirts</label><br>
       
        <input type="checkbox"  value="female" >
        <label >Tops</label> <br>

        <input type="checkbox" value="Men" id="m">
        <label for="m">Kurtas</label><br>
       
        <input type="checkbox"  value="female" >
        <label >Earringa</label><br>
        <input type="checkbox" value="Men" id="m">
        <label for="m">Shirts</label><br>
       
        <input type="checkbox"  value="female" >
        <label >Flip Flops</label><br>
        <input type="checkbox" value="Men" id="m">
        <label for="m">Heels</label><br>
       
        <input type="checkbox"  value="female" >
        <label >Handbags</label>
        <p class="p2">+262 more</p>
        <hr>
        <div class="d4">
        <label for="">BRAND</label>
            <i class="fa-solid fa-magnifying-glass search"></i>
        
        </div><br>
        <input type="checkbox" value="Men" id="m">
        <label for="m">Roadster</label><br>
       
        <input type="checkbox"  value="female" >
        <label >StyleCast x Revolte</label> <br>

        <input type="checkbox" value="Men" id="m">
        <label for="m">WROGN</label><br>
       
        <input type="checkbox"  value="female" >
        <label >DressBerry</label><br>
        <input type="checkbox" value="Men" id="m">
        <label for="m">Vritrax</label><br>
       
        <input type="checkbox"  value="female" >
        <label >HRX by Hrithik Roshan</label><br>
        <input type="checkbox" value="Men" id="m">
        <label for="m">O THREE</label><br>
       
        <input type="checkbox"  value="female" >
        <label >Evanden</label>
        <p class="p2">+7 more</p>
        <hr>
        <div class="d4">
        <label for="">PRICE</label><br>
        <input type="range" class="range-input" min="200" max="1000" value="900" >
         <div class="price-value" id="price">₹200 - ₹900</div>
            
        
        </div><br>
        <hr>
       
        <div class="color-filter">
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #2f3a3f;"></span>
            Black <span class="count">(119)</span>
        </label>
        
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #b0b0b0;"></span>
            Grey <span class="count">(67)</span>
        </label>
        
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #007bff;"></span>
            Blue <span class="count">(55)</span>
        </label>
        
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #2e3a70;"></span>
            Navy Blue <span class="count">(46)</span>
        </label>
        
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #ffffff; border: 1px solid #ccc;"></span>
            White <span class="count">(39)</span>
        </label>
        
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #f7b2d9;"></span>
            Pink <span class="count">(36)</span>
        </label>
        
        <label>
            <input type="checkbox">
            <span class="color-dot" style="background-color: #d9534f;"></span>
            Red <span class="count">(28)</span>
        </label>
        <p class="p2">+23 more</p>
        </div>
        <hr>
        <div class="d4">
        <label for="">DISCOUNT RANGE</label>
        </div>
        <br>
          <input type="radio" value="Men" id="m">
        <label for="m">20% and above</label><br>
       
        <input type="radio"  value="female" >
        <label >30% and above</label><br>
          <input type="radio" value="Men" id="m">
        <label for="m">40% and above</label><br>
       
        <input type="radio"  value="female" >
        <label >50% and above</label><br>
          <input type="radio" value="Men" id="m">
        <label for="m">60% and above</label><br>
       
        <input type="radio"  value="female" >
        <label >70% and above</label><br>
          <input type="radio" value="Men" id="m">
        <label for="m">80% and above</label><br>
    </section>
    <section id="sec3">
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/23849642/2025/6/30/fdd90427-fdea-45f5-84bc-a43c50d8b6341751276433835-WROGN-Unisex-Backpack-with-USB-Charging-Port-183175127643322-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
         <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/16775916/2025/5/7/df4ecfe0-f165-4612-8ff1-5ff3ac428d671746617025583-Provogue-Unisex-Sea-Green--Black-Backpack-with-Rain-Cover-88-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">HRX by Hrithik Roshan</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
         <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22226446/2025/7/3/30b11014-bb47-4808-b01d-d2509c93debf1751530794491-WROGN-Brand-Logo-Laptop-Backpack-with-USB-Charging-Port-3051-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
         <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/16389022/2025/5/7/04022c73-4841-431e-9d8e-da57ede01af21746616987692-Provogue-Unisex-Grey--Black-Brand-Logo-Backpack-with-Reflect-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
         <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/14576344/2025/5/28/e7c6d64a-f3e3-4bf9-ac61-0bc25e5cf2501748421251923-Provogue-Unisex-Navy-Blue-Backpack-with-Compression-Straps-9-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/14576344/2025/5/28/e7c6d64a-f3e3-4bf9-ac61-0bc25e5cf2501748421251923-Provogue-Unisex-Navy-Blue-Backpack-with-Compression-Straps-9-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22226418/2025/7/3/f0e8e6e4-4ba4-4b8b-adcd-644d862f4d891751530764581-WROGN-ASHPER-Ergonomic-Water-Resistant-Backpack-with-USB-Cha-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/23518986/2023/6/3/8a965369-3a95-4d49-98fb-5e9d3404de6d1685797464885WROGNUnisexBlackRedBrandLogoBackpackwithShoePocket1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/17774298/2025/3/31/62d77d6e-027c-4929-a7a0-e098afcc7fc21743398290324-Provogue-Unisex-Black--Grey-Backpack-with-Reflective-Strip-3-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/23518976/2023/6/3/761e36ba-f1dc-4055-a869-21bbd7910a751685798939419WROGNUnisexBlackYellowBrandLogoBackpackwithShoePocket1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/14352428/2025/5/7/604292c3-2881-4160-8ee5-36922d7d317a1746616362486-Provogue-Unisex-Navy-Blue-Contrast-Detail-Backpack-with-Refl-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/f_webp,dpr_2.0,q_60,w_210,c_limit,fl_progressive/assets/images/23849642/2025/6/30/fdd90427-fdea-45f5-84bc-a43c50d8b6341751276433835-WROGN-Unisex-Backpack-with-USB-Charging-Port-183175127643322-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/29775890/2024/5/27/263a9284-e6d3-4edb-8398-70805a775c671716816352667HRXbyHrithikRoshanUnisexBackpackwithReflectiveStrip4.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/23849638/2025/7/3/2dbfa855-2b0b-4016-b6f7-d89c56ebf6451751530847528-WROGN-Unisex-Backpack-with-USB-Charging-Port-209175153084714-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/27641554/2024/2/16/ab0f43d6-a4dd-418c-819d-ad0f259291261708082970838UnisexBackpackwithUSBChargingPort1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/SEPTEMBER/6/TZpGAM1a_98765088be4440e1bec29c1cb04bef5b.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/21940572/2023/9/25/58cb09a8-a59d-4e2f-b97b-7164d1ccc7ff1695631078231WROGNTypographyBackpackwithUSBChargingPort1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/16775924/2025/5/7/7bcc91c2-5906-4da6-956b-edadb30cd8db1746617388161-Provogue-Unisex-Maroon--Grey-Brand-Logo-Backpack-with-rain-c-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/23518980/2023/6/3/d5f75ecd-3eea-4fa9-b5a5-d502c5d0d01b1685792711614WROGNUnisexBlackYellowBrandLogoBackpackwithShoePocket1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/SEPTEMBER/6/HsLEkSJF_b7c12bf3736e4ec3ab7218452d0dd616.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/21940576/2023/9/25/3f6bf495-8b77-46c9-b547-925db6d188b31695631080816WROGNTypographyBackpackwithUSBChargingPort1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/23518990/2023/6/3/604adefa-30a6-4ffe-aa5d-42375d3b61e81685792703830WROGNUnisexBlueGreenBackpackwithShoePocket1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/24382160/2023/8/7/24d6dbf7-66e4-48df-b1d3-1e7d9f4a35391691414887851WROGNUnisexBlackYellowBrandLogoBackpackwithShoePocket1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/23118064/2023/5/11/6e191ffc-9b37-4bff-9b55-97008c6fb7281683822989686Backpacks1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/21404456/2023/1/3/314896be-22e0-42d1-b55a-5f32afb02b681672768506440Backpacks1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/FEBRUARY/13/qcemNUbD_686962beeac6498183bfdc92d207b52d.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/21940568/2023/9/25/4b6d3e4e-9a73-4acc-81e7-2a41e4c48bc81695631057419WROGNTypographyBackpackwithUSBChargingPort1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/23518988/2023/6/3/e63db7a0-7293-4879-ab7c-579842a443621685797458307WROGNUnisexBlackRedBrandLogoBackpackwithShoePocket1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/23518984/2023/6/3/59e01883-4978-4d20-a920-0d6ba9666eee1685797460270WROGNUnisexBlackRedBackpackwithShoePocket1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/SEPTEMBER/6/EnDVfcBY_5b6b09a4fd414bb08357f3d7dab2e0b5.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/FEBRUARY/13/X3zl5rkp_9e9added482a44e7ac8e814ccadbe12e.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/26931298/2025/5/7/5e10e5b7-0947-4258-bca7-c7533cc279da1746617196197-Provogue-Unisex-Olive-Green-Backpack-with-Reflective-Strip-8-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/21940574/2023/9/25/48f43bea-34ea-458f-b261-796817521d6a1695631022673WROGNTypographyBackpackwithUSBChargingPort1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/FEBRUARY/22/cxgFZ74K_67fcf0cf34e9477786bf3dfc272cf633.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/FEBRUARY/22/cxgFZ74K_67fcf0cf34e9477786bf3dfc272cf633.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/22713498/2023/4/10/317df8ae-d3c5-4140-86a8-2ed70e5b5e091681098357614UnisexBagwithraincoverOfficeSchoolCollegeBusiness-36L1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/24382158/2023/8/7/3d210094-5fa3-47c8-a14e-88a89230c92b1691414889038WROGNUnisexGreyRedBackpackwithShoePocket1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/JANUARY/23/N11BvA4b_ab6b477403c742489dd31bed08a5e334.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/JANUARY/23/TgHWdeVT_36880ec3fee34dd6867aabc95cf645dd.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/JANUARY/23/TgHWdeVT_36880ec3fee34dd6867aabc95cf645dd.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/29775884/2024/5/27/030b4aab-3960-4249-89c4-b2af2583a0611716818357212HRXbyHrithikRoshanUnisexBackpackwithReflectiveStrip1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/23118074/2023/5/10/c8919235-8dbc-4129-9d01-98ffc2e054061683716158081Backpacks1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2025/FEBRUARY/26/LyfinTHs_93ed222c664e4fc7a8eacb5501a7094a.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        </div><div class="box1">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/16911130/2025/3/31/303b0e8c-6c6e-4096-9e5f-708628f192c21743398269989-Provogue-Unisex-Olive-Green--Black-Brand-Logo-Backpack-with--1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/f_webp,dpr_2.0,q_60,w_210,c_limit,fl_progressive/assets/images/23849642/2025/6/30/fdd90427-fdea-45f5-84bc-a43c50d8b6341751276433835-WROGN-Unisex-Backpack-with-USB-Charging-Port-183175127643322-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>
        <div class="box1">
            <img src="https://assets.myntassets.com/f_webp,dpr_2.0,q_60,w_210,c_limit,fl_progressive/assets/images/16775916/2025/5/7/df4ecfe0-f165-4612-8ff1-5ff3ac428d671746617025583-Provogue-Unisex-Sea-Green--Black-Backpack-with-Rain-Cover-88-1.jpg" alt="" >
            <div class="rating"><strong class="s3">4.3 </strong> <i class="fa-solid fa-star"></i>  </div>
            <div class="text">
            <h4 class="h4">Kook N Keech</h4>
            <p>Unisex Embroidered Beanie</p>
            <strong class="s3">Rs.377</strong>  <strike>Rs.389</strike>  <a>(58%offf)</a>
            </div>
        </div>


    </section>
    <footer style="display: flex; gap: 40px; background-color: #f3f3f3; padding: 30px; font-family: Arial, sans-serif; flex-wrap: wrap;">

  
  <div style="flex: 1; min-width: 200px;">
    <h4 style="font-weight: bold; margin-bottom: 10px;">ONLINE SHOPPING</h4>
    <ul style="list-style: none; padding-left: 0;">
      <li style="margin-bottom: 5px; font-size: 14px;">Men</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Women</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Kids</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Home</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Beauty</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Genz</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Gift Cards</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Myntra Insider</li>
    </ul>
  </div>


  <div style="flex: 1; min-width: 200px;">
    <h4 style="font-weight: bold; margin-bottom: 10px;">CUSTOMER POLICIES</h4>
    <ul style="list-style: none; padding-left: 0;">
      <li style="margin-bottom: 5px; font-size: 14px;">Contact Us</li>
      <li style="margin-bottom: 5px; font-size: 14px;">FAQ</li>
      <li style="margin-bottom: 5px; font-size: 14px;">T&C</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Terms Of Use</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Track Orders</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Shipping</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Cancellation</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Returns</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Privacy Policy</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Grievance Redressal</li>
    </ul>
  </div>


  <div style="flex: 1; min-width: 200px;">
    <h4 style="font-weight: bold; margin-bottom: 10px;">USEFUL LINKS</h4>
    <ul style="list-style: none; padding-left: 0;">
      <li style="margin-bottom: 5px; font-size: 14px;">Blog</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Careers</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Site Map</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Corporate Information</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Whitehat</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Cleartrip</li>
      <li style="margin-bottom: 5px; font-size: 14px;">Myntra Global</li>
    </ul>
  </div>

  
  <div style="flex: 1; min-width: 200px;">
    <h4 style="font-weight: bold; margin-bottom: 10px;">EXPERIENCE APP</h4>
    <div style="margin-bottom: 10px;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg" width="120" style="margin-bottom: 8px;"><br>
      <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" width="120">
    </div>
    <div style="margin-top: 10px;">
      <i class="fa fa-facebook-square" style="font-size: 24px; margin-right: 10px; color: #333;"></i>
      <i class="fa fa-twitter-square" style="font-size: 24px; margin-right: 10px; color: #333;"></i>
      <i class="fa fa-youtube-play" style="font-size: 24px; margin-right: 10px; color: #333;"></i>
      <i class="fa fa-instagram" style="font-size: 24px; color: #333;"></i>
    </div>
  </div>

</footer>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


   
</body>
</html>