<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #top{
            margin-top: -10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            background-color: rgb(255, 255, 255);
            position: fixed;
            z-index: 1;


        }
        #top>img{
            margin-left: 50px;
        }
        #top>ul{
            display: flex;
            justify-content: space-between;
            gap: 40px;
            margin-left: 100px;
            font-family: sans-serif;
            font-size: 14px;
        }
        .Nav1{
            text-decoration: none;
            color: black;
        }
        #subhead>span{
            margin-top: -30px;
            display: flex;
            align-items: space-around;
        }
        #sort{
            margin-left: 700px;
            padding:0px 0px;
        }
        #sort>select>option{
            border: 1px solid rgb(229, 226, 226);
        }
        #content{
            display:flex;
            flex-direction: row;
        }
        #sec1{
            width:200px;
        }
        #sec2{
            margin-left: 10px;
        }
        .sec3{
            margin-top: -540px;
            margin-left: 175px;
        }
        .sec4,.sec5{
            margin-left: 175px;
        }
        .highlight{
            color:rgb(245, 22, 59)
        }
        footer{
            margin-left: 175px;
            margin-right: 175px;
            display: flex;
            justify-content: space-between;
        }
        footer>div>ul{
            margin-left: -39px;
        }
        .footlist{
            text-decoration-line: none;
            color:black
        }
        #last{
            margin-left: 175px;
            margin-right: 175px;
        }
        #last>.f{
            display:flex;
        }
        
       #last>.f>li>a{
        text-decoration-line:none;
        color:black
       }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="top">
        <img height="70" src="https://tse3.mm.bing.net/th?id=OIP.mcwv19vzBzCOl6r_0x2rMQHaHa&pid=Api&P=0&h=180" alt="">
        <ul type="none">
            <li><a class="Nav1" href=""><b>MEN</b></a></li>
            <li><a class="Nav1" href=""><b>WOMEN</b></a></li>
            <li><a class="Nav1" href=""><b>KIDS</b></a></li>
            <li><a class="Nav1" href=""><b>BEAUTY</b></a></li>
            <li><a class="Nav1" href=""><b>GENZ</b></a></li>
            <li><a class="Nav1" href=""><b>STUDIO <SUP STYLE="color:rgb(245, 22, 59) ;">NEW</SUP></b></a></li>
            <li><div style="border:1px solid rgb(229, 226, 226);padding:10px 50px 10px 10px;"><i class="fa-solid fa-magnifying-glass"></i> Search for products,brands and more</div></li>
            <li><a class="Nav1" href=""><center><i class="fa-regular fa-user"></i></center><br><b>PROFILE</b></a></li>
            <li><a class="Nav1" href=""><center><i class="fa-regular fa-heart"></i></center> <br><b>WHISHLIST</b></a></li>
            <li><a class="Nav1" href=""><center><i class="fa-regular fa-bag-shopping"></i></center><br><b>BAG</b></a></li>
        </ul>
    </div>
    <br><br><br><br><br>
    <hr style="border-color:rgb(229, 226, 226);">
    <div id="subhead">
        <p> Home / <b>Fwdgencollection</b></p>
        <p><b>Fwdgencollection - </b>2201737 items</p><br>
        <span><h4>FILTERS</h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p>Bundles</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p>Country of origin</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p>size</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
        <label for="sort" id="sort"></label>
        <select>
        <option value="">sort by: Recommended</option>
        <option value="">sort by: What's new</option>
        <option value="">sort by: Popularity</option>
        <option value="">sort by: Better Discount</option>
        <option value="">sort by: Price: High to low</option>
        <option value="">sort by: Price: Low to high" </option>
        <option value="">sort by: Customer rating</option></select></span>
    </div>
    <hr>
    <div id="content">
        <section id="sec1" style="height:1000px;">
            <div><input type="radio"><label>Men</label> <br><br>
                <input type="radio" checked><label>Women</label> <br><br>
            <hr>
            <H5>CATEGORIES</H5>
            <div>
            <input type="checkbox" ><label>Jeans</label><br><br>
            <input type="checkbox"><label>Dresses</label><br><br>
            <input type="checkbox"><label>Tshirts</label><br><br>
            <input type="checkbox" checked><label>Trousers</label><br><br>
            <input type="checkbox"><label>Handbags</label><br><br>
            <input type="checkbox"><label>jeans</label><br><br>
            <input type="checkbox"><label>Earrings</label><br><br>
            <P class="highlight">+254 MORE</P>
            </div>
            <H5>BRAND</H5>
            <div>
                <input type="checkbox"><label>H&M</label><br><br>
            <input type="checkbox"><label>LEVIS</label><br><br>
            <input type="checkbox"><label>Dressberry</label><br><br>
            <input type="checkbox"><label>Oomph</label><br><br>
            <input type="checkbox"><label>SNZ</label><br><br>
            <input type="checkbox"><label>Stylecast</label><br><br>
            <P class="highlight">+24 MORE</P>
            </div>
            <hr>
            <h5>PRICE</h5>
            <DIV>
                <input type="range" min="100" max="10000">
                <P class="highlight">100-10000+</P>
            </DIV>
            <hr>
            <H5>COLOR</H5>
            <div>
                <input type="checkbox"><label>BLACK</label><br><br>
            <input type="checkbox"><label>WHITE</label><br><br>
            <input type="checkbox"><label>BLUE</label><br><br>
            <input type="checkbox"><label>GREEN</label><br><br>
            <input type="checkbox"><label>GRAY</label><br><br>
            <input type="checkbox"><label>RED</label><br><br>
            <P class="highlight">+54 MORE</P>
            </div>
            <hr>
            <div>
            <input type="radio"><label>10% and above</label><br><br>
            <input type="radio"><label>20% and above</label><br><br>
            <input type="radio"><label>30% and above</label><br><br>
            <input type="radio"><label>40% and above</label><br><br>
            <input type="radio"><label>50% and above</label><br><br>
            <input type="radio"><label>60% and above</label><br><br>
            <input type="radio"><label>70% and above</label><br><br>
            <input type="radio"><label>80% and above</label><br><br>
            <input type="radio"><label>90% and above</label><br><br>
            </div>
        </section>
        <hr style="margin-left: 30px; margin-top: -10px;margin-bottom: -890px;">
        <section id="sec2" style="display: flex; justify-content: space-around; gap:20px;">
            <div class="items"><img src="https://image.hm.com/assets/hm/67/6f/676f21b1e0b649bfa04335e95f879f34099787fb.jpg?imwidth=657" alt="pic" height="300" width="250">
                <h3>Dressberry</h3>
                <p>Cigarette trousers</p>
                <h4>Rs. 1598</h4></div>
            <div class="items"><img src="https://image.hm.com/assets/hm/73/59/735923823cfab259aced736653e37e82f911c6bc.jpg?imwidth=657" alt="pic" height="300" width="250">
                <h3>H&M</h3>
                <p>beige Checked trousers</p>
                <h4>Rs. 1598</h4></div>
            <div class="items"><img src="https://tse3.mm.bing.net/th?id=OIP.YpU6-6Y8eTs7jawoEckxYAHaLH&pid=Api&P=0&h=180" alt="pic" height="300" width="250">
                <h3>Fab</h3><p>Trousers </p>
                <h4>Rs. 1598</h4></div>
            <div class="items"><img src="https://tse1.mm.bing.net/th?id=OIP.j_TRO2Lz2UdBD0UflQZb1AHaLH&pid=Api&P=0&h=180" alt="pic" height="300" width="250">
                <h3>Vougue studio</h3><p>wide leg trousers</p>
                <h4>Rs. 1598</h4></div>
            <div class="items"><img src="https://tse2.mm.bing.net/th?id=OIP.ydDYEyxtjxP3PJGuIrctVgHaJl&pid=Api&P=0&h=180" alt="pic" height="300" width="250">
                <h3>Louis philippe</h3>
                <p>boot cut trousers</p>
                <h4>Rs. 1598</h4></div> 
        </section>
        
    </div><div>
    <section class="sec3" style="display: flex; justify-content: space-around; gap:20px;">
            <div class="items"><img src="https://image.hm.com/assets/hm/67/6f/676f21b1e0b649bfa04335e95f879f34099787fb.jpg?imwidth=657" alt="pic" height="300" width="250">
                <h3>Dressberry</h3>
                <p>Cigarette trousers</p>
                <h4>Rs. 1598</h4></div>
            <div class="items"><img src="https://image.hm.com/assets/hm/73/59/735923823cfab259aced736653e37e82f911c6bc.jpg?imwidth=657" alt="pic" height="300" width="250">
                <h3>H&M</h3>
                <p>beige Checked trousers</p>
                <h4>Rs. 1598</h4></div>
            <div class="items"><img src="https://tse3.mm.bing.net/th?id=OIP.YpU6-6Y8eTs7jawoEckxYAHaLH&pid=Api&P=0&h=180" alt="pic" height="300" width="250">
                <h3>Fab</h3><p>Trousers</p>
                <h4>Rs. 1598</h4></div>
            <div class="items"><img src="https://tse1.mm.bing.net/th?id=OIP.j_TRO2Lz2UdBD0UflQZb1AHaLH&pid=Api&P=0&h=180" alt="pic" height="300" width="250">
                <h3>Vougue studio</h3><p>wide leg trousers</p>
                <h4>Rs. 1598</h4></div>
            <div class="items"><img src="https://tse2.mm.bing.net/th?id=OIP.ydDYEyxtjxP3PJGuIrctVgHaJl&pid=Api&P=0&h=180" alt="pic" height="300" width="250">
                <h3>Louis philippe</h3><p> boot cut trousers</p>
                <h4>Rs. 1598</h4></div> 
        </section></div>
    <br><br><br>
    <section class="sec4" style="display: flex; justify-content: space-around; gap:20px;">
            <div class="items"><img src="https://image.hm.com/assets/hm/67/6f/676f21b1e0b649bfa04335e95f879f34099787fb.jpg?imwidth=657" alt="pic" height="300" width="250">
                <h3>Dressberry</h3>
                <p>Cigarette trousers</p>
                <h4>Rs. 1598</h4></div>
            <div class="items"><img src="https://image.hm.com/assets/hm/73/59/735923823cfab259aced736653e37e82f911c6bc.jpg?imwidth=657" alt="pic" height="300" width="250">
                <h3>H&M</h3>
                <p>beige Checked trousers</p>
                <h4>Rs. 1598</h4></div>
            <div class="items"><img src="https://tse3.mm.bing.net/th?id=OIP.YpU6-6Y8eTs7jawoEckxYAHaLH&pid=Api&P=0&h=180" alt="pic" height="300" width="250">
                <h3>Fab</h3><p>Trousers </p>
                <h4>Rs. 1598</h4></div>
            <div class="items"><img src="https://tse1.mm.bing.net/th?id=OIP.j_TRO2Lz2UdBD0UflQZb1AHaLH&pid=Api&P=0&h=180" alt="pic" height="300" width="250">
                <h3>Vougue studio</h3><p>wide leg trousers</p>
                <h4>Rs. 1598</h4></div>
            <div class="items"><img src="https://tse2.mm.bing.net/th?id=OIP.ydDYEyxtjxP3PJGuIrctVgHaJl&pid=Api&P=0&h=180" alt="pic" height="300" width="250">
                <h3>Louis philippe</h3><p> boot cut trousers</p>
                <h4>Rs. 1598</h4></div> 
        </section></div>
    <br><br><br>
    <section class="sec5" style="display: flex; justify-content: space-around; gap:20px;">
            <div class="items"><img src="https://image.hm.com/assets/hm/67/6f/676f21b1e0b649bfa04335e95f879f34099787fb.jpg?imwidth=657" alt="pic" height="300" width="250">
                <h3>Dressberry</h3>
                <p>Cigarette trousers</p>
                <h4>Rs. 1598</h4></div>
            <div class="items"><img src="https://image.hm.com/assets/hm/73/59/735923823cfab259aced736653e37e82f911c6bc.jpg?imwidth=657" alt="pic" height="300" width="250">
                <h3>H&M</h3>
                <p>beige Checked trousers</p>
                <h4>Rs. 1598</h4></div>
            <div class="items"><img src="https://tse3.mm.bing.net/th?id=OIP.YpU6-6Y8eTs7jawoEckxYAHaLH&pid=Api&P=0&h=180" alt="pic" height="300" width="250">
                <h3>Fab</h3><p>Trousers</p>
                <h4>Rs. 1598</h4></div>
            <div class="items"><img src="https://tse1.mm.bing.net/th?id=OIP.j_TRO2Lz2UdBD0UflQZb1AHaLH&pid=Api&P=0&h=180" alt="pic" height="300" width="250">
                <h3>Vougue studio</h3><p>wide leg trousers</p>
                <h4>Rs. 1598</h4></div>
            <div class="items"><img src="https://tse2.mm.bing.net/th?id=OIP.ydDYEyxtjxP3PJGuIrctVgHaJl&pid=Api&P=0&h=180" alt="pic" height="300" width="250">
                <h3>Louis philippe</h3><p> boot cut trousers</p>
                <h4>Rs. 1598</h4></div> 
        </section></div>
        <hr>
        <footer>
            <div>
                <h4>ONLINE SHOPPING</h4>
                <ul type="none">
                    <li><a href="" class="footlist">Men</a></li>
                    <li><a href="" class="footlist">Women</a></li>
                    <li><a href="" class="footlist">Kids </a> </li>
                    <li><a href="" class="footlist">Home </a> </li>
                    <li><a href="" class="footlist">Beauty </a> </li>
                    <li><a href="" class="footlist">Genz </a> </li>
                    <li><a href="" class="footlist">Gift Cards </a> </li>
                    <li><a href="" class="footlist">Myntra Insider </a> </li>
                </ul>
                <h4>USEFUL LINKS</h4>
                <ul type="none">
                    <li><a href="" class="footlist"> Blog </a> </li>
                    <li><a href="" class="footlist"> Careers </a> </li>
                    <li><a href="" class="footlist"> Site Maps </a> </li>
                    <li><a href="" class="footlist"> Corporate Information </a> </li>
                    <li><a href="" class="footlist"> Whitehat </a> </li>
                    <li><a href="" class="footlist"> Cleartrip </a> </li>
                </ul>
            </div>
            <div>
                <h4>CUSTOMER POLICIES</h4>
                <ul type="none">
                    <li><a href="" class="footlist">Contact us</a></li>
                    <li><a href="" class="footlist">FAQ</a></li>
                    <li><a href="" class="footlist">T&C</a></li>
                    <li><a href="" class="footlist">Terms of use</a></li>
                    <li><a href="" class="footlist">Track Orders</a></li>
                    <li><a href="" class="footlist">Shipping</a></li>
                    <li><a href="" class="footlist">Cancellation</a></li>
                    <li><a href="" class="footlist">Returns</a></li>
                    <li><a href="" class="footlist">Privacy Policy</a></li>
                    <li><a href="" class="footlist">Grievance Redressal</a></li>
                </ul>
            </div>
            <div>
                <H4>EXPERIENCE MYNTRA APP ON MOBILE </H4>
                <img src="https://tse4.mm.bing.net/th?id=OIP.Gqq1zxH6Dofn1pa-dBEupAHaB7&pid=Api&P=0&h=180" alt="gplay" height="50px">
                <img src="https://tse2.mm.bing.net/th?id=OIP.uppakt_Q9Z1u0LuF1e9DqgHaC9&pid=Api&P=0&h=180" alt="ios" height="60px">
                <H4>KEEP IN TOUCH</H4>
                <i class="fa-brands fa-square-facebook fa-2x"></i> &nbsp;&nbsp;&nbsp;
                <i class="fa-brands fa-twitter fa-2x"></i> &nbsp;&nbsp;&nbsp;
                <i class="fa-brands fa-youtube fa-2x"></i> &nbsp;&nbsp;&nbsp;
                <i class="fa-brands fa-instagram fa-2x"></i> &nbsp;&nbsp;&nbsp;
            </div>
            <div>
                <p><b>100% ORIGINAL</b> guarantee for <br> all products at myntra.com</p>
            <p><b>Return within 14 days</b> of <br> receiving your order</p></div>
        </footer>
        <div id="last">
            <h4>POPULAR SEARCHES</h4><br>
            
                <ul type="none" class="f">
                    <li><a href="">Dishant Patel</a></li><hr>
                    <li><a href="">Men Sports Shoes</a></li><hr>
                    <li><a href="">Adidas</a></li><hr>
                    <li><a href="">Arrow</a></li><hr>
                    <li><a href="">Fila</a></li><hr>
                    <li><a href="">Online Shopping</a></li><hr>
                    <li><a href="">Nike</a></li><hr>
                    <li><a href="">Pepe Jeans</a></li><hr>
                    <li><a href="">H&M</a></li><hr>
                    <li><a href="">United Colors Of Benetton</a></li><hr>
                    <li><a href="">Fastrack</a></li><hr>
                    <li><a href="">Shorts</a></li><hr>
                    <li><a href="">Online Shopping</a></li><hr><br></ul>
                    
                <ul type="none" class="f">
                    <li><a href="">Dishant Patel</a></li><hr>
                    <li><a href="">Men Sports Shoes</a></li><hr>
                    <li><a href="">Adidas</a></li><hr>
                    <li><a href="">Arrow</a></li><hr>
                    <li><a href="">Fila</a></li><hr>
                    <li><a href="">Online Shopping</a></li><hr>
                    <li><a href="">Nike</a></li><hr>
                    <li><a href="">Pepe Jeans</a></li><hr>
                    <li><a href="">Puma</a></li><hr>
                    <li><a href="">United Colors Of Benetton</a></li><hr>
                    <li><a href="">Fastrack</a></li><hr>
                    <li><a href="">Shorts</a></li><hr>
                    <li><a href="">Online Shopping</a></li><hr><br></ul>
                    
                <ul type="none" class="f">
                    <li><a href="">Dishant Patel</a></li><hr>
                    <li><a href="">Men Sports Shoes</a></li><hr>
                    <li><a href="">Adidas</a></li><hr>
                    <li><a href="">Arrow</a></li><hr>
                    <li><a href="">Fila</a></li><hr>
                    <li><a href="">Online Shopping</a></li><hr>
                    <li><a href="">Nike</a></li><hr>
                    <li><a href="">Pepe Jeans</a></li><hr>
                    <li><a href="">Puma</a></li><hr>
                    <li><a href="">United Colors Of Benetton</a></li><hr>
                    <li><a href="">Fastrack</a></li><hr>
                    <li><a href="">Shorts</a></li><hr>
                    <li><a href="">Online Shopping</a></li><hr><br></ul>
                    
                    
            
        </div>
</body>
</html>