<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0%;
        box-sizing: border-box;
        padding: 0%;
    }
    nav{
        height: 60px;
        border: 2px solid;
           }
    section{
        display: grid;
        grid-template-columns: 80px 80px 80px;
        
 
    }
    #menu{
        height: 24px;
        width: 24px;
    }
    input{
        width: 300px;
    }

</style>
<body>
    <nav>
        <section>
            <div id="menu"> 
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" focusable="false" aria-hidden="true" style="pointer-events: none; display: inherit; width: 100%; height: 100%;"><path d="M21 6H3V5h18v1zm0 5H3v1h18v-1zm0 6H3v1h18v-1z"></path></svg>
            </div>
            <div>
                <img class="style-scope ytd-yoodle-renderer" src="https://www.gstatic.com/youtube/img/promos/b059fbcd17b463516dc3b0f171d1523467191a588b5c99ffe925e750cdc2c1c5_122x56.webp" alt="Meet the home renovation community">
            </div>
            <div>
                <input type="text" name="" id="">
            </div>
            
        </section>
    </nav>
</body>
</html>