<nav>
        <ol>
            <li id="line1">
                <img src="https://imgs.search.brave.com/uc0mFNntgN6ovyUQKDhY2OFOw5qEb5Pp-P3H9V7cTvE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/YnJhbmRmZXRjaC5p/by9pZGF3T2dZT3NH/L3RoZW1lL2xpZ2h0/L2xvZ28uc3ZnP2M9/MWJ4aWQ2NE11cDdh/Y3pld1NBWU1YJnQ9/MTcyMDE2NjQyMjcx/MQ" alt=""><p id="p1">.in</p>
            </li>
            <li id="line2" >
                <o>
                    <i class='bx bx-map'></i>
                </o>
                <div>
                <font>
                    Delivering to hyderabad
                </font>
                <p>
                  update location
                </p>                              
                </div>
            </li>
            <li>
               <li>  <input type="text" name="" id="" placeholder="Search Amazon.in"> <i class='bx bx-search' id="search"></i> </li>
            </li>
            <li><button>EN</button></li>
            <li>
            </li>
            <li> 
                Returns &<br>
                orders
            </li>
            <li id="cart"><i class='bx bx-cart'></i></li>
        </ol>
    </nav>
    <section id="sec0">
         <ol>
            <li><i class='bx bx-menu'></i><font>All</font></li>
            <li>Fresh <span><i class='bx bxs-down-arrow'></i></span>
            </li>
            <li>MX player</li>
            <li>Sell</li>
            <li>Best sellers</li>
            <li>Today's Deals</li>
            <li>Mobiles</li>
            <li>Prime <span><i class='bx bxs-down-arrow'></i></span> </li>
            <li>Customer Service</li>
            <li>Fashion</li>
            <li>New Releases</li>
            <li><img src="https://m.media-amazon.com/images/G/31/IN-Events/Shankhadip/AugArt24_Logo_75x75/AugART_PC_SWM_live_now_1x_v4._CB804614378_.jpg" alt=""></li>
         </ol>
         <!-- <img src="https://m.media-amazon.com/images/G/31/IN-Events/Shankhadip/AugArt24_Logo_75x75/AugART_PC_SWM_live_now_1x_v4._CB804614378_.jpg" alt=""> -->
    </section>
    <section id="sec1">
         <ol>
            <li id="amazon">Amazon Fashion</li>
            <li id="women">Women</li>
             <a href="{% url 'fashion2' %}"><li>Men</li></a>
            <li>Kids</li>
            <li>Bags&Luggage</li>
            <li>Sportswear</li>
            <li>Sales&deals</li>
         </ol>
    </section>
    