<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        *{
            box-sizing: border-box;
            margin: 0;
        }
        #nav-bar{
            width: 100%;
            padding-right: 0%;
            display: flex;
            justify-content: space-around;
        }
        #nav-bar a{
            margin-top: 20px;
            text-decoration: none;
            color: black;
        }
        #nav-bar input{
            height: 50px;
            width: 450px;
            background-color: rgb(247, 244, 244);
            border-radius: 8px;
            border-color: rgb(247, 244, 244);
            outline: none;
            border:none;
        }
        #image{
            /* padding: 30px; */
            margin-bottom: 40px;
        }
        #div1{
            padding-left: 5%;
            padding-top: 2%;
        }
        #box1{
            display: flex;
            gap:20px;

        }
        #box2{
            display: flex;
            gap:20px;
        }
         #div2{
            padding-left: 2%;
            padding-left: 5%;
        }
        
        #circleimage{
            display: flex;
            gap:15px;
        }
        #div3{
            padding-top: 2%;
            padding-left: 5%;
            /* padding: 5%; */
            
        }
        #box3{
            display: flex;
            gap: 15px;
            height: 400px;
            width: 400px;
        }
        #div4{
            padding-top: 1%;
            padding-left: 5%;
            width: 100%;
            
        }
        #box4{
            display: flex;
            gap: 15px;
            
        }
         #div5{
            padding-top: 2%;
            padding-left: 5%;
            
            
        }
        #box5{
            display: flex;
            gap: 15px;
            
            
        }
         #div6{
            padding-top: 2%;
            padding-left: 5%;
        }
        #box6{
            display: flex;
            gap: 15px;
        }
        #div7{
            padding-top: 2%;
            padding-left: 5%;
        }
        #box7{
            display: flex;
            gap: 15px;
        }
        #div8{
            padding-top: 2%;
            padding-left: 1%;
        }
        #box8{
            display: flex;
            gap: 15px;
        }
        #footer1{
            background-color: rgb(247, 244, 244);
        }
        ol{
            list-style: none;
        }
        li{
        font-size: 15px;
        line-height: 31px;
        }
        #foot-li1{
        color: gray;
        font-size: 12px;
        }
        #foot-li2{
        color: gray;
        font-size: 12px;
        }
         #foot-li3{
        color: gray;
        font-size: 12px;
        }
         #foot-li4{
        color: gray;
        font-size: 12px;
        }
        #foot-li5{
        color: gray;
        font-size: 12px;
        }
        #foot-li6{
        color: gray;
        font-size: 12px;
        }
        #foot-li7{
        color: gray;
        font-size: 12px;
        }
        #foot-li8{
        color: gray;
        font-size: 12px;
        }
         #foot-li9{
        color: gray;
        font-size: 12px;
        display: flex;
        }
         #foot-li10{
        color: gray;
        font-size: 12px;
        }
        #footer1{
            display: flex;
        }
        #footer2{
             background-color: rgb(247, 244, 244);
        }
        

    </style>
</head>
<body>
    <div id="nav-bar">
        <img height="60px" width="60px" src="https://tse1.mm.bing.net/th/id/OIP.oXQULGrNzN5P091CI1hq2wHaHa?pid=Api&P=0&h=180" alt="">
        <a href=""><b>MEN</b></a>
        <a href=""><b>WOMEN</b></a>
        <a href=""><b>KIDS</b></a>
        <a href=""><b>HOME</b></a>
        <a href=""><b>BEAUTY</b></a>
        <a href=""><b>GENZ</b></a>
        <a href=""><b>STUDIO</b></a>
        <form action="">
           <input type="text" placeholder=" Search for Products and Brands">
        </form>
        
        <a href=""><b>Profile</b></a>
        <a href=""><b>Wishlist</b></a>
        <a href=""><b>Bag</b></a>
    </div>
    <div id="image">
        <img height="400px" width="1290px" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/3/b54399f0-6ed5-44b3-84b0-e9d5c1657aaa1651599573991-CR7_Desk_Baner.jpg" alt="">
    </div>
    <div id="div1">
        <h1>BIGGEST DEALS ON TOP BRANDS</h1>
        <div id="box1">
            <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/1dce9c3e-77fa-48f1-85a3-d3c136c1d73e1598892377652-USPA.jpg" alt=""> 
            <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/0206da63-a7cc-4f83-8527-90d7dc74706b1598892377489-Skechers.jpg" alt="">
            <img src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/af31285e-f6a3-426e-bbea-0aedef9da17c1598892377537-Tommy-Hilfiger.jpg" alt="">
            <img src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/8d5afb84-a464-40af-9971-2e9f0827e9b71598892377591-UCB.jpg" alt=""> <br>
        </div> 
        <div id="box2">
            <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/a7d3676a-9694-4a84-835e-0408fdad884b1598892377407-Nike.jpg" alt="">
            <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/cec595c6-c7ec-4259-af8b-997a33a09ce71598892377444-Puma.jpg" alt="">
            <img src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/0206da63-a7cc-4f83-8527-90d7dc74706b1598892377489-Skechers.jpg" alt="">
            <img src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/d977e7ac-67dd-4fa6-b922-fe0057385dfa1598892377205-Crocs.jpg" alt="">
        </div>
    </div>
    <div id="div2">
        <h1>Categories To Bag</h1>
        <div id="circleimage">
            <img height="200px" width="210px" src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/89f1bd9d-3a28-456d-888a-beff717a06f81594222908155-Shirts.jpg" alt=""><br>
            <img height="200px" width="210px" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/9ff1f34e-9242-47fd-9566-e7d7a5c240511594222908483-T-shirt.jpg" alt=""><br>
            <img height="200px" width="210px" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/720cf6ef-3be4-4825-8211-0125c942e3821594222907960-Jeans.jpg" alt=""><br>
            <img height="200px" width="210px" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/2bac5e2d-337b-42c0-88c7-3d4e2dc464141594222908262-Shorts-_-Trousers.jpg" alt=""><br>
            <img height="200px" width="210px" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/ae14f627-9fd9-41ce-80a4-f107c316c7eb1594222907625-Casual-shoes.jpg" alt=""><br>
            <img height="200px" width="210px" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/f0f9b81a-b9d5-4b8b-94d5-ea878fa9b18e1594222834121-Infant-Essential.jpg" alt=""><br>
        </div>
    </div>
    <div id="div3">
        <h1>Explore Top Brands</h1>
        <div id="box3">
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/a88b9390-5adb-493b-a1b3-702c59ccf53a1598348260502-Nike.jpg" alt=""><br>
            <img src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/c9f66558-feab-4d76-aa3c-adc68d81dce21598348260415-Levis.jpg" alt=""><br>
            <img src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/5/178c1e5d-69f2-402f-a2a5-ef44700a0f691596640983793-Roadster---.jpg" alt=""><br>
            <img src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/085719b1-c71e-4f47-950c-9a6b7f291fac1598348260370-Jack-_-Jones.jpg" alt=""><br>
            <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/5/774f42c4-f459-4514-9b90-cf8a60a5f68c1596644478087-hrx30.jpg" alt=""><br>
        </div>
    </div>
    <div id="div4">
        <h1>Myntra Luxe</h1>
        <div id="box4">
            <img height="350px" width="200px"  src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/11/17/480f4bde-1d72-4517-be6d-af2dfef7528e1637149111337-MP-Collective.jpg" alt=""> <br>
            <img  height="350px" width="200px" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/11/17/cadd8457-b8ec-464c-9bc6-6082a24075591637149111331-MP-OriginalPenguin.jpg" alt=""> <br>
            <img height="350px" width="200px"  src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/11/17/85fa3b9b-9e7c-43a5-9de0-1cb32f3180151637149111314-MP-Farah.jpg" alt=""> <br>
            <img height="350px" width="200px"  src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/11/17/e185b9a2-0c12-4379-a85c-a4ceed2fe9931637149111326-MP-D1Milano.jpg" alt=""> <br>
            <img height="350px" width="200px"  src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/11/17/ab5c5029-d24f-4789-979c-d4910801ea191637149111321-MP-HUGOBoss.jpg" alt=""> <br>
            <img height="350px" width="200px"  src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/11/17/621ce33b-3383-4347-99bf-2038b95f27151637149369429-MP-Ducati.jpg" alt=""> <br>
        </div>
    </div>
    <div id="div5">
        <h1>Trending In Indian Wear</h1>
        <div id="box5">
            <img height= "400px" width= "250px" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/a9f68785-e282-425a-b270-c978c387b0f31597840342635-Content-ethnicwear-color-whites.jpg" alt=""><br>
            <img height= "400px" width= "250px" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/0d1e0a28-3088-4719-a692-4cdaa7a33cc71597840342726-Content-ethnicwear-occasion-casuallook.jpg" alt=""><br>
            <img height= "400px" width= "250px" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/28/9d248917-d1b0-4910-8de0-4ed7c2b4af8e1595935030939-Content-ethnicwear-trends-printedkurtaset.jpg" alt=""><br>
            <img height= "400px" width= "250px" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/28/83d9ca97-4aa3-46ce-bd28-b135d3b94a021595935030673-Content-ethnicwear-essentials-everydaykurtas.jpg" alt=""><br>
            <img height= "400px" width= "250px" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/28/9e4fb95e-6268-49c5-9ed1-e6b1bd4b5efd1595935030880-Content-ethnicwear-trend-fashionmeetcomfort.jpg" alt=""><br>
        </div>
    </div>
    <div id="div6">
        <h1>Trending In Indian Wear</h1>
        <div id="box6">
            <img height= "400px" width= "250px" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/8becef46-f822-4874-b92a-a7cc7f58819d1597841103131-Content-sportswear-brand-nike.png" alt=""><br>
            <img height= "400px" width= "250px" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/7472ab66-adf2-4d1d-9379-4770a73c1efe1597841103172-Content-sportswear-brand-proline.png" alt=""><br>
            <img height= "400px" width= "250px" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/65bafbc5-f83b-4158-8168-f7553043814c1597841103082-Content-sportswear-brand-Asics.png" alt=""><br>
            <img height= "400px" width= "250px" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/4aa58fe6-8c61-4e37-9fa8-436c31aecb211597840566511-Content-sportswear-essentials-activewear.png" alt=""><br>
            <img height= "400px" width= "250px" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/retaillabs/2020/8/21/eedc6c0c-c28b-4ccb-952f-a302c96c59ba1598030134978-Content-mostselling-Sportswear-Nikerevolution.jpeg" alt=""><br>
        </div>
    </div>
    <div id="div7">
        <h1>Trending In Footwear</h1>
        <div id="box7">
            <img height= "400px" width= "250px" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/28/647e166b-f645-443a-892d-df84ee345e781595935221231-Content-Footwear-men-Neutral-shades.jpg" alt=""><br>
            <img height= "400px" width= "250px" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/28/9654b0f9-42a9-4111-a4b7-27b26c5a22d41595935221284-Content-Footwear-Unisex-Sneakers-for-Dancers_.jpg" alt=""><br>
            <img height= "400px" width= "250px" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/retaillabs/2020/8/20/be0b0d6f-7c72-4752-859f-ee44902ff7171597912691244-Content-footwear-trend-sneakersmen.jpg" alt=""><br>
            <img height= "400px" width= "250px" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/a84d687a-1ff3-4b06-a47b-48021ba7cec11597840342959-Content-footwear-occasion-outbackoutdoor.png" alt=""><br>
            <img height= "400px" width= "250px" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/49dd1ce9-d627-4c6e-b544-4be7e1f24a091597840342867-Content-footwear-essentials-flipflops.jpg" alt=""><br>
    </div>
    </div>
    <div id="div8">
        <h1>Trending In Indian Wear</h1>
        <div id="box8">
            <img height= "400px" width= "250px" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/28/2bcf907c-bc21-44cb-9021-7575a963b0ef1595934830671-Content-Accesories-Unisex-True-wirless-lets-get-free.jpg" alt=""><br>
            <img height= "400px" width= "250px" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/28/bddd9c73-e4f1-43c0-a073-2ff3c0e376b51595934830554-Content-Accesories-men-Sporty-Watches_.jpg" alt=""><br>
            <img height= "400px" width= "250px" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/5e68d729-b955-431c-930c-931d8b452d421597840217983-Content-accessories-color-white.png" alt=""><br>
            <img height= "400px" width= "250px" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/8363b55c-446f-4de2-bc5b-e75fd6fdfb2d1597840217862-Content-accessories-brand-fastrack.png" alt=""><br>
            <img height= "400px" width= "250px" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/274b3659-420d-43c2-8e4c-17249e6eaf8d1597840218139-Content-accessories-trend-minimalist.png" alt=""><br>
        </div>
    </div>
    <footer>
        <div id="footer1">
            <div id="foot-li1">
                <ol>
                <li>ONLINE SHOPPING</li>
                <li>Men</li>
                <li>Women</li>
                <li>Kids</li>
                <li>Home</li>
                <li>Beauty</li>
                <li>Genz</li>
                <li>Gifts Cards</li>
                <li>Myntra Insider</li>
            </ol>
            </div>
           <div  id="foot-li2">
             <ol>
                <li>CUSTOMER POLICIES</li>
                <li>Contact Us</li>
                <li>FAQ</li>
                <li>T&C</li>
                <li>Teams of Use</li>
                <li>Track Orders</li>
                <li>Shipping</li>
                <li>Cancellation</li>
                <li>Returns</li>
                <li>Privacy policy</li>
                <li>Grievance Redressal</li>
            </ol>
           </div>
           <div  id="foot-li3">
             <ol>
                <li>EXPERIENCE MYNTRA APP ON MOBILE</li>
                <li><img height="80px" width="80px" src="https://constant.myntassets.com/web/assets/img/80cc455a-92d2-4b5c-a038-7da0d92af33f1539674178924-google_play.png" alt=""></li>
                <li><img height="80px" width="80px" src="https://constant.myntassets.com/web/assets/img/bc5e11ad-0250-420a-ac71-115a57ca35d51539674178941-apple_store.png" alt=""></li>
            </ol>
           </div>
           <div id="foot-li4">
                <ol>
                    
                    <li><img height="50px" width="50px" src="https://constant.myntassets.com/web/assets/img/6c3306ca-1efa-4a27-8769-3b69d16948741574602902452-original.png" alt="">100% ORIGINAL guarantee for <br> all products at myntra.com</li>
                    <li><img height="50px" width="50px"src="https://assets.myntassets.com/assets/images/retaillabs/2023/5/22/becb1b16-86cc-4e78-bdc7-7801c17947831684737106127-Return-Window-image.png" alt="">Return within 14days of <br> receiving your order</li>
                </ol>
           </div>
           </div>
          <div id="footer2">
             <div  id="foot-li5">
             <ol>
                <li>USEFUL LINKS</li>
                <li>Blog</li>
                <li>Careers</li>
                <li>Site Map</li>
                <li>Corporate Information</li>
                <li>Whitehat</li>
                <li>Cleartrip</li>
                <li>Myntra Global</li>
            </ol>
           </div>
           <div  id="foot-li6 ">
            <p>POPULAR SEARCHES <hr> </p>
            <p>Sherwani | Track Pants | Blazers | Sweaters For Men | Men Wedding Dresses | Kurta Pajama | Raincoats | Shorts | Trousers | Waistcoat | Inner Wear | Nightwear | Jeans | Shirts | Jogger Jeans | Men Suits | T Shirts | Sweatshirts | Jackets For Men | Tracksuits | Ripped Jeans | Ethnic Wear|  Hoodies | Raksha Bandhan Gifts | Watches | Shoes | Belts | Swimwear | Dhotis | Boxers | Vests | Thermals | Socks | Shrugs | Bracelets | Rings | Sunglasses | Headphones | Wallets|  Helmets | Caps | Mufflers | Gloves | Ties | Cufflinks | Men Sandals | Floaters | Flip Flops | Trunks  |Bags</p>
           </div>
           <div  id="foot-li7">
            <p>In case of any concern, Contact Us</p>
            <p>© 2025 www.myntra.com. All rights reserved.</p>
            <p>A Flipkart company</p>
           </div> <hr>
           <div  id="foot-li8">
            MEN'S SHOPPING AT MYNTRA: A SUPERIOR EXPERIENCE
            Myntra is one of the best sites when it comes to online shopping for men. The finest of material, superior design and unbeatable style go into the making of our men’s shopping collection. <br> Our range of online shopping men’s wear, accessories, footwear and personal care products are second to none. Compared with other men’s shopping sites, Myntra brings you the best <br> price products which won’t hurt your pocket. With seasonal discounts on trendy casual wear, suits, blazers, sneakers and more,  online shopping for men at Myntra just gets even more <br> irresistible!
           </div> <hr>
           <div  id="foot-li9">
            ONLINE SHOPPING FOR MEN: OPTIONS UNLIMITED
            At Myntra, our online shopping fashion for men collection features plenty of options to create multiple outfits. At our men's online shop we have brought together an exhaustive range of products from the best men's brands. Here is a list of must-haves from the wide variety of awesome products at Myntra:

            Opt for a charming yet laid-back look with cool T-shirts and casual shirts worn with stylish jeans, casual trousers or shorts. Stay sharp and sophisticated with our smart options in formal shirts and trousers. Look dapper when meeting your clients in our smooth suits. Put on trendy blazers for formal occasions. On your online men's clothe's shopping journey, make sure you include kurtas, jackets and sherwanis from our festive wear collection. Stay warm and comfortable in sweaters and sweatshirts. Get fit and ready for adventure, with our sports and active wear collection.
            Once you are done with your online men's clothe's shopping, make sure you pick up the right accessories to complement your look. Whether you are travelling to work or outside the city our wide variety of bags, backpacks and luggage collection will ensure you are well-packed. Our beautiful watches and smart watches work well to enhance your overall style quotient. Reach out for our sunglasses during the summers – let your eyes stay protected while you opt for maximum swag.
            Bring impeccable style to your shoe closet with our incredible collection of footwear for men. Look classy during formal and semi-formal occasions with derbies, loafers and oxfords. Stay hip and happening in parties with boat shoes, monks and brogues from our casual men's footwear range. Lead an active lifestyle with sneakers and running shoes from our sports footwear selection. Pick up sandals, floaters and flip-flops for a trip to the beach. We also host socks in our men’s online shopping collection. That’s basically everything under one roof!
            Make sure you check out fun printed men's T-shirts featuring your favourite characters from DC Comics and Marvel studios. Relive the magic of your favourite superhero from Justice League. Fly high with Superman, battle the bad guys with Batman, or get trendy in lightning-speed with a Flash T-shirt. Grab our cool Marvel Avengers T-shirts. Stay powered up with the Iron Man, or walk with the warriors in a Thor T-shirt.

            Our online shopping fashion for mens collection includes even more amazing merchandise such as innerwear, sleepwear, track pants, personal care, wallets, belts and other fashion accessories.
                    
    </div> <hr>
    <div  id="foot-li10">
        <p>MEN'S SHOPPING MADE EASY AT MYNTRA
        Myntra is the most convenient men's online store, what with our simplified shopping and payment procedures. With just a few clicks of the mouse or taps on your smartphone, you can buy your favorites from the best men’s brands right away.</p>
    </div>
          </div>
    </footer>
</body>
</html>